﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageAboutUsViewModel>
@{
    Layout = "Layout.cshtml";

}

<style>
    .inner4_main a {
        color:#f77e2e;
        text-decoration:none;
    }
</style>

@if (Model.HasEntryContent) { 
<!-- Banner Start: -->
<div class="inner3_banner_bg">
    <!--<div class="color-border"><img src="images/color_divider.png" width="1350" height="6" alt="" title=""></div>-->
    <div class="inner3_container">
        <div class="inner3_ban">
            <section class="inner3_ban_lft" @Html.Raw(Model.EntryContent.HasImage ? "" : "style=\"width:100%\"")>
                <h2>@Model.EntryContent.Title</h2>
                @Html.Raw(Model.EntryContent.Content)
            </section>
            @if (Model.EntryContent.HasImage) { 
            <div class="inner3_ban_rgt">
                <img src="@Model.EntryContent.ImageUrl" width="554" height="447" alt="ban_img">
            </div>
            }
            <div class="clear"></div>
        </div>


    </div>
    <div class="border_bot"><img src="/images/pattern_border.png" width="1350" height="15" alt="" title=""></div>
</div>
<!-- Banner Ends: -->
}

@if (Model.HasFormContent) { 
<!-- Main Container -->
<div class="inner3_main">
    <div class="inner3_container">
        <div class="inner4_main">
            <section class="inner4_main_lft">
                <h2>@Model.FormContent.Title</h2>
                <p>@Html.Raw(Model.FormContent.Content)</p>
                
                <form id="contact_form" class="fill-form" name="contact_form" method="post" onsubmit="return checkEmpty();" action="">
                    
                    <ul>
                        
                        <li>
                            <div id="msg" style="color:green;">
                                
                            </div>
                            <div class='country-wrapper'>
                                <div class='error-required'>This field is required.</div>
                                <!--<div class="country">
                                    <select name="fcountry" class="fcountry" id="fcountry">
                                        <option value="Subject">Subject</option>
                                        <option value="Option 1">Option 1</option>
                                        <option value="Option 2">Option 2</option>
                                        <option value="Option 3">Option 3</option>
                                    </select>
                                </div>
                                <div class="country aaa_out">
                                    <!--select name="fcountry" class="aaa fcountry" id="fcountry">
                                        <option value="Subject">Subject</option>
                                        <option value="Option 1">Option 1</option>
                                        <option value="Option 2">Option 2</option>
                                        <option value="Option 3">Option 3</option>
                                    </!select>
                                    
                                </div-->
                                <input type="text" class="fcountry" id="fsubject" value="Subject" onclick="if(this.value=='Subject'){this.value=''}" onblur="if(this.value==''){this.value='Subject'}" />
                            </div>
                        </li>
                        <li>
                            <div class='name-wrapper'>
                                <div class='error-required'>This field is required.</div>
                                <input type="text" class="name half-field" id="fname" name="fname" value="Your Name" onclick="if(this.value=='Your Name'){this.value=''}" onblur="if(this.value==''){this.value='Your Name'}">
                            </div>

                            <div class='email-wrapper'>
                                <div class='error-required'>This field is required.</div>
                                <div class='error-email'>Valid email is required.</div>
                                <input class="textfield email half-field" name="femail" id="femail" type="text" value="Email Address" onclick="if(this.value=='Email Address'){this.value=''}" onblur="if(this.value==''){this.value='Email Address'}">


                                <strong class="clear"></strong>
                            </div>
                        </li>
                        <li>
                            <div class='msg-wrapper'>
                                <div class='error-required'>This field is required.</div>
                                <textarea class="txt_area msg" id="fmessage" name="fmessage" cols="1" rows="1" onclick="if(this.value=='Your message'){this.value=''}" onblur="if(this.value==''){this.value='Your message'}">Your message</textarea>
                            </div>

                        </li>
                        <li>
                            <input type="hidden" name="nodeId" id="nodeId" value="@Model.Content.Id" />
                            <input name="" type="button" value="SUBMIT" class="but_sub but_sub4">

                            <span class="errS"></span>
                            <span class="f_success"></span>
                            <input type="hidden" name="admin_email" id="admin_email" value="xxxxx@email.com">
                        </li>
                    </ul>
                </form>
            </section>
            <section class="inner4_main_rgt">
                @if (Model.FormContent.HasQuote) { 
                <p>“@Html.Raw(Model.FormContent.Quote)”</p>
                }
                <h2>@Model.FormContent.Author 
                    <span>@Model.FormContent.Signature</span>
                </h2>
            </section>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- Main Container -->
}