﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageActivateViewModel>
@{
    Layout = "Layout.cshtml";
}

<div class="inner3_container">
    <section class="inner4_main_lft">
        <h1 style="text-align:left;margin-bottom:32px;margin-top:62px;">@Model.Title</h1>
        <p>
            @Model.Body.ToLineBreaksHtml()
        </p>

        <ul>
            <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=@(Model.PayPalLinkID)" class="but_sub" style="background-color:#85c075;font-weight:normal;text-decoration:none;">Proceed to Paypal</a></li>
        </ul>
        <br/>
        <br />
        <br />
    </section>
</div>