﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageActivateViewModel>
@{
    Layout = "LayoutV2.cshtml";
}

<section>
    <div class="activate_mbmbrshpsec">
        <div class="container">
            <div class="activatembmbr_inn">
                <div class="topmbmbrshp_sec">
                    <h1>@Model.Title</h1>
                    @Html.Raw(Model.Body)
                    @*<h1>Activate Your Membership</h1>
                    <em>Your registration details have been received!</em>
                    <p>To activate your membership today for only $59.95 and receive a bonus year of membership aboslutely free, simply click on the ‘Proceed to Paypal’ button below to continue.</p>*@
                </div>
                <div class="mbmbrshplisted_sec">
                    @Html.Raw(Model.BodyB)
                    @*<h2>What happens next?</h2>
                    <ul>
                        <li> <em>1</em> <p>Complete your payment to activate your membership</p></li>
                        <li> <em>2</em> <p>You can then specify your holiday preferences and home swap details</p></li>
                        <li> <em>3</em> <p>Your membership is instantly activated, giving you access to Australia’s<br> largets range of house swap holiday offers!</p></li>
                    </ul>*@
                </div>
                <div class="paypalsec">
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=@(Model.PayPalLinkID)">Proceed to <strong>PayPal</strong> <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <div class="brandlogo_sec">
                        @if (Model.CreditCards != null && Model.CreditCards.Any())
                        {
                            <ul>
                                @foreach (var card in Model.CreditCards)
                                {
                                    <li>
                                        @if (card.Link != null)
                                        {
                                            <a href="@card.Link.Link" target="@card.Link.Target">
                                                @if (card.Image != null)
                                                {
                                                    <img src="@card.Image.Url" alt="@card.Image.TitleText">
                                                }
                                            </a>
                                        }
                                        else
                                        {
                                            if (card.Image != null)
                                            {
                                                <img src="@card.Image.Url" alt="@card.Image.TitleText">
                                            }
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                    
                    <p>@Html.Raw(Model.Tip)</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.Testimonial != null) { 
<section>
    <div class="recommend_sec">
        <div class="container">
            <div class="row">
                <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                @if (Model.Testimonial.Image != null) {
                    <aside class="rcmnd_left">
                        <img src="@Model.Testimonial.Image.Url" alt="@Model.Testimonial.Image.TitleText">
                    </aside>
                }
                </aside>
                <aside class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <aside class="rcmnd_right">
                        <p>“@Model.Testimonial.Content”</p>
                        <em>@Model.Testimonial.Title</em>
                        <div class="learnmore">
                        @if (Model.Testimonial.LinkA != null) {
                            <a href="@Model.Testimonial.LinkA.Link" target="@Model.Testimonial.LinkA.Target">@Html.Raw(Model.Testimonial.LinkA.Title)</a>
                        }
                        @if (Model.Testimonial.LinkB != null)
                        {
                            <a href="@Model.Testimonial.LinkB.Link" target="@Model.Testimonial.LinkB.Target">@Html.Raw(Model.Testimonial.LinkB.Title)</a>
                        }
                        </div>
                    </aside>
                </aside>
            </div>
        </div>
    </div>
</section>  
}