﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}
@Html.Partial("_AdminBreadCrumb", Model.Content)
<!-- Main Container -->
<div class="inner7_bg" style="height:400px;">
    <div class="inner3_container">
        <div class="inner7_main">
            
            <div class="inner7_in">
                <div class="inner7_block1 blk1">
                    <section class="inner_custom">
                        <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminMemberSearch)" style="font-size:18px;color:black;">Members</a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>    
                    
<!-- Main Container -->
