﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageAdminMemberEditViewModel>
@{

    Layout = "Layout.cshtml";
}
@Html.Partial("_AdminBreadCrumb", Model.Content)
<!-- Main Container -->
<div class="inner7_bg">
    <div class="inner3_container">
        <div class="inner7_main">

            <div class="inner7_in">
                <div class="inner7_block1 blk1">
                    <section class="inner_custom">
                        <h2>Member Details</h2>
                    @using (Html.BeginUmbracoForm("SaveMemberDetail", "PageAdminMemberEdit", FormMethod.Post))
                    { 
                        <ul>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Member ID:</label>
                                    @Model.MemberID
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Channel:</label>
                                    @Model.Channel
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>First name:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" value="@Model.FirstName" name="firstname" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Given name:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" value="@Model.GivenName" name="givenname" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Email Address:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" value="@Model.EmailAddress" name="emailaddress" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Status:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <select name="status">
                                        @foreach (var dd in Model.StatusDropdown)
                                        {
                                            <option value="@dd.StatusId" @(Model.MemberStatus == dd.StatusId ? "selected" : "")>@dd.StatusName</option>
                                        }
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label style="vertical-align:top;">Introduction:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <textarea rows="10" name="introduction">@Model.Introduction</textarea>
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>People Travelling:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <select>
                                        <option>Number of Adults</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <label></label>
                                <select>
                                    <option>Number of Children</option>
                                </select>
                            </li>
                            <li class="clist">
                                <div class='msg-wrapper'>
                                    <label>Types of Holidays:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <ul>
                                        <li><input type="checkbox" /> Weekend escape</li>
                                        <li><input type="checkbox" /> Easter holidays</li>
                                        <li><input type="checkbox" /> Christmas holidays</li>
                                        <li><input type="checkbox" /> School holidays</li>
                                        <li><input type="checkbox" /> Short break (up to a month)</li>
                                        <li><input type="checkbox" /> Extended break (1-3 months)</li>
                                        <li><input type="checkbox" /> Long term (3 months+)</li>
                                        <li><input type="checkbox" /> Other dates</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="clist">
                                <div class='msg-wrapper'>
                                    <label>Types of Swaps:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <ul>
                                        <li><input type="checkbox" /> Simultaneous</li>
                                        <li><input type="checkbox" /> Non-simultaneous</li>
                                        <li><input type="checkbox" /> Hospitality</li>
                                        <li><input type="checkbox" /> House Sitting</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <label>Swaps So Far</label>
                                <input type="text" />
                            </li>
                            <li>
                                <label>Open to Last Minute Offers</label>
                                <select>
                                    <option>Yes</option>
                                    <option>No</option>
                                </select>
                            </li>
                            <li>
                                <label>Is MultiChannel?</label>
                                <input type="checkbox" name="ismultichannel" @(Model.IsMultiChannel ? "checked" : "") />
                            </li>
                            <li>
                                <label></label>
                                <input type="hidden" name="id" value="@Model.MemberID"/>
                                <input type="submit" value="Save" class="cbtn cbtn-default" />
                            </li>
                        </ul>
                    }
                        
                        <h2 style="margin-top:70px;">Member Destinations</h2>
                        <ul>
                            @foreach (var item in Model.MemberDestinations)
                            {
                                <li>
                                    @using (Html.BeginUmbracoForm("SaveMemberDestination", "PageAdminMemberEdit")) {
                                    <input type="text" name="destination" value="@item.Destination" />
                                    <select name="countrycode">
                                        <option value="">Please select...</option>
                                        @foreach (var country in Model.Countries) {
                                            <option value="@country.Code" @(item.CountryCode == country.Code ? "selected" : "")>@country.Name</option>
                                        }
                                    </select>
                                    <input type="hidden" value="@item.ID" name="destinationid" />
                                    <input type="submit" value="Save" class="cbtn cbtn-small"/>
                                    }
                                </li>
                            }
                            @if (Model.MemberDestinations.Count < 10) { 
                                for (int i = 0; i < (10 - Model.MemberDestinations.Count()); i++)
                                {
                                    <li>
                                        @using (Html.BeginUmbracoForm("SaveMemberDestination", "PageAdminMemberEdit")) {
                                        <input type="text" name="destination" />
                                        <select name="countrycode">
                                            <option value="">Please select...</option>
                                            @foreach (var country in Model.Countries) { 
                                            <option value="@country.Code" >@country.Name</option>
                                            }
                                        </select>
                                        <input type="hidden" value="0" name="destinationid" />
                                        <input type="submit" value="Save" class="cbtn cbtn-small" />
                                        }
                                    </li>
                                }
                            }
                        </ul>
                        <br />
                        <br />
                        <ul>
                            <li>
                                <label>Enquiries made:</label>
                                TODO
                            </li>
                            <li>
                                <label>Enquiries received:</label>
                                TODO
                            </li>
                            <li>
                                <label>IP Address:</label>
                                TODO
                            </li>
                            <li>
                                <label>Channel:</label>
                                TODO
                            </li>
                            <li>
                                <label>Date Joined:</label>
                                @Model.CreatedDate
                            </li>
                            <li>
                                <label>Last Updated:</label>
                                @Model.LastUpdated
                            </li>
                            <li>
                                <label>Last logged in:</label>
                                @Model.LastLoggedIn
                            </li>
                            <li>
                                <label>Subscription due:</label>
                                    
                            </li>
                        </ul>
                        <br/>
                        <br />
                        <input type="button" class="cbtn cbtn-default" value="Update"/>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Container -->