﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageAdminHomeEditViewModel>
@{

    Layout = "Layout.cshtml";
    var x = Model.Content;
}

@Html.Partial("_AdminBreadCrumb", Model.Content)

<!-- Main Container -->
<div class="inner7_bg">
    <div class="inner3_container">
        <div class="inner7_main">

            <div class="inner7_in">
                <div class="inner7_block1 blk1">
                    <section class="inner_custom">
                        <h2>Home Details</h2>
                        @using (Html.BeginUmbracoForm("SaveHomeDetails", "FormAdminHomeEdit")) { 
                        <ul>
                            <li>
                                <label>Home ID</label>
                                <input type="hidden" name="homeid" value="@Model.HomeID"/>
                                @Model.HomeID
                            </li>
                            <li>
                                <label>Member ID</label>
                                <input type="text" value="@Model.MemberID" name="memberid" />
                            </li>
                            <li>
                                <label>Priority Rank</label>
                                <input type="text" value="@Model.PriorityRank" name="priorityrank" />
                            </li>
                            <li>
                                <label>
                                    Status
                                </label>
                                <select>
                                    <option>Active</option>
                                    <option>PendingApproval</option>
                                    <option>Archieved</option>
                                    <option>Draft</option>
                                    <option>Deleted</option>
                                </select>
                            </li>
                            <li>
                                <label></label>
                                <input type="submit" value="Save" class="cbtn cbtn-small"/>
                            </li>
                        </ul>
                        <br/><br /><br />
                        <h2>Home Location</h2>
                        <ul>
                            <li>
                                <label>City</label>
                                <input type="text" value="@Model.City" name="city"/>
                            </li>
                            <li>
                                <label>Location</label>
                                <input type="text" value="@Model.Location" name="location"/>
                            </li>
                            <li>
                                <label>Suburb</label>
                                <input type="text" value="@Model.Suburb" name="suburb" />
                            </li>
                            <li>
                                <label>Postcode</label>
                                <input type="text" value="@Model.PostCode" name="postcode" />
                            </li>
                            <li>
                                <label></label>
                                <input type="submit" value="Generate Map" class="cbtn cbtn-small" />
                            </li>
                        </ul>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Container -->