﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageAdminMemberSearchViewModel>
@{
    Layout = "Layout.cshtml";
}

@Html.Partial("_AdminBreadCrumb", Model.Content)
<!-- Main Container -->
<div class="inner7_bg">
    <div class="inner3_container">
        <div class="inner7_main">

            <div class="inner7_in">
                <div class="inner7_block1 blk1">
                    <section class="inner_custom">
                        <h2>Member search</h2>
                        <ul id="admin-member-search">
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Member ID:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" value="" name="memberid" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Home ID:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" value="" name="homeid" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Firstname:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" value="" name="firstname" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Givenname</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" value="" name="givenname" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Email Address:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" value="" name="emailaddress" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Show current only:</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="checkbox" value="" name="showcurrentonly" checked/>
                                </div>
                            </li>
                            <li>
                                <input type="hidden" id="summary-url" value="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminMemberSummary)"/>
                                <input type="hidden" id="send-email-url" value="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminSendEmail)" />
                                <input type="button" id="submit" value="Search" class="cbtn cbtn-default" />
                            </li>
                        </ul>
                        
                        <br />
                        <br />
                        <div class="inner6_table_bg">
                            <div class="inner6_table_con">
                                <div class="inner6_table_con_top admin-member-results-header">
                                    <ul>
                                        <li><span>NAME</span></li>
                                        <li><span>EMAIL</span></li>
                                        <li><span>DATE JOINED</span></li>
                                        <li><span>LAST LOGGED IN</span></li>
                                        <li><span>MEMBER STATUS</span></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="inner6_table_in admin-member-results" id="admin-member-results">
                                    
                                </div>
                            </div>
                        </div>
                        <br/>
                        <span><span id="record-count">0</span> results returned</span>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Main Container -->
