﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageAdminMemberSummaryViewModel>
@{
    
    Layout = "Layout.cshtml";
}
@Html.Partial("_AdminBreadCrumb", Model.Content)
<!-- Main Container -->
<div class="inner7_bg">
    <div class="inner3_container">
        <div class="inner7_main">

            <div class="inner7_in">
                <div class="inner7_block1 blk1">
                    <section class="inner_custom">
                        <h2>Member Details</h2>
                        <ul>
                            @using (Html.BeginUmbracoForm("UpdateMemberDetail", "FormAdminMemberSummary"))
                            {
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Member ID</label>
                                    @Model.MemberID
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Channel</label>
                                    @Model.ChannelName
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>First name</label>
                                    @Model.FirstName
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Given name</label>
                                    @Model.GivenName
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Email address</label>
                                    @Model.EmailAddress
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Status</label>
                                    <div class='error-required'>This field is required.</div>
                                    <select name ="status">
                                        @foreach (var item in Model.StatusDD)
                                        {
                                            <option value="@item.StatusId" @(item.StatusId.ToString() == Model.Status ? "selected" : "")>@item.StatusName</option>
                                        }
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Is MultiChannel?</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="checkbox" name="ismultichannel" @(Model.IsMultiChannel ? "checked" : "") />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label>Receive Newsletter</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="checkbox" name="receivenewsletter" @(Model.ReceiveNewsletter ? "checked" : "") />
                                </div>
                            </li>
                            <li>
                                <input type="hidden" name="memberid" value="@Model.MemberID"/>
                                <input type="submit" class="cbtn cbtn-small" value="Save" />
                            </li>
                            }
                            <li>
                                <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminMemberEdit)?id=@Model.MemberID" class="cbtn cbtn-small">Edit Detail</a>
                                <a href="~/Impersonate.aspx?id=@Model.MemberID&email=@Model.EmailAddress" class="cbtn cbtn-small" target="_blank">Impersonate</a>
                            </li>
                        </ul>
                        
                        <br/>
                        <br/>
                        @if (Model.HomeCollection != null) { 
                        <h2>Home Details</h2>
                        <ul>
                            @foreach (var home in Model.HomeCollection) { 
                            <li>
                                <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.ViewHome)?id=@home.ID">
                                    @if (home.ThumbnailURL == "")
                                    {
                                        <img src="/Images/branding/noimage.jpg" />
                                    }
                                    else
                                    {
                                        <img src="@home.ThumbnailURL" />
                                    }
                                </a>
                                <br />
                                <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminHomeImages)?homeid=@home.ID" style="font-size:12px;text-decoration:none;" >View home images</a><br/><br />
                                <span><strong>@home.Location</strong></span><br/><br/>
                                <span>@home.Summary</span><br/><br />

                                @using (Html.BeginUmbracoForm("UpdateHome", "PageAdminMemberSummary")) {
                                <span>Status</span>
                                <select name="status">
                                    @foreach (var item in Model.StatusDD)
                                    {
                                        <option value="@item.StatusId" @((int)home.Status == item.StatusId ? "selected" : "") >@item.StatusName</option>
                                    }
                                </select>
                                <input type="hidden" name="homeid" value="@home.ID"/>
                                <input type="hidden" name="memberid" value="@Request.QueryString["id"]"/>
                                <input type="submit" value="Go" class="cbtn cbtn-small"/>
                                }
                                <br/>
                                <br />
                                <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminHomeEdit)?mid=@Model.MemberID&hid=@home.ID" class="cbtn cbtn-small">Edit Details</a>
                            </li>
                            }
                        </ul>
                        <br/>
                        }

                        <br/>
                        <h2>Inbox</h2>
                        <div class="inner6_table_bg">
                            <div class="inner6_table_con">
                                <div class="inner6_table_con_top admin-home-enquiry-header">
                                    <ul>
                                        <li><span>Reference</span></li>
                                        <li><span>Date</span></li>
                                        <li><span>Message</span></li>
                                        <li><span>From Name</span></li>
                                        <li><span>From Email</span></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="inner6_table_in admin-home-enquiry">
                                    
                                    @if(Model.Inbox.Count > 0){
                                        foreach (Common.HomeEnquiry item in Model.Inbox)
                                        {
                                            <ul>
                                                <li><span>@item.ID</span></li>
                                                <li><span>@item.EnquiryDate.ToString("dd MMM yyyy")</span></li>
                                                <li><span>@item.Message</span></li>
                                                <li><span>@item.FirstName @item.GivenName</span></li>
                                                <li><span>@item.Email</span></li>
                                            </ul>
                                            <div class="clear"></div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <br />
                        <h2>Sent Home Enquiries</h2>
                        <div class="inner6_table_bg">
                            <div class="inner6_table_con">
                                <div class="inner6_table_con_top admin-home-enquiry-header">
                                    <ul>
                                        <li><span>Status</span></li>
                                        <li><span>Reference</span></li>
                                        <li><span>Date</span></li>
                                        <li><span>Message</span></li>
                                        <li><span>Reviewed by recipient?</span></li>
                                        <li><span>On hold</span></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="inner6_table_in admin-home-enquiry">
                                @if (Model.HomeEnquiryCollection != null) {
                                    foreach (var item in Model.HomeEnquiryCollection) {
                                    <ul>
                                        <li><p>&nbsp;&nbsp;&nbsp;@item.Status</p></li>
                                        <li><span>@item.ReferenceNo</span></li>
                                        <li><span>@item.Date</span></li>
                                        <li><span>@item.Message.ToLineBreaksHtml()</span></li>
                                        <li><span>@item.ReviewedByRecipient</span></li>
                                        <li><span>@item.OnHold</span></li>
                                    </ul>
                                    <div class="clear"></div>
                                    }
                                }
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br />
                        <ul>
                            <li>
                                <label>Enquiries made:</label>
                                TODO
                            </li>
                            <li>
                                <label>Enquiries received:</label>
                                TODO
                            </li>
                            <li>
                                <label>IP Address:</label>
                                TODO
                            </li>
                            <li>
                                <label>Channel:</label>
                                TODO
                            </li>
                            <li>
                                <label>Date Joined:</label>
                                @Model.CreatedDate
                            </li>
                            <li>
                                <label>Last Updated:</label>
                                @Model.LastUpdated
                            </li>
                            <li>
                                <label>Last logged in:</label>
                                @Model.LastLoggedIn
                            </li>
                            <li>
                                <label>Home Expiry:</label>
                                @(Model.HomeCollection.Any() ? Model.HomeCollection.Last().SubscriptionExpiryDate.ToString("dd-MMM-yy") : "")
                                }
                            </li>
                        </ul>
                        <br/>
                        <br />
                        <input type="button" class="cbtn cbtn-default" value="Update"/>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Container -->