﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageAdminSnapshotViewModel>
@{

    Layout = "Layout.cshtml";
}
@Html.Partial("_AdminBreadCrumb", Model.Content)
<!-- Main Container -->
<div class="inner7_bg">
    <div class="inner3_container">
        <div class="inner7_main">

            <div class="inner7_in">
                <div class="inner7_block1 blk1">
                    <section class="inner_custom">
                        <h2>Member Details</h2>
                        <div class="inner6_table_bg">
                            <div class="inner6_table_con snapshot-tbl-a">
                                <div class="inner6_table_con_top">
                                    <ul>
                                        <li><span>Name</span></li>
                                        <li><span>Email</span></li>
                                        <li><span>Date Joined</span></li>
                                        <li><span>Last Logged In</span></li>
                                        <li><span>Member Status</span></li>
                                        <li><span>Email</span></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="inner6_table_in">
                                    @foreach (var item in Model.MemberCollection) {
                                    <ul style="width:98.8%;">
                                        <li><span><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminMemberSummary)?id=@item.ID">@item.FirstName @item.GivenName</a></span></li>
                                        <li><span>@item.EmailAddress</span></li>
                                        <li><span>@item.CreatedDate.ToString("dd-MMM-yy")</span></li>
                                        <li><span>@item.LastLoggedInDate.ToString("dd-MMM-yy")</span></li>
                                        <li><span>@item.Status.GetStatusText()</span></li>
                                        <li><span><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminSendEmail)?id=@item.ID">Email</a></span></li>
                                    </ul>
                                    <div class="clear"></div>
                                    }
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <h2>Home Details</h2>
                        <div class="inner6_table_bg">
                            <div class="inner6_table_con snapshot-tbl-b">
                                <div class="inner6_table_con_top">
                                    <ul>
                                        <li><span>Home ID</span></li>
                                        <li><span>Member ID</span></li>
                                        <li><span>Location</span></li>
                                        <li><span>Details</span></li>
                                        <li><span>Status</span></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="inner6_table_in">
                                    @foreach (var item in Model.HomeCollection) { 
                                    <ul style="width:100%">
                                        <li><span><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.ViewHome)?id=@item.ID">@item.ID</a></span></li>
                                        <li><span><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminMemberSummary)?id=@item.MemberID">@item.MemberID</a></span></li>
                                        <li><span>@item.Location</span></li>
                                        <li>
                                            <strong>Home Comments</strong> @item.Description<br/>
                                            <strong>Location Comments</strong> @item.RegionDescription<br />
                                            <strong>Other Comements</strong> @item.OtherInformation
                                        </li>
                                        <li><span>@item.Status.GetStatusText()</span></li>
                                    </ul>
                                    <div class="clear"></div>
                                    }
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <h2>Home Enquiries</h2>
                        <div class="inner6_table_bg">
                            <div class="inner6_table_con snapshot-tbl-c">
                                <div class="inner6_table_con_top">
                                    <ul>
                                        <li><span>Sender ID</span></li>
                                        <li><span>Recipient ID</span></li>
                                        <li><span>Message</span></li>
                                        <li><span>Enquiry Date</span></li>
                                        <li><span>Reviewed?</span></li>
                                        <li><span>Hold Message?</span></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="inner6_table_in">
                                    @foreach (var item in Model.HomeEnquiryCollection) { 
                                    <ul style="width:98.8%;">
                                        <li><span><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminMemberSummary)?id=@item.SenderMemberID">@item.SenderMemberID</a></span></li>
                                        <li><span><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminMemberSummary)?id=@item.RecipientMemberID">@item.RecipientMemberID</a></span></li>
                                        <li><span>@item.Message</span></li>
                                        <li><span>@item.EnquiryDate.ToString("dd-MMM-yy")</span></li>
                                        <li><span>@item.Reviewed</span></li>
                                        <li><span>@item.HoldMessage</span></li>
                                    </ul>
                                    <div class="clear"></div>
                                    }
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Container -->

