﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageAdminSendEmailViewModel>
@{

    Layout = "Layout.cshtml";
}
@Html.Partial("_AdminBreadCrumb", Model.Content)
<!-- Main Container -->
<div class="inner7_bg">
    <div class="inner3_container">
        <div class="inner7_main">

            <div class="inner7_in">
                <div class="inner7_block1 blk1">
                    <section class="inner_custom">
                        <h2>Send an Email</h2>
                        <div class="inner6_table_bg">
                            <div class="inner6_table_con">
                                <div class="inner6_table_con_top admin-email-template">
                                    <ul>
                                        <li><span>CODE</span></li>
                                        <li><span>NAME</span></li>
                                        <li><span>SUBJECT</span></li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="inner6_table_in admin-email-template">
                                    @foreach (var template in Model.EmailTemplateCollection) { 
                                    <ul>
                                        <li>@template.Code</li>
                                        <li><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminSendEmail)?id=@Model.MemberID&tid=@template.ID">@template.Name</a></li>
                                        <li>@template.Subject</li>
                                    </ul>
                                    <div class="clear"></div>
                                    }
                                </div>
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <h3>Email Message</h3>
                        <br/>
                        @using (Html.BeginUmbracoForm("SendEmail", "FormAdminSendEmail")) { 
                        <ul>
                            <li><input type="text" value="@Model.EmailSubject" name="emailsubject"/> </li>
                        </ul>
                        <br/>
                        <span>@TempData["msg"]</span>
                        <ul>
                            <li>
                                <textarea class="rte-editor" name="emailbody">@Model.EmailBody</textarea>
                            </li>
                        </ul>
                        <br/>
                        <ul>
                            <li>
                                <input type="hidden" name="memberid" value="@Model.MemberID"/>
                                <input type="submit" value="Send Email" class="cbtn cbtn-default" />
                            </li>
                        </ul>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Container -->