﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageAdminHomeImagesViewModel>
@{
    Layout = "Layout.cshtml";
}

@Html.Partial("_AdminBreadCrumb", Model.Content)
<!-- Main Container -->
<div class="inner7_bg">
    <div class="inner3_container">
        <div class="inner7_main">
            <div class="inner7_in">
                <div class="inner7_block1 blk1">
                    <section class="inner_custom home-images">
                        @using (Html.BeginUmbracoForm("UpdateFeaturedHome", "FormAdminHomeImages", FormMethod.Post))
                        { 
                        <h2>Member Details</h2>
                        <span>Your changes have been successfully saved</span><br /><br />

                        <div style="background-color:#f2f2f2;padding:25px 20px;">
                            <div style="float:left;margin-right:40px;">
                                <img src="@Model.HomeImageUrl" />
                            </div>
                            <div style="float:left;width:80%;">
                                <p style="text-align:left"><strong>@Model.HomeLocation</strong></p>
                                <p style="text-align:left;">@Model.HomeDescription</p>
                            </div>
                            <div class="clear"></div>
                        </div>

                        <ul class="image-list">
                            @foreach (var homeImage in Model.HomeImages) { 
                            <li>
                                <input type="radio" name="featuredImageID" value="@homeImage.Id" @(homeImage.IsFeature ? "checked" : "") class="form-control" />
                                <img src="@homeImage.ImageSource" />    
                            </li>
                            }
                        </ul>    
                        <div class="clear"></div>
                        <br/><br /><br />
                        <input type="hidden" value="@Model.HomeID" name="homeID"/>
                        <input type="submit" class="cbtn cbtn-default" value="Update" /><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdminMemberSummary)?id=@Model.MemberID" style="margin-left:20px;">Back to member summary</a>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Container -->
<style>
    .home-images ul.image-list {
        padding:20px 20px 20px 0;
    }

    .home-images ul.image-list li {
        float:left;margin-left:16px;height:100px;
    }
</style>