﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageAdvanceSearchViewModel>
@{
    Layout = "Layout.cshtml";
}

<!-- Main Container -->
<div class="advance-section">
    <form action="#" method="get" id="advance-query-form">
        <h1>Advanced Search</h1>
        <div class="advance-block">
            <h2>Destination</h2>
            <h5>Enter your preferred travel destination requirements</h5>
            <div class="advance-require">
                <div class="require-block">
                    <div class="optional-block yellow-bg">
                        <h6>Choose a Country:</h6>
                        <div class="dropdown1">
                            @*@Html.Raw(Model.LocationDropdownList)*@
                            <select name="l" id="search-country">
                                <option value='-1' data-type="c">Any</option>
                                <option value='AU' data-type="c">Australia</option>
                                <option value='NZ' data-type="c">New Zealand</option>
                                <option value='OS' data-type="c">International</option>
                                <optgroup label='Australia by Region'>
                                    <option value='CT' data-type="r">Australian Capital Territory</option>
                                    <option value='NS' data-type="r">New South Wales</option>
                                    <option value='NT' data-type="r">Northern Territory</option>
                                    <option value='QL' data-type="r">Queensland</option>
                                    <option value='SA' data-type="r">South Australia</option>
                                    <option value='TS' data-type="r">Tasmania</option>
                                    <option value='VI' data-type="r">Victoria</option>
                                    <option value='WA' data-type="r">Western Australia</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="optional-block">
                        <input name="" type="text" id="city" class="field1 location-autocomplete" placeholder="Or city, region or ID">
                    </div>
                    <small>e.g Sydney</small>
                    <div class="clear"></div>
                </div>
                <div class="require-block">
                    <div class="optional-block">
                        <h6>AVAILABLE FROM :</h6>
                        <div class="dropdown2">
                            <select class="dropdown dropdown2" id="from">
                                <option value="-1">Any</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="optional-block">
                        <h6>AVAILABLE TO :</h6>
                        <div class="dropdown2">
                            <select class="dropdown" id="to">
                                <option value="-1">Any</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="chk-block">
                    <input name="" type="checkbox" value="" id="show">
                    <label for="show">Show me who might be interested in my destination first</label>
                </div>
                <div class="invited-block hide">
                    <div class="require-block">
                        <div class="optional-block">
                            <h6>SELECT YOUR COUNTRY :</h6>
                            <div class="dropdown1">
                                <select class="dropdown" id="country_b">
                                    <option value="">Please select...</option>
                                    @foreach (Common.Country country in Model.CountryCollection)
                                    {
                                        <option value="@country.Code">@country.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="optional-block">
                            <input name="" type="text" class="field1" id="city_b" placeholder="ENTER YOUR CITY">
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


        </div>
        <div class="advance-block pad_last">
            <h2>Features</h2>
            <h5>Select any specific features you may require (optional)</h5>
            <div class="features-section">
                <div class="first-area">
                    <div class="content">
                        <div class='chkbx-wrapper'>
                            <div class='error-required'>Check This field is required .</div>
                        </div>
                        @foreach (Common.Feature item in Model.Features)
                        {
                            <div class="field"><input type="checkbox" name="f" id="@item.ID" data-id="@item.ID"><label for="@item.ID">@item.Name</label></div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="advance-block pad_last">
            <h2>Activites</h2>
            <h5>Selecte any activities that may be of particular iterest to you (optional)<br> Note: Leave blank to receive more travel options</h5>
            <div class="features-section">
                <div class="first-area">
                    <div class="content">
                        <div class='chkbx-wrapper'>
                            <div class='error-required'>Check This field is required .</div>
                        </div>
                        @foreach (Common.Feature item in Model.Activities)
                        {
                            <div class="field"><input type="checkbox" name="f" id="@item.ID" data-id="@item.ID"><label for="@item.ID">@item.Name</label></div>
                        }
                    </div>
                </div>
            </div>
        </div>

        @*<div class="advance-block pad_last">
            <h2>Types</h2>
            <h5>Select any holiday types that may be of particular interest to you (optional)<br> Note: Leave blank to receive more travel options</h5>
            <div class="features-section">
                <div class="first-area">
                    <div class="content">
                        <div class='chkbx-wrapper'>
                            <div class='error-required'>Check This field is required .</div>
                        </div>
                        @foreach (Common.Feature item in Model.Types)
                        {
                            <div class="field"><input type="checkbox" name="f" id="@item.ID" data-id="@item.ID"><label for="@item.ID">@item.Name</label></div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="advance-block pad_last">
            <h2>Swap Preferences</h2>
            <h5>Select your preferred swap time (optional)<br> Note: Leave blank to receive more travel options</h5>
            <div class="features-section">
                <div class="first-area">
                    <div class="content">
                        <div class='chkbx-wrapper'>
                            <div class='error-required'>Check This field is required .</div>
                        </div>
                        @foreach (Common.Feature item in Model.SwapPreferences)
                        {
                            <div class="field"><input type="checkbox" name="f" id="@item.ID" data-id="@item.ID"><label for="@item.ID">@item.Name</label></div>
                        }
                    </div>
                </div>
            </div>
        </div>*@

        <div class="advance-block pad_last">
            <h2>Other Details</h2>
            <h5>Note: Leave blank to receive more travel options</h5>
            <div class="features-section">
                <div class="first-area">
                    <div class="content">
                        <div class='chkbx-wrapper'>
                            <div class='error-required'>Check This field is required .</div>
                        </div>
                        @foreach (Common.Feature item in Model.OtherDetails)
                        {
                            <div class="field"><input type="checkbox" name="f" id="@item.ID" data-id="@item.ID"><label for="@item.ID">@item.Name</label></div>
                        }
                    </div>
                </div>
            </div>
        </div>


        <input name="" type="button" id="advance-query-btn" value="Search Properties" class="submit-but">

    </form>
</div>
<!-- Main Container -->