﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageEditDetailsViewModel>
@{
    Layout = "Layout.cshtml";
}

<!-- Main Container -->
<div class="inner7_bg">

    <div class="inner3_container">
        <div class="inner7_main">
           <div class="inner7_in">
                <div class="inner7_block1 blk1" id="target1">
                    <section class="inner7_block1_rgt edit-detail" style="float:left;width:72%;">
                        @using (Html.BeginUmbracoForm("Save", "FormEditDetails", FormMethod.Post, new { id = "editDetails" }))
                        {

                            <h2>Update your contact details and introduction</h2>
                            <br/><br />
                            
                            <ul>
                                <li><h3>Personal Details</h3></li>
                                <li>
                                    <div class='msg-wrapper'>
                                        <label class="label-a">First Name:</label>
                                        <div class='error-required' id="err-firstname">This field is required.</div>
                                        <input type="text" name="firstname" id="firstname" value="@Model.FirstName" class="text-medium" />
                                    </div>
                                </li>
                                <li>
                                    <div class='msg-wrapper'>
                                        <label class="label-a">Last Name:</label>
                                        <div class='error-required' id="err-lastname">This field is required.</div>
                                        <input type="text" name="givenname" id="lastname" value="@Model.GivenName" class="text-medium" />
                                    </div>
                                </li>
                                <li>
                                    <div class='msg-wrapper'>
                                        <label class="label-a">Email Address:</label>
                                        <div class='error-required' id="err-emailaddress">This field is required.</div>
                                        <input type="text" name="emailaddress" id="emailaddress" value="@Model.EmailAddress" class="text-medium" />
                                    </div>
                                </li>
                                <li>
                                    <div class='msg-wrapper'>
                                        <label class="label-a">Confirm Email:</label>
                                        <div class='error-required' id="err-emailnotmatch">Emails must match.&nbsp;&nbsp;&nbsp;</div>
                                        <div class='error-required' id="err-confirmemail">This field is required.</div>
                                        <input type="text" name="confirmemail" id="confirmemail" value="@Model.EmailAddress" class="text-medium" />
                                    </div>
                                </li>
                                <li>
                                    <div class="field" style="padding:0">
                                        <input type="checkbox" id="updatepassword"><label for="cheack1" class="q-mark">Update Password?</label>
                                    </div>
                                </li>
                                <li style="margin:0 0 10px 0;" class="update-password hide">
                                    <div class='msg-wrapper'>
                                        <label class="label-a">Password:</label>
                                        <div class='error-required' id="err-password">This field is required.</div>
                                        <input type="password" name="password" id="password" value="" class="text-medium" />
                                    </div>
                                </li>
                                <li class="update-password hide">
                                    <div class='msg-wrapper'>
                                        <label class="label-a">Confirm Password:</label>
                                        <div class='error-required' id="err-confirmpassword">This field is required.</div>
                                        <div class='error-required' id="err-passnotmatch">Passwords not match.</div>
                                        <input type="password" name="confirmpassword" id="confirmpassword" value="" class="text-medium" />
                                    </div>
                                </li>

                                <li>
                                <li>
                                    <h3>Introduction </h3>
                                    <p>Providing an introduction is a great way for our home exchange community to get to know you. In the text field below, we suggest you include such details as your first name(s), the number of adults and children who will be participating in an exchange, and any particular travel interests you may have.</p>
                                </li>
                                <li>
                                    <div class='msg-wrapper'>
                                        <div class='error-required' id="err-introduction">This field is required.</div>
                                        <textarea name="introduction" id="introduction" class="msg" cols="1" rows="1">@Model.Introduction</textarea>
                                    </div>
                                    <p><strong>Note:</strong> As your introduction can be viewed by visitors to HouseSwapHolidays.com.au, we recommended you do not include any personal contact information here such as phone numbers or surnames.</p>
                                </li>
                                <li>
                                    <br/>
                                </li>
                                <li><h3>What languages do you speak? </h3></li>
                                <li>
                                    <div class="msg-wrapper">
                                        <p>These will be displayed to people who may be interested in contacting you. You can select up to three</p>
                                        <div class='error-required' id="err-language1">This field is required.</div>
                                        <select class="language" name="language1" id="language1" style="float:none;">
                                            <option value="Not Specified">Not Specified</option>

                                            @if (!string.IsNullOrEmpty(Model.Member.Language1))
                                            {
                                                foreach (var language in Model.Languages)
                                                {
                                                    <option @(Model.Language1 == language ? "selected" : "") value="@language">@language</option>
                                                }
                                            }
                                            else
                                            {
                                                foreach (var language in Model.Languages)
                                                {
                                                    <option @(language == "English" ? "selected" : "") value="@language">@language</option>
                                                }
                                            }
                                        </select><br /><br />
                                        <select class="language" name="language2" style="float:none;">
                                            <option value="Not Specified">Not Specified</option>
                                            @foreach (var language in Model.Languages)
                                            {
                                                <option @(Model.Language2 == language ? "selected" : "") value="@language">@language</option>
                                            }
                                        </select><br /><br />
                                        <select class="language" name="language3" style="float:none;">
                                            <option value="Not Specified">Not Specified</option>
                                            @foreach (var language in Model.Languages)
                                            {
                                                <option @(Model.Language3 == language ? "selected" : "") value="@language">@language</option>
                                            }
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <br />
                                    <br/>
                                </li>
                                <li>
                                    <div class="field" style="padding:0">
                                        <input type="checkbox" name="receivenewsletter" id="" @(Model.ReceiveNewsletter ? "checked" : "")><label for="cheack1" class="q-mark">Yes, please send me your newsletter! I would like to be kept informed on the latest home exchange news and offers</label>
                                    </div>
                                </li>
                                <li>
                                    <div class='chkbx-wrapper'>
                                        <div class='error-required' id="err-acceptterms">This field is required .</div>
                                    </div>
                                    <div class="field" style="padding:0">
                                        <input type="checkbox" name="acceptterms" id="acceptterms" @(Model.AcceptTerms ? "checked" : "")><label for="cheack1" class="q-mark">I accept the <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.MyProfile)" target="_blank" rel="tipsy" title="Opens in new window">terms and conditions</a> of use and identify with the <a href="/statement-of-faith/" rel="tipsy" title="Opens in new window" target="_blank">Christian statement of faith</a></label>
                                    </div>
                                </li>

                            </ul>
                            <input name="" type="button" id="edit-details-btn" class="nxt" value="UPDATE">
                        }
                    </section>

                    <div class="clear"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .edit-detail ul li a {
        color: #71c5d3;
        float: none;
        display: inline;
        font-size: 16px;
        margin: 0;
        text-decoration: none;
    }
</style>