﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageFAQViewModel>
@{
    Layout = "Layout.cshtml";
}

<!-- Main Container -->
<div class="inner5_bg">
    <!--<div class="header_bor">&nbsp;</div>-->
    <div class="inner3_container">
        <div class="inner5_main">
            <section class="inner5_main_top">
                <h2>@Model.Title</h2>
                <p>
                    @Model.SubTitle
                </p>
            </section>
            <div class="inner5_main_bot">
                @if (Model.HasLFAQs) { 
                <section class="inner5_main_lft">
                @foreach (var faq in Model.LeftFAQs) { 
                    <h2>@faq.Title</h2>
                    <ul>
                    
                        @foreach (var item in faq.FAQitems) { 
                        <li>
                            <h4><span><i class="fa fa-chevron-circle-right"></i></span><em>@item.Name</em><strong class="clear"></strong></h4>
                            <div class="con"><p>@Html.Raw(item.GetPropertyValue<string>("body"))</p></div>
                        </li>
                        }
                    
                    </ul>
                }
                </section>
                }

                
                <section class="inner5_main_lft inner5_main_rgt">
                @if (Model.HasRFAQs) {
                    foreach (var faq in Model.RightFAQs) { 
                    <h2>@faq.Title</h2>
                        if (faq.HasFAQItem) { 
                    <ul>
                        @foreach (var item in faq.FAQitems) { 
                        <li>
                            <h4><span><i class="fa fa-chevron-circle-right"></i></span><em>@item.Name</em><strong class="clear"></strong></h4>
                            <div class="con"><p>@(item.GetPropertyValue<string>("body"))</p></div>
                        </li>
                        }
                    </ul>
                        }
                    }
                }
                
                    @if (Model.HasBottomContent) { 
                    <div class="inner5_main_rgt_bot">
                        <h6>@Model.BottomContent.Title</h6>
                        <a href="@(Model.BottomContent.HasLink ? Model.BottomContent.Link.Url : "#")" target="@(Model.BottomContent.HasLink ? Model.BottomContent.Link.Target : "")" class="popup-contact" style="cursor:pointer">
                            @(Model.BottomContent.HasLink ? Model.BottomContent.Link.Name : "")
                        </a>
                    </div>
                    }
                </section>

                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>
<!-- Main Container -->