﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageGenericViewModel>
@{
    Layout = "Layout.cshtml";
}

<style type="text/css">
    .generic-template h1, .generic-template p {
        text-align:left;
    }
</style>

<section id="main-container" class="generic-template">
    <div style="padding:40px">
        <h1 style="margin-bottom:12px;">@Model.Title</h1>
        <p>@Html.Raw(Model.Body)</p>
    </div>
</section>

