﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageHomeViewModel>

@{
    Layout = "Layout.cshtml";
}

<section id="main-container">
    @if (Model.HasHowItWork) { 
    <!-- How its work -->
    <div class="index-bg">
        <div class="inner clearfix">
            <div class="content no-bgcolor">
                <h1>@Model.HowItWork.Title</h1>
                <p>@Model.HowItWork.Content</p>
            </div>
            <div class="work-section">
                <ul>
                    @foreach (var item in Model.HowItWork.HowItWorksItems.Select((s, index) => new { s, index }))
                    {
                        if (item.index == 0)
                        {
                            <li>
                                <img src="@item.s.IconUrl" alt="" title="">
                                <div class="con">
                                    <h2>1 › @item.s.Title</h2>
                                    <p>@item.s.Content</p>
                                </div>
                                <div class="clear"></div>
                                <img src="/images/divider4.png" alt="" class="shap-img1">
                            </li>
                        }
                        if (item.index == 1)
                        {
                            <li>
                                <img src="@item.s.IconUrl" alt="" title="">
                                <div class="con">
                                    <h2>2 › @item.s.Title</h2>
                                    <p>@item.s.Content</p>
                                </div>
                                <div class="clear"></div>
                                <img src="/images/divider5.png" alt="" class="shap-img2">
                            </li>
                        }
                        if (item.index == 2)
                        {
                            <li>
                                <img src="@item.s.IconUrl" alt="" title="">
                                <div class="con">
                                    <h2>3 › @item.s.Title</h2>
                                    <p>@item.s.Content</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                        }
                    }
                </ul>
                <div class="clear"></div>
            </div>
            <div class="button-group">
                <div class="arrow"><img src="/images/blue_down_arrow.png" width="18" height="47" alt="" title=""></div>
                <div class="get-start">Get Started!</div>
                <div class="">
                    <a href="#" class="button button-blue-dark click_pop">
                        Place an Ad
                        <span>join today and save</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    }
    @if (Model.HasDestination) { 
    <div class="how-its-work pad_last">
        <div class="inner clearfix">
            <div class="browse-section">
                <div class="browse-head">
                    <div class="browse-left">
                        <h2>@Model.Destination.Title</h2>
                        <p>@Model.Destination.Content</p>
                    </div>
                    <a href="/view-homes/" class="button">Browse Homes</a>
                    <div class="clear"></div>
                </div>
                @if (Model.Destination.Galleries.Any()) { 
                <div class="gallery-section">
                    <ul>
                        <li>
                        @foreach (var gallery in Model.Destination.Galleries.Select((s, i) => new { s, i })) {
                            if (gallery.i.IsEven()) { 
                            <div class="country">
                                <a href="@(gallery.s.HasLink ? gallery.s.Link.Url : "")" target="@(gallery.s.HasLink ? gallery.s.Link.Target : "")">
                                    @if (gallery.s.HasImage) { 
                                    <img src="@gallery.s.Image.Url" alt="@gallery.s.Image.Name">
                                    }
                                    <span><small>@gallery.s.Name</small></span>
                                </a>
                            </div>
                            }
                            if (gallery.i.IsOdd()) { 
                            <div class="country">
                                <a href="@(gallery.s.HasLink ? gallery.s.Link.Url : "")" target="@(gallery.s.HasLink ? gallery.s.Link.Target : "")">
                                    @if (gallery.s.HasImage)
                                    {
                                        <img src="@gallery.s.Image.Url" alt="@gallery.s.Image.Name">
                                    }
                                    <span><small>@gallery.s.Name</small></span>
                                </a>
                            </div>
                            @:</li><li class="@(gallery.i == 3 ? "column3" : "")" >
                            }
                        }
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                }
            </div>
        </div>
        <div class="border_bot"><img src="/images/pattern_border.png" width="1350" height="15" alt="" title=""></div>
    </div>
    <!-- How its work -->
    }
    
    @if (Model.Testimonials.Any()) { 
    <!-- Intro -->
    <div class="intro intro-align  clearfix">
        <div class="inner clearfix">
            @foreach (var testi in Model.Testimonials) { 
            <div class="box">
                <div class="image">
                    <img src="@testi.ImageUrl" width="273" height="263" alt="" title="">
                </div>
                <p>“@testi.Text”</p>
                <div class="divider"><img src="/images/divider_3.png" width="21" height="1" alt="" title=""></div>
                <div class="detail">
                    <span class="name">@testi.Name</span>
                    <span class="place">@testi.Location</span>
                </div>
            </div>
            }
        </div>
    </div>
    <!-- Intro -->
    }
    
    @if (Model.HasWhyJoinUs) { 
    <!-- Why Join Us -->
    <div class="why-join why-align clearfix">
        <div class="inner clearfix">
            <h1>@Model.WhyJoinUs.Title</h1>
            <p>@Model.WhyJoinUs.Content</p>
            @if (Model.WhyJoinUs.WhyJoinUsItems.Any()) { 
            <div class="main">
                @foreach (var item in Model.WhyJoinUs.WhyJoinUsItems) { 
                <div class="box">
                    <div class="image">
                        <img src="@item.ImageUrl" width="90" height="69" alt="" title="">
                    </div>
                    <h1>@item.Title</h1>
                    <p>@item.Content</p>
                </div>
                }
            </div>
            }
        </div>
    </div>
    <!-- Why Join Us -->
    }
    
    @if (Model.HasFeatured) { 
    <div class="clear"></div>
    <div class="inner">
        <div class="features-block">
            <h5>@Model.Featured.Title</h5>
            @if (Model.Featured.FeaturedItems.Any()) { 
            <ul>
                @foreach (var item in Model.Featured.FeaturedItems) { 
                <li><a href="@(item.HasLink ? item.Link.Url : "#")" target="@(item.HasLink ? item.Link.Target : "")">
                    <img src="@item.ImageUrl" alt="@item.Title"></a>
                </li>
                }
            </ul>
            }
            <div class="clear"></div>
        </div>
    </div>
    }

    @if (Model.HasBenefit) { 
    <!-- Key Benifit -->
    <div class="key-benefit swap-bg">
        <div class="inner clearfix">
            <div class="content swap-section clearfix">
                <!-- Box -->
                <h1 class="swap">@Model.Benefit.Title</h1>
                @if (Model.Benefit.BenefitItems.Any()) {
                <div class="box setHeight">
                    <div class="title">
                        <span class="top"></span>
                        <span class="bottom"></span>
                    </div>
                    <div class="content clearfix">
                        <div class="inner clearfix">
                            <ul>
                                @foreach (var item in Model.Benefit.BenefitItems.Take(3)) { 
                                <li>
                                    <div class="image">
                                        <img src="@item.ImageUrl" width="159" height="159" alt="" title="">
                                    </div>
                                    <div class="description">
                                        <h1>
                                            @item.Title
                                        </h1>
                                        <p>@item.Content</p>
                                    </div>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                
                <!-- Box -->
                <div class="divider setHeight"></div>
                <!-- Box -->
                <div class="box box-two setHeight">
                    <div class="title">
                        <span class="top"></span>
                        <span class="bottom"></span>
                    </div>
                    <div class="content clearfix">
                        <div class="inner">
                            <ul>
                                @foreach (var item in Model.Benefit.BenefitItems.Skip(3).Take(3)) { 
                                <li>
                                    <div class="image">
                                        <img src="@item.ImageUrl" width="159" height="159" alt="" title="">
                                    </div>
                                    <div class="description">
                                        <h1>@item.Title</h1>
                                        <p>@item.Content</p>
                                    </div>
                                </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Box -->
                }
            </div>
        </div>
        <div class="header_bor swap-bor">&nbsp;</div>
    </div>
    }
    
    @if (Model.HasJoinSection) { 
    <!-- Join Section -->
    <div class="join clearfix">
        <div class="content clearfix">
            <h1>@Model.JoinSection.Title</h1>
            <p>@Model.JoinSection.Content</p>
            <div class="button-group">
                <a href="@(Model.JoinSection.HasLink ? Model.JoinSection.Link.Url : "#")" target="@(Model.JoinSection.HasLink ? Model.JoinSection.Link.Target : "")" class="button button-orange join-now">
                    @(Model.JoinSection.HasLink ? Model.JoinSection.Link.Name : "") <span class="fa fa-arrow-right arrow"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Join Section -->
    }
    
    <div class=