﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageHomeV2ViewModel>
@using HouseSwapHolidays.Core.Utilities;
@{
    Layout = "LayoutV2.cshtml";
}

<!-- start main container: -->
<section>
    <div class="homebanr_wrpr">
        <h1>Quicksearch</h1>

        @if (Model.QuickSearch != null)
        {
            <div class="bnr_leftsec">
                <h1>@Model.QuickSearch.Title</h1>
                <p>@Model.QuickSearch.SubTitle</p>
                <form method="get" id="quickSearchForm" action="/view-homes/">
                    <div id="locationField">
                        @*<input type="text" class="autocomplete" id="autocomplete" name="k" placeholder="@Model.QuickSearch.PlaceHolder" onfocus=" geolocate() ">*@
                        <div class="srchfld_sec">
                            <input type="text" name="k" class="autocomplete" id="autocomplete" placeholder="@Model.QuickSearch.PlaceHolder" onfocus=" geolocate() ">
                            <div class="bnrsrch_icon">
                                <a href="" id="locationFieldSubmit"><i class="fa fa-search" aria-hidden="true"></i></a>
                                <!--<a href="#!" class="icon1"><img src="images/srch_icon.png" alt="srch_icon"></a>-->
                                <!--<a href="#!" class="icon2"><img src="images/hoversrch_icon.png" alt="hoversrch_icon"></a>-->
                            </div>
                        </div>
                    </div>
                </form>
                @if (Model.QuickSearch.Links != null && Model.QuickSearch.Links.Any())
                {
                    <div class="browser_sec">
                        <ul>
                            @foreach (var link in Model.QuickSearch.Links)
                            {
                                <li><a href="@(link.Link != null ? link.Link.Link : "")"><i class="fa fa-@link.Icon" aria-hidden="true"></i>@link.Title</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }

        @if(Model.QuickSearch == null && Model.QuickSearchPlain != null) {
            <div class="searchbar">
                @Html.Raw(Model.QuickSearchPlain.Title)
                <form action="/view-homes/" method="get" name="searchhere" id="searchhere">
                    <input name="k" id="autocomplete" type="text" value="" placeholder="@Model.QuickSearchPlain.SearchPlaceholder"/>
                    <input name="searchbtn" id="searchbtn" type="submit" value="@Model.QuickSearchPlain.ButtonLabel"/>
                </form>
            </div>
        }

        @if (Model.Banners != null)
        {
            <div class="home_bnr">
                @foreach (var banner in Model.Banners)
                {
                    <div>
                        <div class="banner_wrpr @(Model.TransparentHeader ? "banner_wrprsec" : "")">
                            @if (banner.Image != null && banner.Image.HasUrl())
                            {
                                <img src="@banner.Image.Url" alt="@banner.Image.AltText">
                                

                                @*
                                <h2>
                                    bonus<br>offer!
                                </h2>
                                <p>
                                    Join today and get your<br>second year free!
                                </p>
                                <a href="#!">get started</a>
                                *@

                                if (Model.PromotionalAreas != null)
                                {
                                    if (Model.PromotionalAreas.ShowPromoCircleForInter && UmbracoContext.HttpContext.Session.IsMemberInternational())
                                    {
                                        <div class="bnnr_inn">
                                            <div class="bnrright_tag">
                                                <div class="bnrright_taginn">
                                                    @Html.Raw(Model.PromotionalAreas.PromoCircleInterContent)
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    if (Model.PromotionalAreas.ShowPromoCircleForLocal && !UmbracoContext.HttpContext.Session.IsMemberInternational())
                                    {
                                        <div class="bnnr_inn">
                                            <div class="bnrright_tag">
                                                <div class="bnrright_taginn">
                                                    @Html.Raw(Model.PromotionalAreas.PromoCircleLocalContent)
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                        
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>

</section>

@if (Model.HowItWorks != null) { 
<section>
    <div class="howitwork_sec">
        <div class="container">
            <div class="howwork_cntnt">
                <h2>@Model.HowItWorks.Title</h2>
                <p>
                    @Html.Raw(Model.HowItWorks.Content)
                </p>
                @{
                    var ctr = 0;
                    string[] classNames = { "", "scnd_block", "thrd_block" };
                }
                <div class="row">

                @if (Model.HowItWorks.HowItWorksItems != null) {
                    foreach (var item in Model.HowItWorks.HowItWorksItems) {
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="work_block @classNames[ctr]">
                                <div class="workblock_cntn">
                                    <div class="wrk_inn">
                                        @if (!string.IsNullOrWhiteSpace(item.IconUrl))
                                        {
                                            <div class="img_sec"><img src="@item.IconUrl" alt="@item.Title">
                                            </div>
                                        }
                                        <span>@item.Title</span>
                                        <p>@Html.Raw(item.Content)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        ctr++;
                    }
                }
                </div>
                <div class="learnmore">
                    @if (Model.HowItWorks.Link != null)
                    {
                        <a href="@Model.HowItWorks.Link.Url">@Model.HowItWorks.Link.Name</a>
                    }
                    @if (Model.HowItWorks.LinkB != null)
                    {
                        <a href="@Model.HowItWorks.LinkB.Url">@Model.HowItWorks.LinkB.Name</a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
}

@if (Model.SectionCImage != null) {
    <section>
        <div class="holiday_sec" style="background-image: url('@Model.SectionCImage.Url')">
            <div class="container">
                @if(Model.SectionCBlockContent != null){
                <div class="holiday_blockcntnt">
                    <h2>@Model.SectionCBlockContent.Title</h2>
                    <p>@Model.SectionCBlockContent.Content</p>
                    <div class="learnmore">
                        @if (Model.SectionCBlockContent.LinkA != null) {
                            <a href="@Model.SectionCBlockContent.LinkA.Link">@Model.SectionCBlockContent.LinkA.Title</a>
                        }
                        @if (Model.SectionCBlockContent.LinkB != null)
                        {
                            <a href="@Model.SectionCBlockContent.LinkB.Link">@Model.SectionCBlockContent.LinkB.Title</a>
                        }
                    </div>
                </div>
                }
            </div>
        </div>
    </section>
}


@if (Model.SectionDImage != null || Model.SectionDBlockContent != null) {
    <section>
        <div class="community_sec">
            <div class="container">
                <div class="row">
                    @if (Model.SectionDImage != null)
                    {
                        <aside class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <aside class="left_cmnty">
                                <picture>
                                    <img src="@Model.SectionDImage.Url" alt="@Model.SectionDImage.AltText">
                                </picture>
                            </aside>
                        </aside>
                    }
                    @if (Model.SectionDBlockContent != null)
                    {
                        <aside class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <aside class="right_cmnty">
                                <p>@Model.SectionDBlockContent.Title</p>
                                <div class="learnmore">
                                    @if (Model.SectionDBlockContent.LinkA != null)
                                    {
                                        <a href="@Model.SectionDBlockContent.LinkA.Link">@Model.SectionDBlockContent.LinkA.Title</a>
                                    }
                                    @if (Model.SectionDBlockContent.LinkB != null)
                                    {
                                        <a href="@Model.SectionDBlockContent.LinkB.Link">@Model.SectionDBlockContent.LinkB.Title</a>
                                    }
                                </div>
                            </aside>
                        </aside>
                    }
                </div>
            </div>
        </div>
    </section>
}
@if (Model.Cases != null) {
    <section>
        <div class="feature_sec">
            <div class="container">
                <h2>@Model.Cases.Title</h2>
                @if (Model.Cases.FeaturedItems != null && Model.Cases.FeaturedItems.Any()) {
                    <ul>
                    @foreach (var item in Model.Cases.FeaturedItems) {
                        <li><a href="@(item.Link != null ? item.Link.Url : "javascript:void;")" target="@(item.Link != null ? item.Link.Target : "")"><img src="@item.ImageUrl" alt="@item.Title"></a></li>
                    }
                    </ul>
                }
            </div>
        </div>
    </section>
}

@if (Model.SectionF != null) {
    <section>
        <div class="para_sec">
            <div class="container">
                @if (!string.IsNullOrWhiteSpace(Model.SectionF.Title)) {
                    <p>@Model.SectionF.Title</p>
                }
                @if (!string.IsNullOrWhiteSpace(Model.SectionF.Content)) {
                    <p>@Model.SectionF.Content</p>
                }
                <div class="learnmore">
                    @if (Model.SectionF.LinkA != null) {
                        <a href="@Model.SectionF.LinkA.Link" target="@Model.SectionF.LinkA.Target">@Model.SectionF.LinkA.Title</a>
                    }
                    @if (Model.SectionF.LinkB != null)
                    {
                        <a href="@Model.SectionF.LinkB.Link" target="@Model.SectionF.LinkB.Target">@Model.SectionF.LinkB.Title</a>
                    }
                </div>
            </div>
        </div>
    </section>
}

@if (Model.FeaturedHome != null) { 
<section>
    <div class="featurecrsl_sec">
        <div class="container">
            <h2>@Model.FeaturedHome.Title</h2>
            <div class="ftr_carousal">
            @if (Model.FeaturedHome.FeaturedHomeItems != null && Model.FeaturedHome.FeaturedHomeItems.Any()) {
                foreach (var home in Model.FeaturedHome.FeaturedHomeItems) {
                    <div>
                        <div class="row">
                            @if (home.Image != null) {
                                <aside class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <aside class="leftftr_sec">
                                        <picture>
                                            <img src="@home.Image.Url" alt="@home.Image.AltText">
                                        </picture>
                                    </aside>
                                </aside>
                            }
                            <aside class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <aside class="right_ftrsec">
                                    <h2>@home.Title</h2>
                                    @Html.Raw(home.Content)
                                    @if (home.Link != null && home.Link.HasUrl()) {
                                        <a href="@home.Link.Link" target="@home.Link.Target">@home.Title</a>
                                    }
                                </aside>
                            </aside>
                        </div>
                    </div>
                }
            }
            </div>
        </div>
    </div>
</section>
}

@if (Model.SectionH != null) {
    <section>
        <div class="choose_sec">
            <div class="container">
                <h2>@Model.SectionH.Title</h2>
                <p>@Model.SectionH.Content</p>
                @if (Model.SectionH.WhyJoinUsItems != null && Model.SectionH.WhyJoinUsItems.Any()) {
                    <ul>
                    @foreach (var item in Model.SectionH.WhyJoinUsItems) { 
                        <li>
                            <div class="chs_listcrclesec">
                                <div class="chs_sec">
                                    <div class="chs_cntnt">
                                        <div class="chooseimg_sec">
                                            <img src="@item.ImageUrl" alt="@item.Title">
                                        </div>
                                        <span>@item.Title</span>
                                        <p>
                                            @item.Content
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    </ul>
                }
                <div class="learnmore">
                    @if (Model.SectionH.LinkA != null) {
                        <a href="@Model.SectionH.LinkA.Link">@Model.SectionH.LinkA.Title</a>
                    }
                    @if (Model.SectionH.LinkA != null)
                    {
                        <a href="@Model.SectionH.LinkB.Link">@Model.SectionH.LinkB.Title</a>
                    }
                </div>
            </div>
        </div>
    </section>
}


@if (Model.LatestListing != null)
{
    string[] classNames = { "", "orngscnd_block", "grnthrd_block", "ornglst_block" };
    int ctr = 0;
    <section>
        <div class="latest_listsec">
            <div class="container">
                @Html.Raw(Model.LatestListing.Content)
                <div class="row">

                    @if (Model.LatestListing.Homes != null && Model.LatestListing.Homes.Any()) {
                        foreach (var home in Model.LatestListing.Homes) {
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="latstlist_block">
                                    <div class="listimg_sec">
                                    @if (home.Image != null)
                                    {
                                        if (home.Link != null)
                                        {
                                            <a href="@home.Link.Link" target="@home.Link.Target">
                                                <img src="@home.Image.Url" alt="@home.Image.AltText" onError="this.src='/imagesv2/image_6_b.jpg'; ">
                                            </a>
                                        }
                                        else
                                        {
                                            <img src="@home.Image.Url" alt="@home.Image.AltText" onError="this.src = '/imagesv2/image_6_b.jpg'; ">
                                        }
                                    }
                                    </div>
                                    <div class="ltstlist_btm eql">
                                        <h3>@home.Title</h3>
                                        @Html.Raw(home.Content)
                                        @if(home.Link != null) {
                                            <a href="@home.Link.Link" target="@home.Link.Target">@home.Link.Title</a>
                                        }
                                    </div>
                                </div>
                            </div>
                            ctr++;
                            if (ctr == 4) { ctr = 0; }
                        }
                    }
                    
                </div>
                <div class="learnmore">
                    @if (Model.LatestListing.LinkA != null) {
                        <a href="@Model.LatestListing.LinkA.Link" target="@Model.LatestListing.LinkA.Target">@Model.LatestListing.LinkA.Title</a>
                    }
                    @if (Model.LatestListing.LinkB != null)
                    {
                        <a href="@Model.LatestListing.LinkB.Link" target="@Model.LatestListing.LinkB.Target">@Model.LatestListing.LinkB.Title</a>
                    }
                </div>
            </div>
        </div>
    </section>
}

@if (Model.Testimonial != null) {
    <section>
        <div class="recommend_sec">
            <div class="container">
                <div class="row">
                    @if (Model.Testimonial.Image != null) {
                        <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <aside class="rcmnd_left">
                                <img src="@Model.Testimonial.Image.Url" alt="@Model.Testimonial.Image.AltText">
                            </aside>
                        </aside>
                    }
                    <aside class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <aside class="rcmnd_right">
                            <p>“@Html.Raw(Model.Testimonial.Content.ToLineBreaksHtml())”</p>
                            <em>@Model.Testimonial.Title</em>
                            <div class="learnmore">
                                @if (Model.Testimonial.LinkA != null) {
                                    <a href="@Model.Testimonial.LinkA.Link">@Model.Testimonial.LinkA.Title</a>
                                }
                                @if (Model.Testimonial.LinkB != null)
                                {
                                    <a href="@Model.Testimonial.LinkB.Link">@Model.Testimonial.LinkB.Title</a>
                                }
                            </div>
                        </aside>
                    </aside>
                </div>
            </div>
        </div>
    </section>
}
<!-- end main container: -->