﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageHowItWorksViewModel>
@{
    Layout = "LayoutV2.cshtml";
}

@* imported style from hsw *@
<link href="~/cssv2/hsw-style.css" rel="stylesheet" type="text/css" media="all">
<link href="~/cssv2/hsw-responsive.css" rel="stylesheet" type="text/css" media="all">

<style type="text/css">
    .hsw-page p {
        font-family: 'Roboto', sans-serif;
    }

    .how-it-works {
        margin-top: 126px;
    }

    @@media (max-width: 1354px) {
        section .container {
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
</style>

@if (Model.IntroBanner != null) {
    <section>
        <div class="how-it-works">
            <div class="container">
                <div class="inner3_banner_bg">
                    <div class="header_bor">&nbsp;</div>
                    <div class="inner3_container">
                        <div class="inner3_ban">
                            <section class="inner3_ban_lft">
                                <h2>@Model.IntroBanner.Title</h2>
                                @Html.Raw(Model.IntroBanner.Content)
                            </section>
                            @if (Model.IntroBanner.Image != null) {
                                <div class="inner3_ban_rgt">
                                    <img src="@Model.IntroBanner.Image.Url" width="554" height="447" alt="@Model.IntroBanner.Image.Name">
                                </div>
                            }
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="bor4"></div>
                </div>
                <!-- Banner Ends: -->
            </div>
        </div>
    </section>
}

@if (Model.Content != null)
{
    <section>
        <div class="">
            <div class="container">
                <div class="inner3_main">
                    <div class="inner3_container">
                        <div class="inner3_main_top">

                            <div class="inner3_main_lft">
                                @foreach (var image in Model.Content.Gallery)
                                {
                                    if (image != null && image.Url != null)
                                    {
                                        <img src="@image.Url" alt="@image.Name" width="384" height="310" />
                                    }
                                }
                            </div>

                            <section class="inner3_main_rgt">
                                @Html.Raw(Model.Content.Content)
                            </section>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@if (Model.Testimonial != null)
{
    <section>
        <div class="recommend_sec">
            <div class="container">
                <div class="row">
                    @if (Model.Testimonial.Image != null)
                    {
                        <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <aside class="rcmnd_left">
                                <img src="@Model.Testimonial.Image.Url" alt="@Model.Testimonial.Image.AltText">
                            </aside>
                        </aside>
                    }
                    <aside class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <aside class="rcmnd_right">
                            <p>“@Model.Testimonial.Content”</p>
                            <em>@Model.Testimonial.Title</em>
                            <div class="learnmore">
                                @if (Model.Testimonial.LinkA != null)
                                {
                                    <a href="@Model.Testimonial.LinkA.Link" target="@Model.Testimonial.LinkA.Target">@Model.Testimonial.LinkA.Title</a>
                                }
                                @if (Model.Testimonial.LinkB != null)
                                {
                                    <a href="@Model.Testimonial.LinkB.Link" target="@Model.Testimonial.LinkB.Target">@Model.Testimonial.LinkB.Title</a>
                                }
                            </div>
                        </aside>
                    </aside>
                </div>
            </div>
        </div>
    </section>
}
