﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageInboxViewModel>
@{
    Layout = "Layout.cshtml";
}

<!-- Main Container -->
<section id="main-container">
    <div class="search-result pad_1">
        <div class="inner13">
            <div class="inner13-sidebar">
                @Html.Partial("_QuickLinks", Model.QuickLinks)
                @Html.Partial("_RefineSection")
            </div>
            <div class="inner13-content">
                <h2>My Messages - Inbox - <span></span></h2>
                <div class="scorll_function">

                    <ul class="message-table">
                        <li>
                            <small class="from_1">From</small>
                            <small class="name_1">Name</small>
                            <!--small class="location_1">Location</small-->
                            <small class="message_1">Message</small>
                            <small class="date_1">Date</small>
                            <div class="clear"></div>
                        </li>
                        @{
                            var i = 1;
                            foreach (var item in Model.HomeEnquiryCollection)
                            {
                               
                                <li class="@(!item.Reviewed ? "fred_smith" : "")">
                                    <p class="from_1"><img class="img1" src="/images/green_home.png" width="20" height="19" alt="green_home"> <span class="green_hover">Message from a home owner</span></p>
                                    <small class="name_1">@item.FirstName</small>
                                    <!--small class="location_1">Sydney, Australia</small-->
                                    <small class="message_1">
                                        <a class="show-pop-msg" data-id="@item.ID"  data-to="@item.FirstName" data-from="@Model.Member.FirstName" data-message="@item.Message.ToLineBreaksHtml()" data-homeid="@item.HomeID" data-memberid="@item.SenderMemberID">@item.Message.Truncate(30,"...")</a>
                                    </small>

                                    <p class="date_1">@item.EnquiryDate.ToShortDateString() <a href="#" class="clos_2"></a>
                                    @using (Html.BeginUmbracoForm("DeleteEnquiry", "FormInbox")) { 
                                        <input type="hidden" name="enquiryId" value="@item.ID"/>
                                        <input type="image" src="~/images/close_arw.png" width="8" height="8" />
                                    }
                                    </p>
                                    <div class="clear"></div>
                                </li>
                                i++;
                            }
                        }
                    </ul>
                </div>
                @if (Model.Pager.EndPage > 1) { 
                <div class="pager_numbers">
                    <ul>
                        @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                        {
                            <li>
                                <a href="/my-profile/inbox/?page=@page" class="@(page == Model.Pager.CurrentPage ? "active" : "")">@page</a>
                            </li>
                        }

                        
                    </ul>
                    <div class="clear"></div>
                </div>
                }
            </div>
            <div class="clear"></div>
        </div>
    </div>
</section>
<!-- Main Container -->


<div class="hide">
    <div class="popup1" id="pop-inbox-msg">
        <section class="inner4_main_lft">
            <h2>House Swap Inquiry</h2>
            <p>
                To : <span class="msg-from-name"></span>  <br>From : <span class="msg-to-name"></span> <a href="#" id="msg-view-property">(view property)</a>
            </p>
            <span>You have received the following house sitter enquiry from <span class="msg-to-name"></span>:</span>
            <br/><br/>
            <ul>
                <li class="msg-message"></li>
            </ul>
            <a href="" class="msg-history histry1">View message history</a><br/><br/>
            <span>To Reply to <span class="msg-to-name"></span>, complete the response below and select 'Send Reply’</span><br/><br/>
            <span class="msg"></span><br/>
            <ul>
                <li>
                    <textarea name="" cols="1" rows="10" id="pop-msg-message" style="width: 100%;" class="text_area"></textarea>
                </li>
                <li>
                    <input type="hidden" id="pop-msg-memberid"/>
                    <input type="hidden" id="pop-msg-homeid"/>
                    <input class="but_sub3 but_sub" name="" id="pop-inbox-msg-submit" type="button" value="Send reply" style="vertical-align: bottom;">
                    <img src="~/images/loading.gif" class="hide ajax-loading"/>
                </li>
            </ul>
            <a class="close"></a>
        </section>
    </div>
</div>


{
<script type="text/javascript">
    var global = {
        @if (Request.QueryString["view"] != null) {
        <text>activeMessage: @int.Parse(Request.QueryString["view"])</text>
        }
    };
</script>
