﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageJoinUsViewModel>
@using HouseSwapHolidays.Core.Utilities;
@using System.Diagnostics;
@{
    Layout = "LayoutV2.cshtml";
}


<!-- start main container: -->
<section>
    <div class="jointoday_sec">
        <div class="container">
        @Html.Raw(Model.FormLabel)
            <div class="joinform_sec">
                <div class="joinform_inn">
                    @{
                        Html.RenderPartial("~/Views/Partials/_JoinUsForm.cshtml", Model);
                    }
                </div>
            </div>
            <div class="login-form">
                <span>Already a member? <a href="#!" data-toggle="modal" data-target="#myModal"><i class="fa fa-lock" aria-hidden="true"></i> Log in here</a></span>
            </div>
        </div>
    </div>
</section>
@if (Model.Testimonial != null) {
    <section>
        <div class="recommend_sec">
            <div class="container">
                <div class="row">
                    @if (Model.Testimonial.Image != null) {
                        <aside class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <aside class="rcmnd_left">
                                <img src="@Model.Testimonial.Image.Url" alt="@Model.Testimonial.Image.AltText">
                            </aside>
                        </aside>
                    }
                    <aside class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <aside class="rcmnd_right">
                            <p>“@Model.Testimonial.Content”</p>
                            <em>@Model.Testimonial.Title</em>
                            <div class="learnmore">
                                @if (Model.Testimonial.LinkA != null) {
                                    <a href="@Model.Testimonial.LinkA.Link" target="@Model.Testimonial.LinkA.Target">@Model.Testimonial.LinkA.Title</a>
                                }
                                @if (Model.Testimonial.LinkB != null)
                                {
                                    <a href="@Model.Testimonial.LinkB.Link" target="@Model.Testimonial.LinkB.Target">@Model.Testimonial.LinkB.Title</a>
                                }
                            </div>
                        </aside>
                    </aside>
                </div>
            </div>
        </div>
    </section>
}
<!-- end main container: -->   