﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.Base.BaseViewModel>
@using System.Web.Optimization
@using HouseSwapHolidays.Core.Utilities;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@Model.PageTitle</title>
    <meta name="title" content="@Model.MetaTitle">
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription"/>
    @if (Model.NoIndex)
    {
        <meta name="robots" content="NOINDEX, NOFOLLOW" />
    }
    <!-- Start: Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/imagesv2/favicon.ico">
    <!-- End: Favicon -->
    <!-- Start: Stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    @Styles.Render("~/bundles/all2.css")
    <!-- End: Stylesheet-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    @Html.Raw(Model.GoogleAnalytics)
</head>
<body>
    <!-- Start: Wrapper-->

    <div id="wrapper">
        <!-- header Start: -->
        @Html.Partial("~/Views/Partials/_Header.cshtml", Model)
        <!-- header Start: -->
        @RenderBody()
        <!-- start footer: -->
        <footer id="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        @if (Model.HasLeftContent)
                        {
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="footer_block">
                                    <h4>@Model.LeftContent.Title</h4>
                                    <p>
                                        @Model.LeftContent.Content
                                    </p>
                                </div>
                            </div>
                        }
                        @if (Model.HasFirstMenu)
                        {
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                <div class="footer_block">
                                    <h4>@Model.FirstMenu.Title</h4>
                                    @if (Model.FirstMenu.HasMenu)
                                    {
                                        <ul>
                                            @foreach (var menu in Model.FirstMenu.Menu)
                                            {
                                                <li><a href="@menu.Url"><i class="fa fa-angle-right" aria-hidden="true"></i>@menu.Name</a></li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.HasSecondMenu)
                        {
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="footer_block">
                                    <h4>@Model.SecondMenu.Title</h4>
                                    @if (Model.SecondMenu.HasMenu)
                                    {
                                        <ul>
                                            @foreach (var menu in Model.SecondMenu.Menu)
                                            {
                                                <li><a href="@menu.Url"><i class="fa fa-angle-right" aria-hidden="true"></i>@menu.Name</a></li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.HasRightContent)
                        {
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="footer_block">
                                    <h4>@Model.RightContent.Title</h4>
                                    @if (Model.RightContent.SocialAccounts.Any())
                                    {
                                        <div class="ftr_social">
                                            <ul>
                                                @foreach (var item in Model.RightContent.SocialAccounts)
                                                {
                                                    <li><a href="@(item.HasLink ? item.Link.Url : "javascript:void;")" target="@(item.HasLink ? item.Link.Target : "")"><i class="fa fa-@item.Icon" aria-hidden="true"></i></a></li>
                                                }
                                            </ul>
                                            <p>
                                                <span>@Html.Raw(Model.RightContent.Text)</span>
                                                @if (!string.IsNullOrEmpty(Model.RightContent.Email))
                                                {
                                                    <span><a href="mailto:@(Model.RightContent.Email)" target="_blank">@Model.RightContent.Email</a></span>
                                                }
                                            </p>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="backtop_arrow">
                    <a href="#!" id="back-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                </div>
            </div>
            @if (Model.HasBottomMenu)
            {
                <div class="footer_btm">
                    <div class="container">
                        <div class="leftft_btm">
                            <p>@Model.BottomMenu.Title</p>
                        </div>
                        <div class="rightft_btm">
                            @if (Model.BottomMenu.HasMenu)
                            {
                                <ul>
                                    @foreach (var menu in @Model.BottomMenu.Menu)
                                    {
                                        <li>
                                            @if (menu.Name == Model.BottomMenu.Menu.Last().Name)
                                            {
                                                <a href="@menu.Url">
                                                    @menu.Name
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@menu.Url">
                                                    @menu.Name
                                                </a><span>|</span>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            }
        </footer>
        <!-- end footer: -->
    </div>
    <!-- End: Wrapper-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form id="signInForm">
                        @if (Model.PopSignIn != null)
                        {
                            <h2>@Model.PopSignIn.Title</h2>
                        }
                        <span class="form-error hide">Incorrect email or password.</span>
                        <ul>
                            <li>
                                <input type="email" name="emailaddress" placeholder="Email Address">
                            </li>
                            <li>
                                <input type="password" name="password" placeholder="Password">
                                <a href="#!" data-toggle="modal" data-target="#myModal2" data-dismiss="modal" class="for-got">forgot password?</a>
                            </li>
                            <li>
                                <input type="submit" value="SIGN IN" class="signin_btn">
                            </li>
                        </ul>
                        <span>Not yet a member? <a href="/join-us/"><i class="fa fa-hand-o-right" aria-hidden="true"></i>JOIN NOW!</a></span>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <!-- Modal forgot pass-->
    <div class="modal modal_1 fade" id="myModal2" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginUmbracoForm("SendAndSavePasswordResetKey", "AccountForm", FormMethod.Post, new { id = "forgot_pass", @class = "forgot_scndpopup" } )) { 
                        <h3>Forgotten Password</h3>
                        <p>Forgotten your password? Simply enter your email address and follow the verification link we have send to you!</p>
                        <input type="email" id="pass_forgot" name="email" placeholder="">
                        <input type="submit" value="Submit" class="submitbtn">
                    }
                </div>
            </div>
        </div>
    </div>
    <!--End Model forgot pass-->

    <!--Modal password changed-->
    <div class="modal modal_1 fade" id="modalForAll" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- We used forgot password style -->
                    <form id="forgot_pass" class="forgot_scndpopup">
                        <h3>@(Request.QueryString["t"])</h3>
                        <p>@(Request.QueryString["m"])</p>
                        <input type="button" value="Ok" class="submitbtn"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--End MOdal password changed end-->
    <!-- Set script -->
    @Scripts.Render("~/bundles/all2.js")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsO-Bh2jdKBiyC1KvsdtUbntal2sYdv3k&libraries=places&callback=initAutocomplete" async defer></script>
    <script>
        // This example displays an address form, using the autocomplete feature
        // of the Google Places API to help users fill in the information.

        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var placeSearch, autocomplete;
        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };


        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @@type {!HTMLInputElement} */
                //querySelectorAll('#id2, #id3, #id5');
                //(document.querySelectorAll('#autocomplete, #autocomplete1, #autocomplete2')),
                //(document.getElementByClass('autocomplete')),
                (document.getElementById('autocomplete')),
                { types: ['geocode'] });

            autocomplete.addListener('place_changed', fillInAddress);
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                }
            }
        }
    </script>


    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    @if (Model.Content.DocumentTypeAlias == "PageJoinUs")
    {
        <script type="text/javascript">
            $(document).ready(function () {
                //contact form
                $("#newsletters_form").validate({

                    // Specify the validation rules
                    rules: {
                        firstname: 'required',
                        lastname: 'required',
                        password: 'required',
                        confirmpassword: {
                            equalTo: "#password"
                        },
                        emailaddress: {
                            required: true,
                            email: true,
                            remote: "/umbraco/api/accountapi/isemailnotexist"
                        },
                        accepttermsandcondition: {
                            required: true
                        }
                    },

                    // Specify the validation error messages
                    messages: {
                        firstname: "First name required.",
                        lastname: "Last name required.",
                        emailaddress: {
                            email: "Please enter a valid email address",
                            required: "This field is required",
                            remote: "Email already exist."
                        },
                        accepttermsandcondition: "This field is required"
                    },

                    submitHandler: function (form) {
                        form.submit();

                        //    $.ajax({
                        //        type: $(form).attr('method'),
                        //        url: $(form).attr('action'),
                        //        data: $(form).serialize(),

                        //    }).done(function (response) {
                        //        $("#fname").val("");
                        //        $("#lname").val("");
                        //        $("#password").val("");
                        //        $("#confirm_password").val("");
                        //        $("#address_line1").val("");
                        //        $("#address_line2").val("");
                        //        $("#city").val("");
                        //        $("#zip").val("");
                        //        $("#state").val("");
                        //        $("#email_address").val("");
                        //        $("#send_newsletter").prop('checked', false);
                        //        $("#term_cond").prop('checked', false);
                        //        /* $("#success_msg").css('display', 'block');
                        //         setTimeout($("#success_msg").css('none', 'block'), 2000);*/
                        //    });
                        //    return false;
                    }
                });

                //$(document).ajaxStart(function () {
                //    $("#ajaxcall").html("Message sending ...");
                //});

                //$(document).ajaxComplete(function () {
                //    $("#ajaxcall").html("Message send..").css({ 'color': 'green' });
                //});
            });
        </script>
    }

    @if (Request.QueryString["t"] != null || Request.QueryString["m"] != null) { 
    <script type="text/javascript">
        $(function() {
            var modal = $("#modalForAll");
            modal.modal();
            $("#modalForAll input[type=button]").click(function() {
                modal.modal("hide");
            });
        });
    </script>
    }

    <script type="text/javascript">
        $(function () {
            @if (Request.QueryString["login"] != null)
            {
                <text>$("#logIn").click();</text>
            }
            @if (Request.QueryString["fp"] != null)
            {
                <text>$("#myModal2").modal();</text>
            }
        });
    </script>
</body>
</html>