﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.Base.BaseViewModel>
@using System.Web.Optimization
@using HouseSwapHolidays.Core.Utilities;

@using HSHContants = HouseSwapHolidays.Core.Models.Utilities.Constants;
@{
    Layout = null;
    var ctx = UmbracoContext.HttpContext;
    var activateTransparentHeader = Model.TransparentHeader && Model.Content.DocumentTypeAlias == "PageHomeV2";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@Model.PageTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="title" content="@Model.MetaTitle">
    <meta name="keywords" content="@Model.MetaKeywords" />
    <meta name="description" content="@Model.MetaDescription" />
    @if (Model.NoIndex)
    {
        <meta name="robots" content="NOINDEX, NOFOLLOW" />
    }
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    @Styles.Render("~/bundles/all.css")

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700italic,900,700,400italic,300,300italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic,900' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    
    <!--[if lt IE 9]>z
    <script type="text/javascript">
        document.createElement("header");
        document.createElement("nav");
        document.createElement("section");
        document.createElement("article");
        document.createElement("aside");
        document.createElement("footer");
    </script>
    <![endif]-->
    <!--[if lt IE 9]><script src="https://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->

    @Html.Raw(Model.GoogleAnalytics)
</head>
<body>
    <!-- Wrapper-->
    <div id="wrapper">
        <!-- Header -->
        @Html.Partial("~/Views/Partials/_Header.cshtml", Model)
        <!-- Header -->
        <!-- Main Container -->
        <section>
            <div class="old-container">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </section>
        <!-- Main Container -->
        <!-- start footer: -->
        <footer id="footer">
            <div class="footer_top">
                <div class="container">
                    <div class="row">
                        @if (Model.HasLeftContent)
                        {
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="footer_block">
                                    <h4>@Model.LeftContent.Title</h4>
                                    <p>
                                        @Model.LeftContent.Content
                                    </p>
                                </div>
                            </div>
                        }
                        @if (Model.HasFirstMenu)
                        {
                            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                                <div class="footer_block">
                                    <h4>@Model.FirstMenu.Title</h4>
                                    @if (Model.FirstMenu.HasMenu)
                                    {
                                        <ul>
                                            @foreach (var menu in Model.FirstMenu.Menu)
                                            {
                                                <li><a href="@menu.Url"><i class="fa fa-angle-right" aria-hidden="true"></i>@menu.Name</a></li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.HasSecondMenu)
                        {
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="footer_block">
                                    <h4>@Model.SecondMenu.Title</h4>
                                    @if (Model.SecondMenu.HasMenu)
                                    {
                                        <ul>
                                            @foreach (var menu in Model.SecondMenu.Menu)
                                            {
                                                <li><a href="@menu.Url"><i class="fa fa-angle-right" aria-hidden="true"></i>@menu.Name</a></li>
                                            }
                                        </ul>
                                    }
                                </div>
                            </div>
                        }
                        @if (Model.HasRightContent)
                        {
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="footer_block">
                                    <h4>@Model.RightContent.Title</h4>
                                    @if (Model.RightContent.SocialAccounts.Any())
                                    {
                                        <div class="ftr_social">
                                            <ul>
                                                @foreach (var item in Model.RightContent.SocialAccounts)
                                                {
                                                    <li><a href="@(item.HasLink ? item.Link.Url : "javascript:void;")" target="@(item.HasLink ? item.Link.Target : "")"><i class="fa fa-@item.Icon" aria-hidden="true"></i></a></li>
                                                }
                                            </ul>
                                            <p>
                                                <span>@Html.Raw(Model.RightContent.Text)</span>
                                                @if (!string.IsNullOrEmpty(Model.RightContent.Email))
                                                {
                                                    <span><a href="mailto:@(Model.RightContent.Email)" target="_blank">@Model.RightContent.Email</a></span>
                                                }
                                            </p>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="backtop_arrow">
                    <a href="#!" id="back-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
                </div>
            </div>
            @if (Model.HasBottomMenu)
            {
                <div class="footer_btm">
                    <div class="container">
                        <div class="leftft_btm">
                            <p>@Model.BottomMenu.Title</p>
                        </div>
                        <div class="rightft_btm">
                            @if (Model.BottomMenu.HasMenu)
                            {
                                <ul>
                                    @foreach (var menu in @Model.BottomMenu.Menu)
                                    {
                                        <li>
                                            @if (menu.Name == Model.BottomMenu.Menu.Last().Name)
                                            {
                                                <a href="@menu.Url">
                                                    @menu.Name
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="@menu.Url">
                                                    @menu.Name
                                                </a><span>|</span>
                                            }
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            }
        </footer>
        <!-- end footer: -->
            <div class="clear"></div>
        </div>
        <!-- Wrapper-->
        <!-- Popups -->
        <div class="popup1 popup2 popup3" id="pop1">
            <section class="inner4_main_lft">
                <h2>@Model.PopSignIn.Title</h2>
                <p>@Model.PopSignIn.Summary.ToLineBreaksHtml()</p>
                <span id="msg" style="color:red;"></span>
                <form id="form" action="" method="post" enctype="multipart/form-data" style="margin-top:4px;">
                    <ul>
                        <li>
                            <div class='email-wrapper'>
                                <div class='error-required'>This field is required.</div>
                                <div class='error-email'>Valid email is required.</div>
                                <input class="textfield ful email" name="femail" id="femail" type="text" value="" placeholder="Email Address">
                            </div>

                        </li>
                        <li>
                            <div class='pass-wrapper'>
                                <div class='error-required'>This field is required.</div>
                                <input class="textfield ful pass" name="fpassword" id="fpassword" type="password" value="" placeholder="Password">
                                <a href="#" id="forgot-password" class="forgot">forgot password?</a>
                            </div>
                        </li>
                        <li>
                            <input name="" type="button" value="SIGN IN" class="but_sub but_sub1">
                        </li>
                    </ul>
                    <p class="mem">Not yet a member?  <a href="#" class="join-now"> JOIN NOW!</a></p>

                </form>
                <a class="close"></a>
            </section>
        </div>
        <div class="popup1 popup2" id="pop2">
            <section class="inner4_main_lft">
                <h2>@Model.PopRegistration.Title</h2>
                <p>@Model.PopRegistration.Summary.ToLineBreaksHtml()</p>
                <span class="error hide"></span>
                <form id="form" action="" method="post" enctype="multipart/form-data">
                    <ul>
                        <li>
                            <div class='name-wrapper1 namelist'>
                                <div class='error-required'>This field is required.</div>
                                <input type="text" class="name" id="fname" name="fname" value="" placeholder="Your Name" style="padding-left:5%;padding-right:0;">
                            </div>

                            <div class='name1-wrapper1 namelist2'>
                                <div class='error-required'>This field is required.</div>
                                <input type="text" class="name1" id="fname" name="lname" value="" placeholder="Last Name" style="padding-left:5%;padding-right:0;">
                                <!--<input class="textfield" name="femail" id="femail" type="text" value="Email Address" onclick="if(this.value=='Email Address'){this.value=''}" onblur="if(this.value==''){this.value='Email Address'}">-->
                            </div>
                        </li>
                        <!--<li>
                            <div class='msg-wrapper1'>
                                <div class='error-required'>This field is required.</div>
                                <textarea class="txt_area msg" id="fmessage" name="fmessage" cols="1" rows="1" onclick="if(this.value=='Your message'){this.value=''}" onblur="if(this.value==''){this.value='Your message'}">Your message</textarea>
                                <strong class="clear"></strong>
                            </div>
                        </li>-->
                        <li>
                            <div class='email-wrapper1'>
                                <div class='error-required'>This field is required.</div>
                                <div class='error-email'>Valid email is required.</div>
                                <input class="textfield ful email" name="femail" id="femail" type="text" value="" placeholder="Email Address">
                            </div>
                        </li>
                        <li>
                            <div class='pass-wrapper1'>
                                <div class='error-required'>This field is required.</div>
                                <input class="textfield pass" name="fpassword" id="fpassword" type="password" value="" placeholder="Your password">
                            </div>
                        </li>
                        <li>
                            <div style="padding-top: 8px;">
                                <div class="field">
                                    <input type="checkbox" class="checkval" id="registrationNewsletter">
                                    <label for="registrationNewsletter" style="width: 90%; padding: 0 0 0 5px;"> Yes, please send me your newsletter! I would like to be kept informed on the latest home exchange news and offers</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class='checkval-wrapper1'>
                                <div class='error-required'>This field is required.</div>
                                <div class="field"><input type="checkbox" class="checkval" id="chk18"><label for="chk18"> I accept the <a href="/terms-of-use/" target="_blank" style="color:#71c5d3;text-decoration:none;" rel="tipsy" title="Opens in a new window">terms and conditions</a> of use.</label></div>
                            </div>
                        </li>
                        <li>
                            <input name="" type="button" value="GET STARTED" class="but_sub but_sub2">
                        </li>
                    </ul>
                    <p class="mem">Already a member? <a href="#"> Sign in</a></p>
                </form>
                <a class="close"></a>
            </section>
        </div>
        <div class="hide">
            <div class="popup1" id="pop-contactus">
                <section class="inner4_main_lft">
                    <h2>@Model.PopContactUs.Title</h2>
                    <p>@Model.PopContactUs.Summary.ToLineBreaksHtml()</p>
                    <form id="form" action="" method="post" enctype="multipart/form-data">
                        <ul>
                            <li>
                                <div class='country-wrapper2'>
                                    <div class='error-required'>This field is required.</div>
                                    <div class="country" style="margin-bottom:6px">
                                        <input type="text" name="subject" class="fcountry" id="fcountry" placeholder="Subject">
                                    </div>
                                </div>
                            </li>
                            <li class="per1">
                                <div class='name-wrapper2'>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" class="name" id="fname" name="name" placeholder="Your Name" style="padding-left:4.5%;">
                                </div>
                            </li>
                            <li class="per1 per2">
                                <div class='email-wrapper2'>
                                    <div class='error-required'>This field is required.</div>
                                    <div class='error-email'>Valid email is required.</div>
                                    <input class="textfield email" name="email" id="femail" type="text" placeholder="Email Address">
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper2'>
                                    <div class='error-required'>This field is required.</div>
                                    <textarea class="txt_area msg" id="fmessage" name="message" cols="1" rows="1" placeholder="Your message"></textarea>
                                    <strong class="clear"></strong>
                                </div>
                            </li>
                            <li>
                                <input type="hidden" value="@HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AboutUs" name="nodeid" />
                                <input name="" type="button" value="SUBMIT" class="but_sub3 but_sub">
                            </li>
                        </ul>
                    </form>
                    <a class="close"></a>
                </section>
            </div>
        </div>

        <!-- POPUP FORGOT PASSWORD -->
        <div class="hide">
            <div class="popup1" id="pop-forgot-password">
                <section class="inner4_main_lft">

                    <h2>@Model.PopForgotPassword.Title</h2>
                    <p>@Model.PopForgotPassword.Summary.ToLineBreaksHtml()</p>
                    <ul>
                        <li>
                            <div class='error-required'>This field is required.</div>
                            <input type="email" required id="pop-forgot-password-email" />
                        </li>
                        <li>
                            <input name="" type="submit" value="Submit" class="but_sub3 but_sub" id="pop-forgot-password-submit" style="vertical-align:bottom;" />
                            <img src="~/images/loading.gif" class="hide ajax-loading" />
                        </li>
                    </ul>
                    <a class="close"></a>
                </section>
            </div>
        </div>

        <!-- POPUP PAYPAL PAYMENT-->
        <div class="hide">
            <div class="popup1" id="pop-paypal">
                <section class="inner4_main_lft">

                    <h2>Activate Your Membership</h2>
                    <span class="hide msg"></span>
                    <p>
                        Your registration details have been received!<br />
                        To activate your membership and receive a full two year membership for an amazingly low $39.95 simply click on the 'Proceed to Paypal' button below.
                    </p>
                    <p>
                        Once payment is completed and you have completed the membership,<br />
                        you will have instant access to the world's largest Christian home swap holiday community
                    </p>
                    <p></p>
                    <p></p>
                    <ul>
                        <li><a href="#" class="but_sub but_sub1" style="background-color:#85c075;font-weight:normal;text-decoration:none;">Proceed to Paypal</a></li>
                    </ul>
                    <a class="close"></a>
                </section>
            </div>
        </div>

        <!-- POPUPSTATUS -->
        <div class="hide">
            <div class="popup1" id="pop-status">
                <section class="inner4_main_lft">
                    <h2>(autoset by script)</h2>
                    <p>(autoset by script)</p>
                    <ul>
                        <li><input name="" style="float:right" type="button" id="pop-status-ok" value="Ok" class="but_sub" /></li>
                    </ul>
                    <a class="close"></a>
                </section>
            </div>
        </div>

        <!-- Layout 2 modals-->
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="signInForm">
                            @if (Model.PopSignIn != null)
                            {
                                <h2>@Model.PopSignIn.Title</h2>
                            }
                            <span class="form-error hide">Incorrect email or password.</span>
                            <ul>
                                <li>
                                    <input type="email" name="emailaddress" placeholder="Email Address">
                                </li>
                                <li>
                                    <input type="password" name="password" placeholder="Password">
                                    <a href="#!" data-toggle="modal" data-target="#myModal2" data-dismiss="modal" class="for-got">forgot password?</a>
                                </li>
                                <li>
                                    <input type="submit" value="SIGN IN" class="signin_btn">
                                </li>
                            </ul>
                            <span>Not yet a member? <a href="/join-us/"><i class="fa fa-hand-o-right" aria-hidden="true"></i>JOIN NOW!</a></span>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal -->
        <!-- Modal forgot pass-->
        <div class="modal modal_1 fade" id="myModal2" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginUmbracoForm("SendAndSavePasswordResetKey", "AccountForm", FormMethod.Post, new { id = "forgot_pass", @class = "forgot_scndpopup" }))
                        {
                            <h3>Forgotten Password</h3>
                            <p>Forgotten your password? Simply enter your email address and follow the verification link we have send to you!</p>
                            <input type="email" id="pass_forgot" name="email" placeholder="">
                            <input type="submit" value="Submit" class="submitbtn">
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--End Model forgot pass-->
        <!--Modal password changed-->
        <div class="modal modal_1 fade" id="modalForAll" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <!-- We used forgot password style -->
                        <form id="forgot_pass" class="forgot_scndpopup">
                            <h3>@(Request.QueryString["t"])</h3>
                            <p>@(Request.QueryString["m"])</p>
                            <input type="button" value="Ok" class="submitbtn" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--End MOdal password changed end-->


        <!-- script start below -->
        <script src="/scripts/jquery-1.9.1.js" type="text/javascript"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
        @Scripts.Render("~/bundles/all.js")
        <script type="text/javascript">
            function PopupSuccess(title, body) {
                var popStatus = $('#pop-status');
                popStatus.find('h2').html(title);
                popStatus.find('p').html(body);
                popStatus.lightbox_me({
                    centered: true
                });
            }
        </script>
        <script src="/scripts/validate.js" type="text/javascript"></script>
        <script src="/scripts/jquery.dd.min.js"></script>


        @if (Model.Content.DocumentTypeAlias == "PageViewHome")
        {
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf-ogJ1BaeqbZR3kT2BZKpV9E_rxEAUdg"></script>
            <script type="text/javascript">
                function initialize() {
                    var longitude = $('#googleMap').data('longitude');
                    var lattitude = $('#googleMap').data('lattitude');
                    var mapProp = {
                        center: new google.maps.LatLng(lattitude, longitude),
                        zoom: 13,

                    };
                    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                }

                google.maps.event.addDomListener(window, 'load', initialize);
            </script>
        }

        <script src="/scripts/jquery.vgrid.min.js" type="text/javascript"></script>
        <script src="/scripts/jquery.easing.1.3.js" type="text/javascript"></script>
        <script src="~/scripts/global.js" type="text/javascript"></script>
        <script src="/scripts/main.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('*').on('click', function () { return true; });

                $('#initializeGmap').click(function () {
                    initialize();
                });

                $('.bxslider').bxSlider({
                    mode: 'fade',
                    auto: true,
                    speed: 1000,
                    autoDelay: 4000,
                    captions: true,
                    controls: false

                });
                // Ms-DropDown
                $("select").msDropdown();

                // Fix b.ug where msdropdown wont work when element is hidden
                // so just let msdropdown to be call first before hiding it
                $("#pop-reverse-search").hide();

                // Popups
                $('.sign-in').click(function (e) {
                    $('#pop1').lightbox_me({
                        centered: true
                    });
                    e.preventDefault();
                    $(".close").click(function () {
                        $('#pop1').trigger('close');
                    });
                });

                $('.click_pop').click(function () {
                    $('#pop2').lightbox_me({
                        centered: true
                    });
                    e.preventDefault();
                    $(".close").click(function () {
                        $('#pop2').trigger('close');
                    });
                });


                $('.join-now').click(function (e) {
                    $('#pop1').trigger('close');
                    $('#pop2').lightbox_me({
                        centered: true
                    });
                    e.preventDefault();
                });

                $('#forgot-password').click(function (e) {
                    $('#pop1').trigger('close');
                    $('#pop-forgot-password').lightbox_me({
                        centered: true
                    });
                    e.preventDefault();
                });


                $('.click_pop2').click(function () {
                    $('#pop3').lightbox_me({
                        centered: true
                    });
                    e.preventDefault();
                    $(".close").click(function () {
                        $('#pop3').trigger('close');
                    });
                });

                //Cheack-boxes
                $('input').iCheck({
                    checkboxClass: 'icheckbox_square-red',
                    radioClass: 'iradio_square-red',
                    increaseArea: '20%' // optional
                });

            });
        </script>

        <!-- script ends above -->
        <script>
            $('#suggest-swap-btn').click(function (e) {
                e.preventDefault();
                $('#pop_up_enquiry').find('#enquiry_msg').addClass('hide');
                $('#pop_up_enquiry').find('#message').val('');
                $('#pop_up_enquiry').lightbox_me({
                    centered: true
                });
            });
        </script>
    
        <script type="text/javascript">
            $(window).load(function () {
                //alert('Hi...');

                $("#grid-content").vgrid();

            });
            if ($(window).width() < 767) {
                //click-hide
                $('.click-me').click(function (event) {
                    event.stopPropagation();
                    $(".navigation").slideToggle('');
                });
                $(".navigation").on("click", function (event) {
                    event.stopPropagation();
                });

                $(document).on("click", function () {
                    $('.navigation').slideUp('');
                });
            }
        </script>

        <script>
            (function ($) {
                $(document).ready(function () {

                    //bxslider
                    function insertCount(slide_curr, slide_count) {
                        $('#slide-counter').html('<strong>' + (slide_curr + 1) + '</strong>/' + slide_count);
                    };

                    var slider = $('#slideshow').bxSlider({
                        mode: 'fade',
                        pause: 4000,
                        infiniteLoop: true,
                        captions: true,
                        auto: true,
                        pagerCustom: '#bx-pager',
                        //pager: false,
                        onSliderLoad: function ($slideElement, oldIndex, newIndex) {
                            $('#slide-counter').html('<strong>' + 1 + '</strong>/' + $("#slideshow").data("items"));
                        },
                        onSlideAfter: function ($slideElement, oldIndex, newIndex) {
                            var slide_count = slider.getSlideCount();
                            var slide_curr = slider.getCurrentSlide();
                            insertCount(slide_curr, slide_count);
                        },
                        onSlidePrev: function ($slideElement, oldIndex, newIndex) {
                            var slide_count = slider.getSlideCount();
                            var slide_curr = slider.getCurrentSlide();
                            insertCount(slide_curr, slide_count);
                        }
                    });
                });

            })(jQuery);
        </script>

        <script>
            $(function () {
                $(".inner5_main_lft ul li.active .con").show();
                $('.inner5_main_lft ul li h4').click(function () {
                    $(this).parent().find('.con').slideToggle();
                    $(this).parent().toggleClass('active');

                    if ($(this).hasClass('')) {
                        $(this).addClass('active');
                    } else {
                        $(this).removeClass('active');
                    }
                });
            });
        </script>


        <script src="/scripts/html5lightbox.js"></script>
        <script type="text/javascript">
            tinymce.init({
                selector: 'textarea.rte-editor',
                height: 500,
            });
        </script>

        @if (Model.Content.DocumentTypeAlias == HSHContants.NodeAlias.ViewHomes
            && Request.QueryString["vm"] == "m")
        {
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsO-Bh2jdKBiyC1KvsdtUbntal2sYdv3k&libraries=places&callback=initialize" async defer></script>
            <script src="~/scripts/markerclusterer.js"></script>

            <script type="text/javascript">
                
                var styles = [[{
                    url: '../css/images/home_1.png',
                    height: 25,
                    width: 25
                }, {
                    url: '../css/images/home_2.png',
                    height: 30,
                    width: 30
                }, {
                    url: '../css/images/home_3.png',
                    width: 35,
                    height: 35
                }]];

                var markerClusterer = null;
                var map = null;
                var imageUrl = 'https://chart.apis.google.com/chart?cht=mm&chs=24x32&' +
                    'chco=FFFFFF,008CFF,000000&ext=.png';

                function refreshMap() {
                    $('.map-loading').fadeIn();

                    if (markerClusterer) {
                        markerClusterer.clearMarkers();
                    }

                    var markers = new Array();
                    var xmlMarkers = new Array();
                    var latLngs = new Array();
                    var markerImage = new google.maps.MarkerImage(imageUrl,
                        new google.maps.Size(24, 32));
                    var infowindow = new google.maps.InfoWindow({
                    });

                    var factor = 0.0000500;

                    //Boundaries calculatio http://stackoverflow.com/questions/12350413/google-maps-auto-fit-auto-center-autozoom-doesnt-work


                    var bounds = new google.maps.LatLngBounds();
                    
                    for (var i = 0; i < global.searchresulthomes.length; i++) {
                        var latLng = new google.maps.LatLng(
                            parseFloat(global.searchresulthomes[i][1]),
                            parseFloat(global.searchresulthomes[i][2]));
                        if ($.inArray(latLng, latLngs))
                            latLng = new google.maps.LatLng(
                                parseFloat(global.searchresulthomes[i][1]) +
                                Math.floor(Math.random() * 50) * factor,
                                parseFloat(global.searchresulthomes[i][2]) +
                                Math.floor(Math.random() * 50) * factor);
                        latLngs[latLngs.length] = latLng;

                        var marker = new google.maps.Marker({
                            map: map,
                            position: latLng,
                            draggable: true,
                            icon: markerImage,
                            id: global.searchresulthomes[i][0],
                            thumbnailUrl: global.searchresulthomes[i][5],
                            location: global.searchresulthomes[i][3],
                            bedrooms: global.searchresulthomes[i][6],
                            bathrooms: global.searchresulthomes[i][7],
                            summary: global.searchresulthomes[i][4]
                        });

                        google.maps.event.addListener(marker, 'click', (function (marker, i) {
                            return function () {
                                infowindow.setContent(
                                    '<div class="map-info-window">' +
                                    '<div class="map-thumb">' +
                                    '<img src="' + marker.thumbnailUrl + '" />' +
                                    '</div>' +
                                    '<div class="map-info">' +
                                    '<div class="map-location">' + marker.location + '</div>' +
                                    '<div class="map-details">' +
                                    'Beds: ' + marker.bedrooms + '&nbsp&nbsp' +
                                    'Bath: ' + marker.bathrooms + '&nbsp&nbsp' +
                                    'ID: ' + marker.id + '</div>' +
                                    '<div class="map-summary">' + marker.summary + '</div>' +
                                    '</div>' +
                                    '<div class="clear"></div>' +
                                    '<div class="map-disclaimer">' +
                                    'For added security, the location displayed is approximate only' +
                                    '</div>' +
                                    '<div class="map-view-home">' +
                                    '<a href="' + $("#map").data("homedetailurl") + '?id=' + marker.id + '">View home</a></div>' +
                                    '<div class="clear"></div>' +
                                    '</div>');
                                infowindow.open(map, marker);
                            }
                        })(marker, i));
                        markers.push(marker);
                        bounds.extend(latLng);
                    }

                    xmlMarkers = null;
                    latLngs = null;
                    markerClusterer = new MarkerClusterer(map, markers, {
                        maxZoom: 13,
                        gridSize: 40,
                        styles: styles[0]
                    });
                    map.fitBounds(bounds);
                    map.panToBounds(bounds);

                    $('.map-loading').fadeOut();

                }

                function initialize() {
                    map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 2,
                        //center: new google.maps.LatLng(39.91, 116.38),
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    });

                    new google.maps.places.Autocomplete(document.getElementsByClassName('location-autocomplete')[0]);

                    refreshMap();
                }
            </script>
        }

    @if (Model.Content.DocumentTypeAlias == HSHContants.NodeAlias.MyProfile ||
        Model.Content.DocumentTypeAlias == HSHContants.NodeAlias.ViewHomes ||
        Model.Content.DocumentTypeAlias == HSHContants.NodeAlias.AdvancedSearch)
    {
        if (Request.QueryString["vm"] != "m")
        {
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsO-Bh2jdKBiyC1KvsdtUbntal2sYdv3k&libraries=places&callback=initAutocomplete" async defer></script>
        }

    <script type="text/javascript">
    

        var placeSearch, autocomplete;
        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };


        function initAutocomplete() {
            // Create the autocomplete object, restricting the search to geographical
            // location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @@type {!HTMLInputElement} */
                //querySelectorAll('#id2, #id3, #id5');
                //(document.querySelectorAll('#autocomplete, #autocomplete1, #autocomplete2')),
                //(document.getElementByClass('autocomplete')),
                (document.getElementsByClassName('location-autocomplete')[0]),
                { types: ['geocode'] });

            autocomplete.addListener('place_changed', fillInAddress);
            
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }

            // Get each component of the address from the place details
            // and fill the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                }
            }
        }
    </script>
    }

    @if (Request.QueryString["t"] != null || Request.QueryString["m"] != null)
    {
        <script type="text/javascript">
            $(function () {
                var modal = $("#modalForAll");
                modal.modal();
                $("#modalForAll input[type=button]").click(function () {
                    modal.modal("hide");
                });
            });
        </script>
    }


    <script type="text/javascript">
        $(function() {
            @if (Request.QueryString["login"] != null)
            {
                <text>$("#logIn").click();</text>
            }
            @if (Request.QueryString["fp"] != null)
            {
                <text>$("#myModal2").modal();</text>
            }
        });
    </script>
    </body>
</html>
