﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageMessageHistoryViewModel>
@{
    Layout = "Layout.cshtml";
}
<section id="main-container">
    <div style="padding:40px">

        <a href="" onclick=" javascript: history.back(); ">Close this window and return to what you were doing</a>
        <br />
        <br />
        <br />
        <br />
        <p>
            @foreach (Common.HomeEnquiry enquiry in Model.HomeEnquiryCollection)
            {
                <div style="margin-bottom: 18px;">
                    <div style="margin-bottom: 12px;"><strong>Message received on @enquiry.EnquiryDate.ToString("dd-MM-yy") from @enquiry.FirstName</strong>
                    </div>
                    <div>
                        @Html.Raw(enquiry.Message.ToLineBreaksHtml())
                    </div>
                </div>
                <hr/>
            }
        </p>
        <br />
        <br />
        <a href="" onclick="javascript: history.back();">Close this window and return to what you were doing</a>
    </div>
</section>