﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageMessageViewModel>
@{
    Layout = "Layout.cshtml";
}

<section id="main-container">
    <div style="padding:40px">
        <h1 style="margin-bottom:12px;">@Model.Title</h1>
        <p>@Html.Raw(Model.Message)</p>
    </div>
</section>