﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageMyProfileViewModel>

@{
    Layout = "Layout.cshtml";
    var ctr = 1;    
}

<!-- Main Container -->
<section id="main-container">
    <div class="search-result pad_1">
        <div class="profile-page">
            <div class="inner15">
                <div class="inner13-sidebar inner15-sidebar">
                    @Html.Partial("_QuickLinks", Model.QuickLinks)
                    @Html.Partial("_RefineSection")
                </div>
                <div class="inner15-content">
                    <h2>My Profile</h2>

                @if (Model.HasHome) { 

                    <div class="unreaded-msg">You currently have <a style="color:#71c5d3" href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.Inbox)"><b>@Model.UnreadMessage</b> unread message(s)</a></div>
                    
                    <div class="inner15-main">
                        @if (Model.HasHome) {
                            <div class="home-detailes">
                                <h3>Home Details</h3>
                                <div class="home-detin">
                                    <div class="home-pic"><img src="@(!string.IsNullOrEmpty(Model.HomeImageUrl) ? Model.HomeImageUrl : "/imagesv2/no-photo.jpg")" width="317" height="190" alt="home">
                                    </div>
                                    <div class="home-content">
                                        <p>
                                            @Model.HomeDescription
                                        </p>
                                        <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.StepNodeId.Step3)?id=@Model.HomeId" class="edit">Edit home and photOS</a>
                                        <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.ViewHome)?id=@Model.HomeId" class="view">VIEW HOME</a>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        }
                        @if (Model.FavoritesHomes.Any())
                        {
                            <div class="favourite-block">
                                <h3>Favourite Homes</h3>
                                <div class="scroll-div">
                                    <ul>
                                        <li>
                                            <small>Home</small>
                                            <small>Contacted</small>
                                            <small>Action</small>
                                            <div class="clear"></div>
                                        </li>
                                        @foreach (var home in Model.FavoritesHomes)
                                        {
                                            <li>
                                                <small>@home.Location</small>
                                                <div class="enruiry"><a href="#popup-sendenquiry@(ctr)" data-width="680" data-height="460" class="html5lightbox">Send enquiry</a>
                                                </div>
                                                <div class="action-section">
                                                    <ul>
                                                        <li><a href="/view-home/?id=@home.Homeid"><img src="/images/pencil-icon.png" width="13" height="14" alt="pencil"></a></li>
                                                        <li><a href="#popup-sendenquiry@(ctr)" data-width="680" data-height="460" class="html5lightbox">
                                                            <img src="/images/message_icon2.png" width="15" height="13" alt="pencil">
                                                        </a></li>
                                                        <li><a href="#" data-id="@home.Id" class="delete-favorite"><img src="/images/trash-icon.png" width="12" height="13" alt="delete"></a></li>
                                                    </ul>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="clear"></div>

                                                <!-- POP UP-->
                                                
                                                <div id="popup-sendenquiry@(ctr)" class="hide">
                                                    <div class="pop_up">
                                                        <h6>Send your enquiry</h6>
                                                        <p>
                                                            To : @home.HomeMemberName <br>From : @Model.Member.GivenName <a target="_blank" href="/view-home/?id=@home.Homeid">(view property)</a>
                                                        </p>
                                                        <span>Please enter your home swap enquiry message in the space provided below and then click 'Enquire Now' to send:</span>
                                                        <span class="form-success hide">Message Successfully Sent!</span>
                                                        <div class='error-required' style="top:160px;left:20px;">This field is required.</div>
                                                        <textarea name="message" cols="1" rows="1" id="click3" class="text_area" style="height:168px;"></textarea>
                                                        <div>
                                                            <input class="send_1 send_enquiry" style="display:inline;vertical-align:bottom;margin-bottom:4px;" name="" type="button" data-homeid="@home.Homeid" data-memberid="@home.HomeMemberId" value="Enquire Now">
                                                            <img src="~/images/loading.gif" class="hide ajax-loading" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </li>
                                            ctr++;
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                        
                            <div class="house-infor">
                                @if (Model.MemberDestinations.Any())
                                {
                                <div class="house-destination">
                                    <div class="house-bor">
                                        <h3>Favourite destinations</h3>
                                        <ul>
                                            <li><h4>Destination(s)</h4></li>
                                            @foreach (var item in Model.MemberDestinations)
                                            {
                                                <li><a href="#">@item.CountryName</a></li>
                                            }
                                        </ul>
                                    </div>
                                    <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.StepNodeId.Step2)" class="upadte">Update destinations</a>
                                </div>
                                }
                                <div class="house-news">
                                    <h3>Latest Tips &amp; News</h3>
                                    <p><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.StepNodeId.Step4)">Uploading photos</a> of your home is agreat way to make your homestand out from the crowd! Upload photos of your home by going <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.StepNodeId.Step4)">here</a>
                                    </p>
                                </div>
                                <div class="clear"></div>
                                <div class="edit-details">
                                    <h3>Edit your contact details and introduction</h3>
                                    <p>
                                        Looking to change your contact details, password, or member introduction> Update your details <a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.EditDetails)">here</a>
                                    </p>
                                </div>
                                <div class="clear"></div>
                            </div>
                        
                    </div>


                }

                else
                {
                    <div style="font-size:16px;">Your membership is incomplete. Click <a style="color:#6bc8d9;text-decoration:none;" href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.StepNodeId.Step1)">here</a> to complete your membership.</div>
                }

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>
<!-- Main Container -->

@Html.Partial("_SendEnquiry")