﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.Page404ViewModel>
@{
    Layout = "Layout.cshtml";
}

<section id="main-container">
    <div style="padding:40px">
        <h1 style="margin-bottom:12px;">@Model.Title</h1>
        <p>@Model.Body.ToLineBreaksHtml()</p>
    </div>
</section>