﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageResetPasswordViewModel>
@{
    Layout = "Layout.cshtml";
}

<section id="main-container">
    <div style="padding:40px" class="inner4_main_lft">
        <h2 style="margin-bottom:12px;">Reset Password</h2>

        <p style="color:red;">@TempData["message"]</p>
        
        
        @if (TempData["message"] == null || TempData["message"] == "All fields are required and must matched.") { 
            using (Html.BeginUmbracoForm("ResetPassword", "FormResetPassword"))
            {
                <ul>
                    <li>Insert your new password</li>
                    <li><input type="password" id="password" name="newpassword" placeholder="New Password" /></li>
                    <li><input type="password" id="password" name="repeatpassword" placeholder="Confirm Password" /></li>
                    <li><input type="submit" value="Submit" class="but_sub" /> </li>
                </ul>
            }
        }
        
    </div>
</section>