﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageSearchResultsViewModel>
@using HouseSwapHolidays.Core.Utilities;
@using HouseSwapHolidays.Core.Helpers;
@{
    Layout = "Layout.cshtml";

    //Querystrings
    var c = Request.QueryString["c"] ?? string.Empty;
    var r = Request.QueryString["r"] ?? string.Empty;
    var s = Request.QueryString["s"] ?? string.Empty;
    var e = Request.QueryString["e"] ?? string.Empty;
    var k = Request.QueryString["k"] ?? string.Empty;
    var lst = Request.QueryString["lst"] ?? string.Empty;
    var sf = Request.QueryString["sf"] ?? string.Empty;
    var vm = Request.QueryString["vm"] ?? string.Empty;
    var showDetail = vm == "d";
    var showMap = vm == "m";
    var rc = Request.QueryString["rc"] ?? string.Empty;
    var rcb = Request.QueryString["rcb"] ?? string.Empty;

    bool reverseMode = !string.IsNullOrEmpty(rc) && rc != "0";
}

<div class="refine_search">
    <div class="perth">
        <div class="perth_left">
            <form method="get">
                <h4>Refine Search</h4>
                <div class="location1">
                    <div class="select1">
                        <small>LOCATION :</small>
                        <div class="select1_lft">
                            @*@Html.Raw(Model.LocationDropdownList)*@
                            @*<select class="dropdown" name="l" id="search-country">
                                    <option @(c == "-1" ? "selected" : "") value="-1">Any</option>
                                    <option @(c == "AU" ? "selected" : "") value="AU">Australia</option>
                                    <option @(c == "NZ" ? "selected" : "") value="NZ">New Zealand</option>
                                    <option @(c == "OS" ? "selected" : "") value="OS">International</option>
                                    <optgroup label="Australia by Region">
                                        <option @(c == "AU-CT" ? "selected" : "") value="AU-CT">Australian Capital Territory</option>
                                        <option @(c == "AU-NS" ? "selected" : "") value="AU-NS">New South Wales</option>
                                        <option @(c == "AU-NT" ? "selected" : "") value="AU-NT">Northern Territory</option>
                                        <option @(c == "AU-QL" ? "selected" : "") value="AU-QL">Queensland</option>
                                        <option @(c == "AU-SA" ? "selected" : "") value="AU-SA">South Australia</option>
                                        <option @(c == "AU-TS" ? "selected" : "") value="AU-TS">Tasmania</option>
                                        <option @(c == "AU-VI" ? "selected" : "") value="AU-VI">Victoria</option>
                                        <option @(c == "AU-WA" ? "selected" : "") value="AU-WA">Western Australia</option>
                                    </optgroup>

                                </select>*@
                            <select name="l" id="search-country">
                                <option value='-1' data-type="c">Any</option>
                                <option value='AU' data-type="c" @(c == "AU" && r == "" ? "selected" : "")>Australia</option>
                                <option value='NZ' data-type="c" @(c == "NZ" && r == "" ? "selected" : "")>New Zealand</option>
                                <option value='OS' data-type="c" @(c == "OS" && r == "" ? "selected" : "")>International</option>
                                <optgroup label='Australia by Region'>
                                    <option value='CT' data-type="r" @(r == "CT" ? "selected" : "")>Australian Capital Territory</option>
                                    <option value='NS' data-type="r" @(r == "NS" ? "selected" : "")>New South Wales</option>
                                    <option value='NT' data-type="r" @(r == "NT" ? "selected" : "")>Northern Territory</option>
                                    <option value='QL' data-type="r" @(r == "QL" ? "selected" : "")>Queensland</option>
                                    <option value='SA' data-type="r" @(r == "SA" ? "selected" : "")>South Australia</option>
                                    <option value='TS' data-type="r" @(r == "TS" ? "selected" : "")>Tasmania</option>
                                    <option value='VI' data-type="r" @(r == "VI" ? "selected" : "")>Victoria</option>
                                    <option value='WA' data-type="r" @(r == "WA" ? "selected" : "")>Western Australia</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="select1">
                        <small>FROM :</small>
                        <div class="select1_lft widt_1">
                            <select class="dropdown" name="s" id="search-from">
                                <option @(s == "-1" ? "selected" : "") value="-1">Anytime</option>
                                <option @(s == "1" ? "selected" : "") value="1">January</option>
                                <option @(s == "2" ? "selected" : "") value="2">February</option>
                                <option @(s == "3" ? "selected" : "") value="3">March</option>
                                <option @(s == "4" ? "selected" : "") value="4">April</option>
                                <option @(s == "5" ? "selected" : "") value="5">May</option>
                                <option @(s == "6" ? "selected" : "") value="6">June</option>
                                <option @(s == "7" ? "selected" : "") value="7">July</option>
                                <option @(s == "8" ? "selected" : "") value="8">August</option>
                                <option @(s == "9" ? "selected" : "") value="9">September</option>
                                <option @(s == "10" ? "selected" : "") value="10">October</option>
                                <option @(s == "11" ? "selected" : "") value="11">November</option>
                                <option @(s == "12" ? "selected" : "") value="12">December</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="select1">
                        <small>TO:</small>
                        <div class="select1_lft widt_2">
                            <select class="dropdown" name="e" id="search-to">
                                <option @(e == "-1" ? "selected" : "") value="-1">Anytime</option>
                                <option @(e == "1" ? "selected" : "") value="1">January</option>
                                <option @(e == "2" ? "selected" : "") value="2">February</option>
                                <option @(e == "3" ? "selected" : "") value="3">March</option>
                                <option @(e == "4" ? "selected" : "") value="4">April</option>
                                <option @(e == "5" ? "selected" : "") value="5">May</option>
                                <option @(e == "6" ? "selected" : "") value="6">June</option>
                                <option @(e == "7" ? "selected" : "") value="7">July</option>
                                <option @(e == "8" ? "selected" : "") value="8">August</option>
                                <option @(e == "9" ? "selected" : "") value="9">September</option>
                                <option @(e == "10" ? "selected" : "") value="10">October</option>
                                <option @(e == "11" ? "selected" : "") value="11">November</option>
                                <option @(e == "12" ? "selected" : "") value="12">December</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <input type="text" name="k" class="txt_fld1 location-autocomplete" id="search-text" placeholder="CITY, TOWN, SUBURB, OR ID:" value="@(k)">
                    <div class="holiday-chk">
                        <input hidden="hidden" name="r1" id="search-opentolastmin" type="checkbox" value="" @(!string.IsNullOrEmpty(lst) ? "checked" : "")><label for="r1">Display properties open to last minute holiday swaps first</label>
                        <div class="clear"></div>
                    </div>
                </div>
                <input class="search_icn" name="" type="button" id="search-btn" value="SEARCH PROPERTIES">
                <ul>
                    <li><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdvanceSearch)">Advanced search</a></li>
                    <li class="no_bg"><a href="/view-homes/">Clear search</a></li>
                </ul>
            </form>
        </div>
        <div class="perth_rght">
            <h2>@Model.Title</h2>
            <div class="displaying_top">
            @if (showMap)
            {
                <em>For security purposes, homes displayed are <strong>approximate locations</strong> based on<br/>suburb or postcode</em>
            }
            else
            {
                <em>Displaying @(Model.PageItemStart)-@(Model.PageItemEnd) of @(Model.TotalItems) homes</em>
            }
            
            <div class="displaying_top_lft">
                @if (!showMap)
                {
                    <div class="sort1">
                        <small>SORT BY :</small>
                        <div class="releave1">
                            <select class="dropdown" id="search-relevance">
                                <option @(sf == "0" ? "selected" : "") value="0">Relevance</option>
                                <option @(sf == "1" ? "selected" : "") value="1">Oldest Listings First</option>
                                <option @(sf == "8" ? "selected" : "") value="8">Newest Listings First</option>
                                <option @(sf == "2" ? "selected" : "") value="2">City</option>
                                <option @(sf == "3" ? "selected" : "") value="3">Region</option>
                                <option @(sf == "4" ? "selected" : "") value="4">Country</option>
                                <option @(sf == "5" ? "selected" : "") value="5">Bedrooms</option>
                                <option @(sf == "7" ? "selected" : "") value="7">Open to Last Minutes</option>
                            </select>
                        </div>
                        <div class="clear"></div>
                    </div>
                }
                <ul>
                    <li><a href="#" id="view-by-summary" class="seach-view-by @(vm == "" ? "active" : "")"><i class="fa fa-check"></i> Summary</a></li>
                    <li><a href="#" id="view-by-detail" class="seach-view-by @(vm == "d" ? "active" : "")"><i class="fa fa-align-left"></i> Detail</a></li>
                    <li class="br1"><a href="#" id="view-by-map"><i class="fa fa-map-marker @(vm == "m" ? "active" : "")"></i> Map</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>

            @if (!showMap)
            {
            <!--begin home results-->
                <div>
                    @if (reverseMode)
                    {
                        <h6>Displaying who wants to visit your location (@rcb) first. <a href="/view-homes/">clear location</a></h6>
                    }
                    else
                    {
                        <h6>Tip : Try our <a href="#" id="reverse-search">Reverse search</a> to show who wants to visit your destination first.</h6>
                    }

                    @if (Model.HomeCollection != null)
                    {
                        foreach (Common.Home home in Model.HomeCollection)
                        {

                            bool highlight = false;
                            bool featured = false;

                            if (home.PriorityRank >= 1000 || home.ListingType >= 1)
                            {
                                highlight = true;
                                if (home.PriorityRank >= 1000)
                                {
                                    featured = true;
                                }
                            }

                            <div class="view_home @(home.ListingType == 1 ? "listing_type" : "gry_br1") @(featured ? "featured_home" : "") ">
                                <div class="view_home_left">
                                    <a href="/view-home/?id=@home.ID">
                                        <img src="@home.ThumbnailURL.Replace("/t", "/m")" width="189" onerror=" this.src = '/images/no_image_200.gif' " height="200" alt="house">
                                    </a>
                                </div>
                                <div class="view_home_rght">
                                    <div class="just_listed1">
                                        <h5>@home.City</h5>
                                        <div class="just_listed1_rght">

                                            @if ((DateTime.Now - home.CreatedDate).Days <= Model.NewDayHomeSpan)
                                            {
                                                <span>JUST LISTED</span>
                                            }


                                            @if (Model.IsLoggedIn)
                                            {
                                                if (HomeHelper.HasContactedAlready(home.ID, HouseSwapHolidays.Core.Services.MemberService.Instance.GetCurrentMemberId()))
                                                {
                                                    <a href="#"><i class="fa fa-envelope"></i><strong>You have previously contacted this member</strong></a>
                                                }
                                            }

                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="west_aust">
                                        <span>@home.Location</span>
                                        <div class="west_aust_rght">
                                            <ul>
                                                <li>
                                                    <em><img src="/images/small_car.png" width="16" height="12" alt="small_car"></em><small> @home.Bedrooms</small>
                                                    <div class="clear"></div>
                                                </li>
                                                <li>
                                                    <em><img src="/images/small_curve.png" width="19" height="12" alt="small_curve"></em><small> @home.Bathrooms</small>
                                                    <div class="clear"></div>
                                                </li>
                                                <li class="br1 last">
                                                    <small> ID: @home.ID</small>
                                                    <div class="clear"></div>
                                                </li>
                                            </ul>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <strong>@home.Summary</strong>
                                    <p>@home.Description.Truncate(185, "...")</p>

                                    @if (showDetail)
                                    {

                                        <div class="detail">


                                            @if (home.AllowDestinationOffers)
                                            {
                                                <div class="detail-title">Open to travel destinations and dates!</div>
                                            }

                                            @{

                                            Common.MemberDestinationCollection memberDestinationCollection = Common.MemberDestinationDAL.Instance.GetAllForMember(home.MemberID);


                                            string destinations = string.Empty;
                                            string dest = string.Empty;
                                            bool hasDestinations = false;

                                            foreach (Common.MemberDestination memberDestination in memberDestinationCollection)
                                            {

                                                dest = string.Format("{0} ({1})", memberDestination.Destination, memberDestination.CountryName);
                                                dest = dest.Trim();

                                                if (dest.StartsWith("(") && dest.EndsWith(")"))
                                                {
                                                    dest = dest.Trim(new char[] { '(', ')' });
                                                }

                                                destinations += dest + ", ";

                                                hasDestinations = true;

                                            }

                                            }



                                            @if (hasDestinations)
                                            {
                                                <div class="detail-title-dest">Preferred travel destinations: </div>
                                                @destinations.Trim(new char[] { ',', ' ' })
                                                ;
                                                <br /><br />
                                            }
                                            @Html.Raw(MiscHelper.AvailableExchangeDates(home))


                                        </div>

                                    }
                                    <a href="/view-home/?id=@home.ID" class="view_btn1">view home</a>
                                    @if (Model.IsLoggedIn)
                                    {
                                        <a href="" data-id="@home.ID" class="add_to add-to-favourites">Add to Favourites </a>
                                    }
                                    else
                                    {
                                        <a href="" data-toggle="modal" data-target="#myModal" class="add_to">Add to Favourites </a>
                                    }
                                    
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                                @if (featured)
                                {
                                    <div class="fetured-star">
                                        <a href="#"><i class="fa fa-star"></i><strong>Featured property</strong></a>
                                    </div>
                                }


                            </div>
                        }
                    }

                    @if (Model.HomeCollection == null)
                    {
                        @Html.Raw(Model.NoResultsMessage)
                    }
                    <!-- PAGING HERE -->
                    <div class="paginations_1">
                        <ul>
                            @Html.Raw(Model.Pagination)
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                    <!-- END PAGING -->

                    <div class="clear"></div>
                </div>
            <!-- end home results-->
            }

            else {
            <!--begin map-->
                <div class="map-container">
                    <div class="map-loading">Loading map... This may take up to 10 seconds...</div>
                    <div id="map" data-homedetailurl="@Model.ViewHomeUrl"></div>
                </div>
            <!--end map-->
            }
            <div class="clear"></div>
        </div>
    </div>
</div>

    <!-- REVERSE SEARCH -->
<div>
    <div class="popup1 popup2" id="pop-reverse-search">
        <section class="inner4_main_lft">
            <h2>Pleae specify your location</h2>
            <ul>
                <li>
                    <select style="width: 200px;" id="pop-rs-country">
                        <option value="">Select your country</option>
                        <optgroup label="Local Countries">
                            <option value="AU">Australia</option>
                            <option value="NZ">New Zealand</option>
                        </optgroup>
                        <optgroup label="All Countries">
                            @foreach (Common.Country item in Model.CountryCollection)
                            {
                                <option value="@item.Code">@item.Name</option>
                            }
                        </optgroup>
                    </select>
                </li>
                <li>
                    <input type="text" placeholder="Enter your city (optional)" id="pop-rs-city" style="width: 99.5%;"/>
                </li>
                <li>
                    <input type="checkbox" id="rs-remember"/> <label for="rs-remember">Remember my location for next time</label>
                </li>
                <li><input name="" style="float: right" type="button" id="pop-rs-update" value="Update Search" class="but_sub3 but_sub"/></li>

            </ul>

            <a class="close"></a>
        </section>
    </div>
</div>
    <script type="text/javascript">
        var global = {
            searchresulthomes : [
            @if (Model.HomeCollection != null) { 
                var ctr = 1;
                foreach (Common.Home home in Model.HomeCollection)
                {
                    <text>[@home.ID,"@home.Latitude","@home.Longitude","@home.Location","@home.Summary","@(string.IsNullOrWhiteSpace(home.ThumbnailURL) ?
                                string.Format("/images/branding/placeholders/medium_home{0}.jpg", home.ID % 4 + 1) :
                                home.ThumbnailURL)", "@home.Bedrooms", "@home.Bathrooms"],</text>
                }   
            }
            ]
        };
        
    </script>
    