﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageSitemapViewModel>
@{
    Layout = "Layout.cshtml";
}

<style type="text/css">
    .generic-template {
        font-size: 15px;
    }
     .generic-template h1, .generic-template p {
         text-align: left;
     }

    .generic-template h2,
    .generic-template h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.1;
        margin: 12px 0;
    }

    .generic-template h3 {
        font-size: 24px;
    }

    ul.country-list {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }

    ul.country-list li {
        margin-bottom: 8px;
    }

    section.generic-template a {
        color: #6bc8d9;
        text-decoration: none;
    }
</style>
<section id="main-container" class="generic-template">`
    <div style="padding:40px">
        <h1 style="margin-bottom: 24px;">@Model.Title</h1>
        <br />
        @Html.Raw(Model.BodyText)
        <br/>
        <h2>Browse listings by country</h2>
        <ul class="country-list">
            @foreach (Common.Country country in Model.CountryCollection)
            {
                if (country.HasListings)
                {
                    <li><strong><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.ViewHomes)?c=@(country.Code)&s=1&e=12">@country.Name Home Exchange</a></strong></li>
                }
                else
                {
                    <li>@country.Name</li>
                }
            }
        </ul>
        <br />
        @if (!Model.IsLoggedIn)
        {           <hr />
            <br />
            <span>@Model.BottomText</span>
            <a href="@Umbraco.TypedContentSingleAtXPath("//" + HouseSwapHolidays.Core.Models.Utilities.Constants.NodeAlias.JoinUs).Url">Sign me Up!</a>
        }
    </div>
</section>