﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageStep3ViewModel>
@{
    Layout = "Layout.cshtml";
}

<!-- Main Container -->
<div class="inner7_bg">
    @if (Model.HasStepsNavigation)
    {
        <div class="side-icons">
            <ul>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step1.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step2.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li class="active"><a class="abt"><span><em class="active"></em></span><small>@Model.StepsNavigation.Step3.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step4.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
            </ul>
        </div>
    }
    <div class="inner3_container">
        <div class="inner7_main">
            <div class="inner7_main_top">
                <h2>@Model.Title</h2>
            </div>
            <div class="inner7_in">
                <div class="inner7_block1 blk1" id="target1">
                    <section class="inner7_block1_lft">
                        <h2>03.</h2>
                    </section>
                    <section class="inner7_block1_rgt step-3">
                        <h2>@Model.SubTitle</h2>
                        <p>
                            @Model.Summary.ToLineBreaksHtml()
                        </p>
                        @using (Html.BeginUmbracoForm("SaveStep3", "PageStep", FormMethod.Post))
                        { 
                        <ul>
                            <li><h3>Home Details</h3></li>
                            <li>
                                <div class="msg-wrapper">
                                    <label class="label-a">Country</label>
                                    <div class='error-required' id="error-country">This field is required.</div>
                                    <select class="country box-error" name="country" id="homedetails-country" style="float:none;">
                                        <option value="">Please select...</option>
                                        @foreach (Common.Country country in Model.CountryCollection)
                                        {
                                            <option value="@country.Code" @(Model.HasHome ? Model.Home.CountryCode == country.Code ? "selected" : "" : "")>@country.Name</option>
                                        }
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label class="label-a">Postcode</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" value="@(Model.HasHome ? Model.Home.Postcode : string.Empty)" name="postcode"/>
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label class="label-a">City/Town</label>
                                    <div class='error-required' id="error-city">This field is required.</div>
                                    <input type="text" name="city" value="@(Model.HasHome ? Model.Home.City : string.Empty)" class="text-medium" />
                                </div>
                            </li>
                            <li>
                                <div class="msg-wrapper">
                                    <label class="label-a">Region/State</label>
                                    <div class='error-required' id="error-region">This field is required.</div>
                                    <div id="homedetails-region">
                                    @if (Model.HasHome && Model.HasRegions)
                                    {
                                        <select name="region">
                                            @foreach (Common.Region item in Model.RegionCollection)
                                            {
                                                <option value="@item.RegionCode" @(item.RegionCode == Model.Home.RegionCode ? "selected" : string.Empty)>@item.Name</option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <select name="region">
                                            <option value="00">Please select...</option>
                                        </select>
                                    }
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label class="label-a">Suburb</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" name="suburb" value="@(Model.HasHome ? Model.Home.Suburb : string.Empty)" class="text-medium" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label class="label-a">No. of bedrooms</label>
                                    <div class='error-required' id="error-bedrooms">This field is required.</div>
                                    <input type="text" name="bedrooms" value="@(Model.HasHome ? Model.Home.Bedrooms.ToString() : string.Empty)" class="text-small" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label class="label-a">No. of bathrooms</label>
                                    <div class='error-required' id="error-bathrooms">This field is required.</div>
                                    <input type="text" name="bathrooms" value="@(Model.HasHome ? Model.Home.Bathrooms.ToString() : string.Empty)" class="text-small" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label class="label-a">Comfortably sleeps</label>
                                    <div class='error-required' id="error-sleeps">This field is required.</div>
                                    <input type="text" name="sleep" value="@(Model.HasHome ? Model.Home.ComfortablySleeps.ToString() : string.Empty)" class="text-small" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label class="label-a">Maximum people</label>
                                    <div class='error-required' id="error-maxpeople">This field is required.</div>
                                    <input type="text" name="maxpeople" value="@(Model.HasHome ? Model.Home.MaxSleeps.ToString() : string.Empty)" class="text-small" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label class="label-a">Distance to closest international airport (kms)</label>
                                    <div class='error-required'>This field is required.</div>
                                    <input type="text" name="distance" value="@(Model.HasHome ? Model.Home.AirportDistance.ToString() : string.Empty)" class="text-small" />
                                </div>
                            </li>
                            <li>
                                <div class='msg-wrapper'>
                                    <label class="label-a">Name of airport</label>
                                    <div class='error-required' id="error-airport">This field is required.</div>
                                    <input type="text" name="airport" value="@(Model.HasHome ? Model.Home.AirportName : string.Empty)" class="text-medium" />
                                </div>
                            </li>
                            <li>
                                <div class="msg-wrapper">
                                    <label class="label-a">Is this your primary home or holiday home?</label>
                                    <div class='error-required'>This field is required.</div>
                                    <select class="" name="isprimaryhome" style="float:none;">
                                        <option value="">Please select...</option>
                                        <option value="P" @(Model.HasHome && Model.Home.PrimaryOrHoliday == "P" ? "selected" : "") >Primary</option>
                                        <option value="H" @(Model.HasHome && Model.Home.PrimaryOrHoliday == "H" ? "selected" : "")>Holiday</option>
                                        <option value="E" @(Model.HasHome && Model.Home.PrimaryOrHoliday == "E" ? "selected" : "")>Either</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="msg-wrapper">
                                    <label class="label-a">Are you open to last minute swap offers?</label>
                                    <div class='error-required'>This field is required.</div>
                                    <select class="" name="isopentolastmin" style="float:none;">
                                        <option value="">Please select...</option>
                                        <option value="1" @(Model.HasHome && Model.Home.LastMinuteAvailability ? "selected" : "")>Yes</option>
                                        <option value="0" @(Model.HasHome && !Model.Home.LastMinuteAvailability ? "selected" : "")>No</option>
                                    </select>
                                </div>
                            </li>

                            
                            <li><h3 style="margin-top:50px;">Home Description</h3></li>
                            <li>
                                <div class='msg-wrapper'>
                                    <p>Briefly describe the key highlights of your home (we'll use this to promote your home!)</p>
                                    <div class='error-required' id="error-homehighlights">This field must be completed.</div>
                                    <textarea rows="2" name="homehighlights" id="homehighlights" maxlength="150">@(Model.HasHome ? Model.Home.Summary : "")</textarea>
                                    <span class="char-left"><span id="char-count">@Model.HomeSummaryCharsLeft</span> characters left</span>
                                    <br/>
                                    <br />
                                </div>

                                <div class='msg-wrapper'>
                                    <p>Tell us about your home. Include details you think people will be interested in - for example is it a large and spacious home, or small and cosy? Is it private? Is it family friendly or best for singles or couples only?</p>
                                    <div class='error-required' id="error-homeabout" style="top:210px;">This field must be completed.</div>
                                    <textarea rows="10" name="homeabout">@(Model.HasHome ? Model.Home.Description : "")</textarea>
                                </div>
                            </li>

                            <li><h3 style="margin-top:50px;">The Neighbourhood</h3></li>
                            <li>
                                <div class='msg-wrapper'>
                                    <p>Describe where your home is located. Include such details as your surrounding area, and the distance to places of interest and public transport.</p>
                                    <div class='error-required' id="error-homeloc">This field must be completed.</div>
                                    <textarea rows="6" name="homeloc">@(Model.HasHome ? Model.Home.RegionDescription : "")</textarea>
                                </div>
                            </li>

                            <li><h3 style="margin-top:50px;">Other Information</h3></li>
                            <li>
                                <div class='msg-wrapper'>
                                    <p>Feel free to include any additional information that may be of interest here.</p>
                                    <div class='error-required' id="error-homeinfo">This field must be completed.</div>
                                    <textarea rows="6" name="homeinfo">@(Model.HasHome ? Model.Home.OtherInformation : "")</textarea>
                                </div>
                            </li>
                            
                            <li><h3 style="margin-top:50px;">Features</h3></li>
                            <li>
                                <div class='msg-wrapper inner7_cheacks'>
                                    <p>Describe the key features of your home.</p>
                                    <div class='error-required' id="error-facilities">You must select at least one item.</div>
                                    <ul id="ul-facilities" tabindex="1">
                                        @foreach (var item in Model.HomeFacilities)
                                        {
                                            <li><input type="checkbox" @(item.IsHomeFeature ? "checked" : "") name="facilities_@item.FeatureID" id="features_@item.FeatureID"><label for="features_@item.FeatureID">@item.Name</label></li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li><h3 style="margin-top:50px;">Activities</h3></li>
                            <li>
                                <div class='msg-wrapper inner7_cheacks'>
                                    <p>Describe the recreational activities located close to your home.</p>
                                    <div class='error-required' id="error-activities">You must select at least one item.</div>
                                    <ul id="ul-activities" tabindex="1">
                                        @foreach (var item in Model.HomeActivities)
                                        {
                                            <li><input type="checkbox" @(item.IsHomeFeature ? "checked" : "") name="activities_@item.FeatureID" id="activities_@item.FeatureID"><label for="activities_@item.FeatureID">@item.Name</label></li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li><h3 style="margin-top:50px;">House rules</h3></li>
                            <li>
                                <div class='msg-wrapper inner7_cheacks'>
                                    <p>Any house rules for your home?</p>
                                    <div class='error-required' id="error-rules">You must select at least one item.</div>
                                    <ul id="ul-rules">
                                        @foreach (var item in Model.HomeRules)
                                        { 
                                            <li><input type="checkbox" @(item.IsHomeFeature ? "checked" : "") name="rules_@item.FeatureID" id="rules_@item.FeatureID"><label for="rules_@item.FeatureID">@item.Name</label></li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li><h3 style="margin-top:50px;">Holiday Type</h3></li>
                            <li>
                                <div class='msg-wrapper inner7_cheacks'>
                                    <p>What type of holiday does your property offer during a swap?</p>
                                    <div class='error-required' id="error-holidayType">You must select at least one item.</div>
                                    <ul id="ul-holidayType">
                                        @foreach (var item in Model.HolidayToOffer)
                                        {
                                            <li><input type="checkbox" @(item.IsHomeFeature ? "checked" : "") name="holidayType_@item.FeatureID" id="holidayType_@item.FeatureID"><label for="holidayType_@item.FeatureID">@item.Name</label></li>
                                        }
                                    </ul>
                                </div>
                            </li>

                            <li><h3 style="margin-top:50px;">Home availability</h3></li>
                            <li>
                                <div class='msg-wrapper inner7_cheacks'>
                                    <p>Select when your home may be available for a swap.</p>
                                    <div class='error-required' id="error-availability">You must select at least one item.</div>
                                    <ul id="ul-availability" tabindex="1">
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.JanuaryAvailability ? "checked" : "") name="availability_january" id="availability_january"><label for="availability_january">January</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.FebruaryAvailability ? "checked" : "") name="availability_february" id="availability_february"><label for="availability_february">February</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.MarchAvailability ? "checked" : "") name="availability_march" id="availability_march"><label for="availability_march">March</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.AprilAvailability ? "checked" : "") name="availability_april" id="availability_april"><label for="availability_april">April</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.MayAvailability ? "checked" : "") name="availability_may" id="availability_may"><label for="availability_may">May</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.JuneAvailability ? "checked" : "") name="availability_june" id="availability_june"><label for="availability_june">June</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.JulyAvailability ? "checked" : "") name="availability_july" id="availability_july"><label for="availability_july">July</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.AugustAvailability ? "checked" : "") name="availability_august" id="availability_august"><label for="availability_august">August</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.SeptemberAvailability ? "checked" : "") name="availability_september" id="availability_september"><label for="availability_september">September</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.OctoberAvailability ? "checked" : "") name="availability_october" id="availability_october"><label for="availability_october">October</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.NovemberAvailability ? "checked" : "") name="availability_november" id="availability_november"><label for="availability_november">November</label></li>
                                        <li><input type="checkbox" @(Model.HasHome && Model.Home.DecemberAvailability ? "checked" : "") name="availability_december" id="availability_december"><label for="availability_december">December</label></li>

                                    </ul>
                                </div>
                            </li>

                            <li><h3 style="margin-top:50px;">Swap Preferences</h3></li>
                            <li>
                                <div class='msg-wrapper inner7_cheacks'>
                                    <p>When would you like to swap your home?</p>
                                    <ul>
                                        @foreach (var item in Model.SwapPref)
                                        {
                                            <li><input type="checkbox" @(item.IsHomeFeature ? "checked" : "") name="swapPref_@item.FeatureID" id="swapPref_@item.FeatureID"><label for="swapPref_@item.FeatureID">@item.Name</label></li>
                                        }
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        
                        <input name="" type="submit" id="reg-step3" class="nxt" value="NEXT">
                        }
                    </section>

                    <div class="clear"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Main Container -->
