﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageStep4ViewModel>
@{
    Layout = "Layout.cshtml";
}

<style>
    table {
        float:left;
        margin-right:20px;
    }

    .removephoto {
        background: none;
        border: none;
        padding: 0;
        text-decoration: underline;
        margin-bottom: 20px;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        color: #33818e;
    }
        

</style>

<!-- Main Container -->
<div class="inner7_bg">
    @if (Model.HasStepsNavigation)
    {
        <div class="side-icons">
            <ul>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step1.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step2.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step3.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li class="active"><a class="abt"><span><em class="active"></em></span><small>@Model.StepsNavigation.Step4.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
            </ul>
        </div>
    }
    <div class="inner3_container">
        <div class="inner7_main">
            <div class="inner7_main_top">
                <h2>@Model.Title</h2>
            </div>
            <div class="inner7_in">
                <div class="inner7_block1 blk1" id="target1">
                    <section class="inner7_block1_lft">
                        <h2>04.</h2>
                    </section>
                    <section class="inner7_block1_rgt step-4">
                        <h2>@Model.SubTitle</h2>
                        <p>
                            @Model.Summary.ToLineBreaksHtml()
                        </p>
                        <!--h3>Your contact details</h3-->

                        @foreach (Common.HomeImage item in Model.HomeImageCollection)
                        {
                            using (Html.BeginUmbracoForm("DeletePhoto", "PageStep")) { 
                            
                            <table>
                                <tr>
                                    <td>
                                        <img src="/images/homes/@Model.HomeId/@item.ThumbnailImage" />
                                        <input type="hidden" name="test" value="@(string.Format("{0},{1},{2}", item.ID, Model.HomeId, item.MediumImage ))" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="submit" value="remove" class="removephoto" /></td>
                                </tr>
                            </table>
                            }
                        }

                        @using (Html.BeginUmbracoForm("AddPhoto","PageStep")) { 
                        <ul>
                            <li><h3>Upload a photo of your home </h3></li>
                            <li>
                                <div class='msg-wrapper'>
                                    <input type="file" name="photo" value="Select your photo to upload"/>
                                </div>
                            </li>
                            <li>
                                <div class="msg-wrapper">
                                    <p>Enter a brief description of your photo:</p>
                                    <textarea rows="10" name="photoDescription"></textarea>
                                </div>
                            </li>
                            <li><input type="checkbox" name="featuredImage" checked /> Set as your feature image <span rel="tipsy" title="Select this option to highlight your favourite photo. We'll use your best photo to promote your home on the search results and home profile pages.">(what is this)?</span></li>
                            <li></li>
                            <li>Once you are ready to save your photo click on 'Save Photo' to continue.</li>
                        </ul>
                        <input name="" type="submit" class="nxt" value="Save Photo">
                        }

                        @using (Html.BeginUmbracoForm("SaveStep4", "PageStep")) { 
                        <input name="" type="submit" class="fish" value="FINISH" style="padding:15px 63px">
                        }
                        
                    </section>

                    <div class="clear"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Main Container -->