﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageStep1ViewModel>
@{
    Layout = "Layout.cshtml";
}

<!-- Main Container -->
<div class="inner7_bg">
    @if (Model.HasStepsNavigation) { 
        <div class="side-icons">
            <ul>
                <li class="active"><a class="abt"><span><em class="active"></em></span><small>@Model.StepsNavigation.Step1.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step2.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step3.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step4.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
            </ul>
        </div>
    }
    <div class="inner3_container">
        <div class="inner7_main">
            <div class="inner7_main_top">
                <h2>@Model.Title</h2>
            </div>
            <div class="inner7_in">
                <div class="inner7_block1 blk1" id="target1">
                    <section class="inner7_block1_lft">
                        <h2>01.</h2>
                    </section>
                    <section class="inner7_block1_rgt">
                        @using (Html.BeginUmbracoForm("SaveStep1", "PageStep")) { 
                            
                            <h2>@Model.SubTitle</h2>
                            <p>
                                @Model.Summary.ToLineBreaksHtml()
                            </p>
                            <!--h3>Your contact details</h3-->
                            <ul>
                                <li><h3>Introduction </h3></li>
                                <li>
                                    <div class='msg-wrapper'>
                                        <div class='error-required' id="error-introduction">This field is required.</div>
                                        <textarea name="introduction" class="msg" cols="1" rows="1">@Model.Member.Introduction</textarea>
                                    </div>
                                    <p><strong>Note:</strong> As your introduction can be viewed by visitors to HouseSwapHolidays.com.au, we recommended you do not include any personal contact information here such as phone numbers or surnames.</p>
                                </li>

                                <li><h3>What languages do you speak? </h3></li>
                                <li>
                                    <div class="msg-wrapper">
                                        <p>These will be displayed to people who may be interested in contacting you. You can select up to three</p>
                                        <div class='error-required'>This field is required.</div>
                                        <select class="language" name="language1" style="float:none;">
                                            <option value="Not Specified">Not Specified</option>
                                            
                                        @if (!string.IsNullOrEmpty(Model.Member.Language1)) { 
                                            foreach (var language in Model.Languages)
                                            {
                                                <option @(Model.Member.Language1 == language ? "selected" : "") value="@language">@language</option>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var language in Model.Languages)
                                            {
                                                <option @(language == "English" ? "selected" : "") value="@language">@language</option>
                                            }
                                        }
                                        </select><br /><br />
                                        <select class="language" name="language2" style="float:none;">
                                            <option value="Not Specified">Not Specified</option>
                                            @foreach (var language in Model.Languages)
                                            {
                                                <option @(Model.Member.Language2 == language ? "selected" : "") value="@language">@language</option>
                                            }
                                        </select><br /><br />
                                        <select class="language" name="language3" style="float:none;">
                                            <option value="Not Specified">Not Specified</option>
                                            @foreach (var language in Model.Languages)
                                            {
                                                <option @(Model.Member.Language3 == language ? "selected" : "") value="@language">@language</option>
                                            }
                                        </select>
                                    </div>
                                </li>
                            </ul>
                            <input name="" type="submit" id="reg-step1" class="nxt" value="NEXT">
                        }
                    </section>

                    <div class="clear"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Main Container -->