﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageStep5ViewModel>
@{
    Layout = "Layout.cshtml";
}

<!-- Main Container -->
<div class="inner7_bg">
    <div class="inner3_container">
        <div class="inner7_main">
            <div class="inner7_main_top">
                <h2>@Model.Title</h2>
            </div>
            <div class="inner7_in">
                <div class="inner7_block1 blk1" id="target1">
                    <section class="inner7_block1_lft">
                        <h2>05.</h2>
                    </section>
                    <section class="inner7_block1_rgt step-3">
                        <h2>@Model.SubTitle</h2>
                        <p>
                            @Model.Summary.ToLineBreaksHtml()
                        </p>
                        
                        <input name="" type="submit" id="reg-step3" class="nxt" value="CONTINUE" onclick="window.location.href = '/my-profile/'">
                        
                    </section>

                    <div class="clear"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Main Container -->