﻿@inherits UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageStep2ViewModel>
@{
    Layout = "Layout.cshtml";
}

<style>
    input[type=submit].remove {
        padding: 0;
        margin: 9px 7.5% 0 30px;
        text-decoration:underline;
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        line-height: 12px;
        color: #b4b4b4;
        font-weight: normal;
        display: block;
        float: right;
        border:none;
        background-color:white;
        width:50px;
    }
</style>

<!-- Main Container -->
<div class="inner7_bg">
    @if (Model.HasStepsNavigation)
    {
        <div class="side-icons">
            <ul>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step1.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li class="active"><a class="abt"><span><em class="active"></em></span><small>@Model.StepsNavigation.Step2.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step3.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
                <li><a class="abt"><span><em></em></span><small>@Model.StepsNavigation.Step4.ToLineBreaksHtml()</small></a><strong class="clear"></strong></li>
            </ul>
        </div>
    }
    <div class="inner3_container">
        <div class="inner7_main">
            <div class="inner7_main_top">
                <h2>@Model.Title</h2>
            </div>
            <div class="inner7_in">
                <div class="inner7_block1 blk1" id="target1">
                    <section class="inner7_block1_lft">
                        <h2>02.</h2>
                    </section>
                    <section class="inner7_block1_rgt">
                        
                        <h2>@Model.SubTitle</h2>
                        <p>@Model.Summary.ToLineBreaksHtml()</p>
                        <ul>
                            @using (Html.BeginUmbracoForm("AddDestination", "FormStep2"))
                            {
                            <li style="margin-bottom:20px"><h3>Select a holiday destination </h3></li>
                            <li>
                                <div class="msg-wrapper">
                                    <div class='error-required'>This field is required.</div>
                                    <label class="label-a">Country: </label>
                                    <select class="country" name="country">
                                        <option value="0">Choose a destination</option>
                                        <optgroup label="Local Destinations">
                                            <option value="AU">Australia</option>
                                            <option value="NZ">New Zealand</option>
                                        </optgroup>
                                        <optgroup label="Worldwide">
                                        @foreach (Common.Country country in Model.CountryCollection)
                                        {
                                            <option value="@country.Code">@country.Name</option>
                                        }
                                        </optgroup>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class='location-wrapper'>
                                    <div class='error-required'>This field is required.</div>
                                    <label class="label-a">City/Town (optional):</label>
                                    <input class="textfield location" name="city" id="" type="text">
                                    <strong class="clear"></strong>
                                </div>
                            </li>
                            <li><input type="submit" value="Add" /> </li>
                            }
                            <li style="margin-bottom:20px;margin-top:20px;"><h3>Your preferred destinations</h3></li>
                            <li>
                                <table class="pref-destination">
                                    @foreach (Common.MemberDestination destination in Model.MemberDestinationCollection) { 
                                    <tr>
                                        @using (Html.BeginUmbracoForm("DeleteDestination", "FormStep2"))
                                        {
                                        <td>
                                            @(!string.IsNullOrEmpty(destination.Destination) ? destination.Destination + "," : string.Empty) @destination.CountryName
                                        </td>
                                        <td>
                                            <input type="hidden" value="@destination.ID" name="destinationId" />
                                            <input type="submit" class="remove" value="remove"/>
                                        </td>
                                        }
                                    </tr>
                                    }
                                </table>
                            </li>
                            <li></li>
                            
                            
                        </ul>
                        

                        @using (Html.BeginUmbracoForm("SaveStep2", "PageStep"))
                        { 
                        <ul>
                            <li>
                                <div class='chkbx-wrapper'>
                                    <div class='error-required'>Check This field is required .</div>
                                </div>
                                <div class="field" style="padding:0">
                                    <input type="checkbox" @(Model.Member.AllowDestinationOffers ? "checked" : "") name="OpenToOffer" id="cheack1"><label for="cheack1" class="q-mark">Yes, I am open to offers on other destinations from members - highly recommended! </label>
                                </div>
                            </li>
                        </ul>
                        <input name="" type="submit" class="nxt sub1" value="NEXT"/>
                        }

                    </section>

                    <div class="clear"></div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Main Container -->