﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<HouseSwapHolidays.Core.Models.ViewModels.PageViewHomeViewModel>
@using HouseSwapHolidays.Core.Utilities;
@{
    Layout = "Layout.cshtml";
}


<section id="main-container">
    <div class="search-result">
        <div class="inner11-bg inner12-bg new-profile">
            <div class="listing">
                <div class="container clearfix cln">

                    <!-- Header Top -->
                    <div class="content no-border">

                        <div class="header-main">
                            <!--<a class="close"></a>-->
                            <div class="left">
                                <div class="orlence">
                                    <span class="pro-name">@Model.Title</span>
                                    <span class="place">@Model.SubTitle</span>
                                </div>
                                <div class="orlence-icon"><a href="#"><img src="/images/share-icon.png" width="82" height="22" alt="icon"></a></div>
                                <div class="clear"></div>
                            </div>
                            <div class="right">
                                <div class="bath-icons">
                                    <ul>
                                        <li>
                                            <img src="/images/icon1.png" width="37" height="27" alt="icon">
                                            <span>@Model.BedRooms</span>
                                            <div class="clear"></div>
                                        </li>
                                        <li>
                                            <img src="/images/icon2.png" width="46" height="28" alt="icon">
                                            <span>@Model.BathRooms</span>
                                            <div class="clear"></div>
                                        </li>
                                        <li>
                                            <span>IDD: 338</span>
                                            <div class="clear"></div>
                                        </li>
                                    </ul>
                                    <div class="clear"></div>
                                </div>
                                <div class="email-icon">
                                @if (Model.IsLoggedIn)
                                {
                                    var currentMemberId = HouseSwapHolidays.Core.Services.MemberService.Instance.GetCurrentMemberId();
                                    if (HomeHelper.HasContactedAlready(Model.HomeID, currentMemberId)) {
                                        <a href="#"><i class="fa fa-envelope"></i><strong>You have previously contacted this member</strong></a>
                                    }
                                    if (HomeHelper.IsFavoriteHome(Model.HomeID, currentMemberId)) {
                                        <a href="#"><i class="fa fa-star"></i></a>
                                    }
                                        <div class="clear"></div>
                                }
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Left Content -->
                    <!-- Header Top -->
                    <div class="left-content">
                        <div class="content no-border">
                            <!-- Thumbnail Gallery -->
                            <div class="image-gallery">
                                <div class="gg">
                                    
                                    @if (Model.Images.Any()) { 
                                    <ul id="slideshow" data-items="@Model.Images.Count()">
                                        @foreach (var image in Model.Images) { 
                                        <li>
                                            <a href="#"><img src="@image" width="678" height="390" alt="" title=""></a>
                                        </li>
                                        }
                                    </ul>
                                    }
                                    <div id="slide-counter"><small></small></div>
                                </div>
                            </div>
                            <!-- Thumbnail Gallery -->
                            <!-- Pro Detail start below -->
                            <div class="clear"></div>
                            <div class="inner12-leftin">
                                <div class="oeleans-tabs">
                                    <div class="oeleans-nav">
                                        <ul>
                                            <li><a data-target="section1" href="#" class="active">OVERVIEW</a></li>
                                            <li><a data-target="section2" id="initializeGmap" href="#">MAP</a></li>
                                            <li><a data-target="section3" href="#">REVIEWS</a></li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="oeleans-section" id="section1">
                                        <div class="introduction-section">
                                            <h4>INTRODUCING</h4>
                                            <p>@Model.Introducing</p>
                                        </div>
                                        <div class="introduction-section pad_last">
                                            <h4>About Our Home</h4>
                                            <p>@Model.AboutYourHome</p>
                                        </div>
                                        
                                        <div class="oeleans-features">
                                            @if (Model.Features.Any()) {
                                            <h4>Features</h4>
                                            <ul>
                                                @foreach (var feature in Model.Features) { 
                                                <li><i class="fa fa-check-square"></i> <span>@feature</span><strong class="clear"></strong></li>
                                                }
                                            </ul>
                                            <div class="clear"></div>
                                            }
                                        </div>
                                        
                                        <div class="introduction-section our-intro">
                                            <h4>Our Location</h4>
                                            <p>@Model.OurLocation</p>
                                            
                                        </div>
                                        <div class="oeleans-features">
                                            @if (Model.NearbyFacilities.Any()) { 
                                            <h4>Nearby Facilities</h4>
                                            <ul>
                                                @foreach (var item in Model.NearbyFacilities) { 
                                                <li><i class="fa fa-check-square"></i> <span>@item</span><strong class="clear"></strong></li>
                                                }
                                            </ul>
                                            <div class="clear"></div>
                                            }
                                        </div>
                                        <div class="introduction-section">
                                            <h4>Other Comments</h4>
                                            <p>@Model.OtherComments</p>
                                        </div>
                                    </div>
                                    <div class="oeleans-section hide" id="section2">
                                        <div class="introduction-section">
                                            <h4>OUR LOCATION</h4>
                                            <div id="googleMap" data-longitude="@Model.Longitude" data-lattitude="@Model.Lattitude"></div>
                                        </div>
                                    </div>

                                    <div class="oeleans-section hide" id="section3">
                                        <div class="introduction-section">
                                            @if (Model.IsLoggedIn)
                                            {
                                                <h4>MEMBER FEEDBACK</h4>
                                                <p>No reviews have yet been provided for this property</p>
                                            }
                                            else
                                            {
                                                <p>
                                                    <a href="" data-toggle="modal" data-target="#myModal">
                                                        Reviews for this property are only available to registered members. Click here to sign in or alternatively join today for half price!!
                                                    </a>
                                                </p>
                                            }
                                        </div>
                                    </div>

                                    @if (Model.PromoBox1 != null) {
                                        <div class="oeleans-benefits promobox1">
                                            <div class="oeleans-features">
                                                <h4>@Model.PromoBox1.Title</h4>
                                                @Html.Raw(Model.PromoBox1.Content)
                                                <div class="clear"></div>
                                                @if (Model.PromoBox1.Link != null) {
                                                    <a href="@Model.PromoBox1.Link.Link" target="@Model.PromoBox1.Link.Target">
                                                        @Html.Raw(Model.PromoBox1.Link.Title)
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Left Content -->
                    <!-- Right Content -->
                    <div class="right-content">
                        <!-- Availability -->
                        @if (Model.PromoBox2 != null) { 
                        <div class="section clearfix goodbye">
                            <h1 class="grn_bg">@Model.PromoBox2.Title</h1>
                            <div class="oeleans-join">
                                @Html.Raw(Model.PromoBox2.Content)
                                @if (Model.PromoBox2.Link != null) {
                                    <a href="@Model.PromoBox2.Link.Link" target="@Model.PromoBox2.Link.Target">@Html.Raw(Model.PromoBox2.Link.Title)</a>
                                }
                            </div>
                        </div>                           
                        }
                        <!-- Availability -->
                        <!-- Contact Info -->
                        <div class="section clearfix">
                            <h1 class="grn_bg">Property Details</h1>
                            <div class="property-details">
                                <ul>
                                    <li>
                                        <h5>Preferred Travel Destinations</h5>
                                        <small>@Model.PreferredTravelDestinations</small>
                                    </li>
                                    <li>
                                        <h5>Preferred Dates</h5>
                                        <small>@string.Join(", ", Model.PreferredDates)</small>
                                    </li>
                                    <li>
                                        <h5>Closest Airport</h5>
                                        <small>@Model.ClosestAirport</small>
                                    </li>
                                    <li>
                                        <h5>Languages Spoken</h5>
                                        <small>@Model.LanguageSpoken</small>
                                    </li>
                                    <li>
                                        <h5>Other Details</h5>
                                        <small>@Model.OtherDetails</small>
                                    </li>
                                </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <!-- Contact Info -->
                        <div class="but-block">
                            <ul>
                                
                                
                                @if (Model.IsLoggedIn)
                                {
                                    <li><a class="pop_up_enquiry" id="suggest-swap-btn" data-id="" data-width="940" data-height="700">Suggest A Swap</a></li>
                                    <li><a href="#" data-id="@Model.HomeID" id="save-to-favourites">Save to Favourites</a></li>
                                }
                                else
                                {
                                    <li><a href="#" class="pop_up_enquiry" data-toggle="modal" data-target="#myModal" data-id="" data-width="940" data-height="700">Suggest A Swap</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#myModal">Save to Favourites</a></li>
                                }
                            </ul>
                        </div>
                        <div class="section clearfix goodbye">
                            <h1 class="grn_bg">featured homes</h1>
                            <div class="featured-homes">
                                <ul>
                                    @foreach (Common.HomeGallery item in Model.HomeGalleryCollection) { 
                                    <li>
                                        <img src="@item.ImageURL" width="344" height="220" alt="home">
                                        <h5>@item.Location</h5>
                                        <p>
                                            @item.Summary.Truncate(120,"...")
                                            <a href="/view-home/?id=@item.HomeID">read more</a>
                                        </p>
                                    </li>
                                    }
                                </ul>
                            </div>

                        </div>
                    </div>
                    <!-- Right Content -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="hide">
    <div id="pop_up_enquiry" class="popup1 popup-enquiry">
        <section class="inner4_main_lft">
            <h2>Send your enquiry</h2>
            <p>
                To : @Model.HomeOwnerName <a target="_blank" href="/view-home/?id=@(Model.HomeID)">(view property)</a><br>From : @Model.MemberName (@(Model.MemberEmail))
            </p>
            <span>Please enter your home swap enquiry message in the space provided below and then click 'Enquire Now' to send:</span>
            <br /><br />
            <span class="hide" id="enquiry_msg" style="color:red;">This field is required.</span>
            <textarea name="message" cols="1" rows="10" style="width:100%" id="message" class="text_area"></textarea>
            <input type="hidden" name="memberid" id="memberid" value="@Model.HomeOwnerId" />
            <input type="hidden" name="homeid" id="homeid" value="@Model.HomeID" />
            <input name="" type="button" id="enquire-now" value="Enquire Now" style="display:inline;vertical-align:bottom;margin-bottom:2px;">
            <img src="~/images/loading.gif" class="hide ajax-loading" />
        </section>
    </div>
</div>