﻿#header .inner .buttons .sign-out,
#header .inner .buttons .my-details {
    font-size: 15px;
    color: #000000;
    
    padding: 11px 0px 5px 19px;
    float: right;
    text-decoration: none;
    margin: 3px 0 0 30px;
    cursor: pointer;
}

#header .inner .buttons .my-details {
    background:none;
    float:left;
    padding-left:0px;
    margin-left:5px;

}

.popup1 .msg {
    color: green;
    font-weight:bold;
}

.popup1 .error {
    color: red;
}



.hide {
    display: none !important;
}

.right {
    float:right !important;
}

.form-success {
    color:green !important;
    font-weight:bold !important;
}

.form-failed {
    color:red !important;
    font-weight:bold !important;
}

.page-item, #suggest-swap-btn {
    cursor:pointer;
}

.con a {
    color:#33818e;
}

.char-left {
    font-size:12px;color:grey;
}

span[rel=tipsy]{
    cursor:pointer
}

/* tipsy overwrite */
.tipsy { top: 604px;}
.tipsy-inner {line-height: 1.2}
/* */

/** CUSTOM POPUP */

.popup-enquiry .inner4_main_lft {
    width:95%;
}

.popup-enquiry input[type=button] {
    width: 166px;
    background: #f5c53d;
    border-radius: 25px;
    border: none;
    outline: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #FFF;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
    margin: 16px 0 0 0;
    display: block;
    cursor: pointer;
}


.seach-view-by.active {
    background-color:#f9f9f9;
}


.cbtn {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    background: #71c5d3;
    display: block;
    width: auto;
    display: inline-block;
    border: none;
    cursor:pointer;
    text-decoration:none;
    color:white !important;
}

.cbtn-default {
    padding: 8px 48px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 19px;
}

.cbtn-small {
    padding: 8px 22px;
    font-size: 14px;
    
}

/**5-STEP REGISTRATION*/

.inner7_block1_rgt {
    background:none;
}

.inner7_block1_rgt label.label-a {
    font-size:16px !important;
    margin-bottom:8px !important;
    margin-top:8px !important;
    width:32%;
}

.step-3 ul li {
    margin: 0 0 10px 0 !important;
}

.step-3 textarea,
.step-4 textarea {
    width:100%;
}

.inner7_block1_rgt input[type=button],
.inner7_block1_rgt input[type=submit] {
    cursor:pointer;
}

.inner7_block1_rgt ul li label {
    font-size:16px;
}

table.pref-destination td:first-child {
    padding-right:20px;
}

input.text-medium {
    width:32.8% !important;
}

input.text-small {
    width:40px !important;
}

/* END 5 STEP REGISTRATION*/

.footerLogo {
    width:26px;
    margin-right:9px;
    float:left;
}

/* INNER CUSTOM */

.inner_custom ul li {
    margin-bottom:10px;
}

.inner_custom h2 {
    padding: 0 0 21px 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    line-height: 28px;
    color: #f77e2e;
    font-weight: bold;
}

.inner_custom label {
    font-size: 14px;
    margin-right: 12px;
    display:inline-block;
    width:20%;
}

.inner_custom input[type=text] {
    padding: 4px 10px;
    margin: 0 10px 0 0;
    border: solid 1px #dedede;
    font-family: 'Merriweather', sans-serif;
    font-size: 13px;
    line-height: 22px;
    color: #b4b4b4;
    font-weight: normal;
    width: 32.8%;
    display: inline-block;
}

.inner_custom textarea {
    color: #b4b4b4;
    font-weight: normal;
    font-family: 'Merriweather', sans-serif;
    font-size: 13px;
    width:34%;
}
.inner_custom .icheckbox_square-red {
    float:none;
}

.inner_custom .dd {
    width:34.4% !important;
}

.inner_custom .dd .ddTitle .ddTitleText {
    padding:4px 10px;
    line-height:22px;
    font-family: 'Merriweather', sans-serif;
    font-size:13px;
}

/* END INNER CUSTOM */

/* ADMIN */

.inner6_table_con_top.admin-member-results-header ul li,
.inner6_table_in.admin-member-results ul li {
    width:20%;
    margin:0 !important;
    padding:8px 0;
}


.inner6_table_con_top.admin-home-enquiry-header ul li,
.inner6_table_in.admin-home-enquiry ul li {
    width:10%;
    padding:0;
    margin:0;
}

.inner6_table_con_top.admin-home-enquiry-header ul li:nth-child(4),
.inner6_table_in.admin-home-enquiry ul li:nth-child(4) {
    width:50%;
}

.admin-home-enquiry ul {
    width:100%;
    padding-left:0px;
}


.inner6_table_in.admin-member-results ul {
    width:100%;
}

.clist label {
    vertical-align:top;
}

.clist ul {
    display:inline-block;
}

.inner6_table_con_top.admin-email-template ul li,
.inner6_table_in.admin-email-template ul li{
    width: 30%;
}

.inner6_table_in.admin-email-template ul {
    width:98.8%;
}

ul.admin-bcrumb li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    color:#f77e2e;
}

ul.admin-bcrumb li a {
    text-decoration:none;
    color:#f77e2e;
}

.inner_custom a {
    color:#3c8fe3;
}

.inner6_table_con.snapshot-tbl-a .inner6_table_con_top ul li,
.inner6_table_con.snapshot-tbl-a .inner6_table_in ul li {
    width:16%;
    margin:0px;
    padding:0px;
}

.inner6_table_con.snapshot-tbl-b .inner6_table_con_top ul li,
.inner6_table_con.snapshot-tbl-b .inner6_table_in ul li {
    width:15%;
    margin:0px;
    padding:0px;
}

    .inner6_table_con.snapshot-tbl-b .inner6_table_con_top ul li:nth-child(4),
    .inner6_table_con.snapshot-tbl-b .inner6_table_in ul li:nth-child(4) {
        width:40%;
    }

.inner6_table_con.snapshot-tbl-c .inner6_table_con_top ul li,
.inner6_table_con.snapshot-tbl-c .inner6_table_in ul li {
    width:10%;
    margin:0px;
    padding:0px;
}

    .inner6_table_con.snapshot-tbl-c .inner6_table_con_top ul li:nth-child(3),
    .inner6_table_con.snapshot-tbl-c .inner6_table_in ul li:nth-child(3) {
        width:50%;
    }

/* END ADMIN */
    
.old-container {
    margin: 144px 0 0 0;
}

@media (max-width: 1354px) {
    .container {
        margin: 0;
        padding: 0;
        width: initial;
    }
}

.modal-dialog p {
    text-align: left;
}

.error-required,
.error-email {
    height: 36px;
    width: 160px;
}

.bx-wrapper .bx-controls-direction a {
    z-index: 998;
}

h1 {
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    color: #333333;
    font-size: 28px;
    width: 100%;
    display: inline-block;
    font-weight: bold;
}

.features-section .field label {
    font-weight: normal;
    font-size: 13px;
}

.dd .ddChild li {
    text-align: left;
}