.borderRadius{  }
.borderRadiusTp{}
.borderRadiusBtm{}

.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0 !important;margin:0 !important; width:100%;}
.ddcommon ul li{list-style-type:none;}
.borderRadiusTp ul li:last-child{border-bottom:0 none #c3c3c3; }
.borderRadiusBtm ul li:first-child{border-bottom:1 solid #c3c3c3; }

.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{
opacity: .5; /* standard: ff gt 1.5, opera, safari */
-ms-filter:"alpha(opacity=50)"; /* ie 8 */
filter:alpha(opacity=50); /* ie lt 7 */
-khtml-opacity:.5; /* safari 1.x */
-moz-opacity:.5; /* ff lt 1.5, netscape */
color:#999999;
}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none; display:none !important; }
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
.borderRadiusTp .border, .borderRadius .border{-moz-border-radius:0 0 5px 5px ; border-radius:0 0 5px 5px;}
.borderRadiusBtm .border{-moz-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0;}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .ddArrow{display:inline-block; position:absolute; top:44%; right:14px;}
.ddcommon .ddArrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}

/*************** default theme **********************/
.dd{border:1px solid #dedede; width:49% !important; background:#fff;  }
.dd .divider{ right:24px;}
.dd .ddArrow{width:9px;height:6px; margin-top:0; background:url(../images/arrow_down.png) no-repeat;}
.dd .ddArrow:hover{background-position:0 100%;}
.dd .ddTitle{color:#000; }
.dd .ddTitle .ddTitleText{font-family:'Lato', sans-serif; font-size:14px; line-height:14px; color:#b4b4b4; font-weight:normal; padding:15px 0 15px 5%; margin:0;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px;}
.dd .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px;}
.dd .ddChild li{padding:8px 0 8px 0%; margin:0 !important; background-color:#fff; border-bottom:1px solid #c3c3c3; width:100%; text-align:center;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{font-family:'Lato', sans-serif; font-size:12px; line-height:12px; color:#b4b4b4; font-weight:normal; }
.ddcommon .ddChild li:hover .ddlabel{color:#000;}

.dd .ddChild li.hover{background-color:#D9EFF2}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background:#D9EFF2; color:#000;}

.select1_lft .dd{border:none; width:100% !important; background:#fff;  cursor:pointer; }
.select1_lft .dd .ddChild{ width:100% !important; right:0 !important;}
.select1_lft .dd .ddTitle .ddTitleText{font-family:"Merriweather",serif; font-size:12.5px; color:#000; line-height:14px; font-weight:400;}
.select1_lft .ddcommon{position:static;}
.select1_lft .dd .ddChild li{padding:10px 0 10px 0;}

.sort1 .dd{border:none; width:100% !important; background:#fff; cursor:pointer;}
.sort1 .dd .ddChild{ width:100% !important; left:-0 !important;}
.sort1 .dd .ddTitle .ddTitleText{font-family:"Merriweather",serif; font-size:12.5px; color:#000; line-height:14px; font-weight:400; padding:11px 0 7px 5%;}
.sort1 .ddcommon{position:static;}


.optional-block .dd{border:none; background:none;  cursor:pointer; }
.optional-block .dd .ddChild{ width:100% !important; right:0 !important; }
.optional-block .dd .ddTitle .ddTitleText{font-family:"Merriweather",serif; font-size:17px; color:#000; line-height:14px; font-weight:400;}
.optional-block .ddcommon{position:static;}
.optional-block .dd .ddChild li{padding:10px 0 10px 0;}
.optional-block .ddcommon .ddArrow{right: 18px;}
.dropdown1 .dd{width:220px !important; }
.dropdown2 .dd{width:222px !important; }





