/**
 * @package		PickMeUp - jQuery datepicker plugin
 * @author		Nazar Mokrynskyi <nazar@mokrynskyi.com>
 * @author		Stefan Petre <www.eyecon.ro>
 * @copyright	Copyright (c) 2013-2015, Nazar Mokrynskyi
 * @copyright	Copyright (c) 2008-2009, Stefan Petre
 * @license		MIT License, see license.txt
 */
.pickmeup {
  background: #ffffff;
  border-radius: 0.4em;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: none;
  position: absolute; 
  width:249px;
}
  .pickmeup * {
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .pickmeup .pmu-instance {
    display: inline-block;
    padding: .5em;
    text-align: center;
  }
    .pickmeup .pmu-instance .pmu-button {
      color: #959595;
      cursor: pointer;
      outline: none;
      text-decoration: none; }
    .pickmeup .pmu-instance .pmu-today {
      color: #71c5d3;}
    .pickmeup .pmu-instance .pmu-button:hover {
      background: "transparent";
      color: #71c5d3; }
    .pickmeup .pmu-instance .pmu-not-in-month {
      color: #d9d9d9; }
    .pickmeup .pmu-instance .pmu-disabled,
    .pickmeup .pmu-instance .pmu-disabled:hover {
      color: #333;
      cursor: default; }
    .pickmeup .pmu-instance .pmu-selected {
      background: #71c5d3;
      color: #ffffff; }
    .pickmeup .pmu-instance .pmu-not-in-month.pmu-selected {
      background: #17384d; }
    .pickmeup .pmu-instance nav {
      color: #eee;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      line-height: 2em; }
      .pickmeup .pmu-instance nav *:first-child :hover {
        color: #88c5eb; }
      .pickmeup .pmu-instance nav .pmu-prev,
      .pickmeup .pmu-instance nav .pmu-next {
        display: none;
        height: 2em;
        width: 1em; }
      .pickmeup .pmu-instance nav .pmu-month {
        width: 14em; }
    .pickmeup .pmu-instance .pmu-years *,
    .pickmeup .pmu-instance .pmu-months * {
      display: inline-block;
      line-height: 3.6em;
      width: 3.5em; }
    .pickmeup .pmu-instance .pmu-day-of-week {
      color: #999;
      cursor: default; }
    .pickmeup .pmu-instance .pmu-day-of-week *,
    .pickmeup .pmu-instance .pmu-days * {
      display: inline-block;
      line-height:2.3em;
	  font-size:15px;
      width: 2.3em; 
	  font-weight:100;
	  }
    .pickmeup .pmu-instance .pmu-day-of-week * {
      line-height: 1.8em; }
  .pickmeup .pmu-instance:first-child .pmu-prev,
  .pickmeup .pmu-instance:last-child .pmu-next {
    display: block; }
  .pickmeup .pmu-instance:first-child .pmu-month,
  .pickmeup .pmu-instance:last-child .pmu-month {
    width: 13em; }
  .pickmeup .pmu-instance:first-child:last-child .pmu-month {
    width: 12em; font-weight:700; font-size:18px; color:#5d6364;}
  .pickmeup:not(.pmu-view-days) .pmu-days, .pickmeup:not(.pmu-view-days) .pmu-day-of-week, .pickmeup:not(.pmu-view-months) .pmu-months, .pickmeup:not(.pmu-view-years) .pmu-years {
    display: none; }
	
	
	.pmu-prev									{ background:url(../images/arrow_left.png) no-repeat left center; width:7px; height:11px; text-indent:-99999em;}
	.pmu-next									{ background:url(../images/arrow_right.png) no-repeat left center; width:7px; height:11px; text-indent:-99999em;}
	.pmu-day-of-week							{ font-size:12px; color:#404040; font-family:"Lato",sans-serif;}
	.pmu-month									{ font-family:"Lato",sans-serif;}
	.pickmeup .pmu-instance .pmu-selected:hover	{ color:#ffffff;}
