/* ------------------------ Responsive Start below ------------------------------ */
/* -------- Desktop -------- */
@media only screen and (max-width:1400px){
#wrapper																		{ width:100%; overflow:hidden; }
#header .inner																	{ width:93%;}	
#header .right-section															{ width:auto;}
.navigation																		{ margin:9px 61px 0 0;}
.banner .caption																{ top:50px;}
.banner .caption h1																{ font-size:45px; line-height:50px; margin:0 0 20px 0;}
.banner .caption .button														{ padding:15px 29px 18px 31px;}
.header_rgt { width: 86% !important; }
.join																			{ background-size:auto auto;}

.key-benefit .box .content ul li .image											{ margin:0 7% 0 0;}

/*Inner1*/
#main-container	.inner															{ width:90%; }
.search-result .box																{ width:30%; min-height:492px; }
.how-its-work .box-two .title .bottom											{ background-size:100%; }
.search-result .box:nth-child(3n+3)												{ margin-bottom:58px; }

.search-result .box:nth-child(3n+3)												{ margin-bottom:71px; }
.search-result .box .detail .content {
  width: 100%;
  padding: 0;
  margin: 15px 0 0 0 !important;
}
.search-result .box .detail .msg_bg9											{ bottom:-130px; }
/*Inner9*/
.inner9_con .box																{ width:30%; }
/*Inner6*/
#header .administ																{ width:70% !important;  margin: 0 0 -10px 0 !important;  padding: 10px 0 0 0; }
.administ h2																	{ position: absolute;  top: -25px; left: 0; }
.administ .navigation ul li a													{ margin:0 30px 0 0; }


.how-its-work .box-two .content .button-group .button							{ width:100% !important; padding:21px 0 16px 0; }
.how-its-work .box .content .button-group .button								{ width:100% !important; padding:21px 0 16px 0; }

.listing .right-content .availability ul li a							{ width:92.5%; padding:15px 2% 15px 5% !important;  }
.in9_pop .content .header-main .left											{ width:29% !important; }
.listing .content .header-main .right									{ width:55%; }
.inn9_rgt																		{ width:60% !important; }
.listing .content .header-main .left .pro-name							{ display:block ; float:none;}
.in9_pop .content .header-main .eight											{ width:100% !important; }
#cboxClose{right:17%; }
.inner9_con .search-result .box .detail .msg_bg											{ bottom:-118px;}
.how-its-work .box .content												{min-height:885px; }


/*Inner11*/
.inner11-bg .content .header-main .right									{ width:48.5%; }
.inner11-bg .listing .left-content .more-features ul						{ width:50%; margin:0; }
.inner11-bg .listing .left-content .more-features ul.two					{ width:50%; }
.inner11-bg .listing .left-content .nearby-facility ul						{ width:50%; }
.inner11-bg .listing .left-content .highlights ul li .detail				{ font-size:16px; }
.buttons h3																	{ display:none; }


.inner7_facilities																{ width:78%; }
#footer{ background-size:cover;}

.swap-home3 .box .content ul li .image											{width:16% !important; margin:0 2% 0 0 !important; }
/*.key-benefit .box .content ul li .description									{width:82% !important; }*/
.key-benefit .box .content ul li .description									{width:61% !important; }

.gallery-section{width:100%;}
/*.gallery-section ul{width:90%; margin:0 auto; }
.gallery-section ul	li{width:31%; margin:0 1% 15px 1%; }*/
.country	{ margin:0 0 10px 0; }
.browse-left{width:70%;}
.banner .index-caption{width:64%;}
}

@media only screen and (max-width:1200px){
.inner9_con .search-result .box .detail .msg_bg									{ bottom:-128px;}
#header .administ																{ width: 77% !important;}
.navigation																		{ margin:9px 30px 0 0;}
.banner .caption																{ top:44px;}
.banner .caption h1																{ font-size:35px; line-height:40px; margin:0 0 20px 0;}
.banner .caption .button														{ padding:15px 29px 18px 31px;}
.banner .caption p																{ margin:0 0 15px;}
					
.how-its-work .box .title h1													{ font-size:27px;}
.how-its-work .box .content ul li h1											{ font-size:21px;}
.how-its-work .content .inner													{ width: 84.1% !important;}

.join .content																	{ padding: 100px 0;}

#footer .inner .col-one															{ width:28%; margin-right:4.6%;}
#footer .inner .col-two															{ width:21.1%; margin-right:3%;}
#footer .inner .col-three														{ width: 17.2%; margin-right:1.6%;}
#footer .inner .col-four														{ width: 21.6%;}


.key-benefit .box .content ul li .image											{ margin:0 7% 0 0;}	
.key-benefit .box .content ul li .image img										{ width:96%; height:auto;}

.how-its-work .box .content ul li .description									{ float:right;}
.side-icons ul																	{ background-size:2px 123px; }
/*Inner1*/
.browse-property .location-search .input input									{ width:72%; font-size:18px;}
.search-result .join-us	.inner .content											{ margin:70px 14.3% 0; }
.content:nth-child(1) .field input												{ width:33%; }
.browse-property .location-search .input input									{ width:66% !important; }
#colorbox																		{ width:100% !important; }	
/*Inner3*/
.inner3_container																{ width:96%; }
.inner3_ban																		{ padding:50px 0 50px 0; }
.inner3_main_top																{ padding:50px 0 50px 0; }
.inner3_ban_lft																	{ width:50%; }
.inner3_ban_rgt	img																{ width:100%; height:auto; }
.inner3_ban_lft p a																{ display:inline-block; }
.inner3_main_grt .buton															{ width:61%; }
.inner3_main_lft																{ width:40%; 	}
.inner3_main_rgt																{ float:right; }
.inner3_main_cen .inner3_main_rgt												{ float:left; }
.inner3_main_cen .inner3_main_lft												{ float:left; }
.inner3_main_rgt h2																{ font-size:23px; }
.inner3_main_rgt ul li .rgt_con													{ width:70%; float:right; }
.inner3_main_cen .inner3_main_lft img											{ width:100%; height:auto; }
.inner3_main_rgt ul li h3														{ font-size:18px; }
.inner3_main_cen .inner3_main_rgt ul li .rgt_con								{ width:65%; float:right; margin:0; }
/*Inner6*/
.inner6_table_bg																{ width:100%; overflow:scroll; overflow-y:hidden; padding:0 0 3px 0;   border: solid 1px #C3C3C3; background:#fff; }
.inner6_table_con																{ width:1106px; padding:13px 0 0 0; }
.inner6_con_top .tog_icon														{ right:-9px; }
.inner6_main																	{ padding:50px 0 0 0; }
.inner6_con_block1_lft															{ width:75%;}
.inner6_con_block1_rgt															{ width:24%;}	
.inner6_member																	{ float:none; margin:20px 0 0 0; }
.inner6_table_bg::-webkit-scrollbar 											{ height:10px; border-radius:20px; }
.inner6_table_bg::-webkit-scrollbar-thumb 										{ background-color:#24789E; border-radius:20px;  }
/*Inner7*/
.inner7_bg																		{ position:relative; }
.inner7_main																	{ padding:50px 0 0px 0; }
.inner7_main_top																{ padding:0 2%  20px 2%; }
.inner7_block1_lft																{ width:28%; }
.inner7_block1_lft h2															{ padding:0 8% 0 0; font-size:70px; line-height:70px; }
.inner7_block1_rgt																{ padding:10px 0 25px 0; margin:0; width:71%; }
.inner7_block1_rgt .ba_top														{ right:1%; bottom:20px; }
.inner7_cal ul li:nth-child(3)													{ width:28%; }
.inner7_cal ul li:nth-child(4)													{ width:12%; }
.inner7_in :nth-child(3).inner7_block1 .inner7_cheacks ul li:nth-child(17)		{ width:50%; }
.side-icons																		{ top:250px; }
.side-icons ul li:nth-child(1)													{ margin:0 0 0 0; }

.inner_9side ul	{background-size: 2px 98px;}
/*Inner11*/
.inner11-bg .content .header-main .right										{ width: 51%;}
#header .logo2																	{ top:37px;  }
.inner11_header .navigation														{ }
#header .logo2 a img															{ width:auto; height:27px;  }
.inner11_header .right-section													{ width: 77% !important;}

/*Inner12*/
.inner12-bg .content .header-main .right										{ width:55% !important; }
.inner12-bg .listing .left-content .requirement ul li small						{ right: 22px;}
.inner12-bg .table_con ul li p													{ width:31%; }
/*Inner13*/
.inner13{ width:98%;}
.inner13-sidebar{ width: 30%;}
.inner13-content{width: 66%;}
.date_1 .gmail_icon1{top: 2px;right:-19px;}
.from_1{ width:14%;}
.name_1{ width:15%;}
.location_1{ width:22%;}
.message_1{ width:29%;}
.date_1{ width:13%;}
.date_1 .clos_2{ right:-35px;}
/*Inner14*/
.advance-section		{width:100%; padding:40px 15px; box-sizing:border-box;}
.inner1-header .right-section{width:66% !important; }
.inner1-header .navigation ul li a{margin: 0 23px 0 0;}
.perth			{width:100%;box-sizing:border-box; padding:0 15px; }
.perth_rght		{width:68%;}
.perth_left		{width:30%; }
.view_home_left	{width:30%;}
.view_home_left img	{width:100%; height:auto; }
.view_home_rght	{width:63%; }
.fetured-star a strong{left:auto; right:0; }
.fetured-star a strong:after{left:auto; right:5px;  }
.displaying_top em{float:none; padding:0 0 10px 0; width:100%; }
.displaying_top_lft{float:none;}
.displaying_top	{padding:8px;}

/*Inner-15*/
.profile-page{width:100%;}
.favourite-block ul li .enruiry{width:33%; }

/*Index-changes*/
.work-section ul li img.shap-img1,.work-section ul li img.shap-img2{display:none;}

.browse-section{padding:40px 0 54px 0;}
.features-block ul li{margin:0 25px 0 0; }
.features-block{text-align:center; }
.features-block ul{display:inline-block;}
.features-block ul li	a img{width:auto; height:60px; }
.banner .caption .button{min-height:57px; line-height:57px; }
.banner .index-caption .button .arrow{margin:16px 8px 0 0;}

.banner .index-caption .button{width:200px; }
.banner .caption .button.green-but{width:190px; padding:15px 23px 18px 23px; font-size:30px; text-align:center; }

.banner .caption p.explore{margin:10px 0 0 0;}
.work-section ul li:nth-last-child(1) .con		{margin:0; width:65%; }
}
@media only screen and (max-width:1024px){
#main-container .inner															{ width:96%;}
#footer .inner, #footer .content												{ width:96%;}
#header .inner																	{ width:94%;}	
.navigation																		{ margin:9px 0px 0 0;}
.navigation ul li a																{ font-size: 14px;}
#header .inner .buttons .button													{ font-size: 13px;}
#header .inner .buttons .sign-in												{ font-size: 14px; margin:3px 0 0 20px;}

.banner .caption																{ top:55px; left:44px;}
.banner .caption h1																{ font-size:24px; line-height:32px; margin:0 0 8px 0;}
.banner .caption .button														{ padding:10px 25px 10px 26px; font-size:26px; width:180px;}
.banner .caption p																{ margin:0 0 11px;}

/*Inner1*/
.browse-property .location-search .input input									{ width:70%; }	
/*Inner2*/
.listing{margin:0 0 20px 0 !important;}
.listing .left-content .join .button									{ width:62%; margin:0 auto; float:none;  }	
	
#cboxClose{ right:3%; }	

/*Inner10*/																																
.inner10_main_bot ul li h3														{ font-size:17px; }
.browse-property .location-search .input-two input.two							{width:180px !important; }
.inner11-bg .listing .right-content .availability .to{    margin: 0 15px;}

/*Inner11*/
.inner11-bg .content .header-main .right										{ width:61%; }
/*Inner12*/
.inner12-bg .content .header-main .right										{ width:65% !important; }
.inner12-bg .table_con ul li p													{ width:36%; }

/*Inner-15*/
.profile-page{width:100%;}
.favourite-block ul li .enruiry{width:32%; }
.favourite-block ul li small:nth-child(2){width:32%; }

.work-section ul li img.shap-img3,.work-section ul li img.shap-img4{display:none;}

}
@media only screen and (max-width:1023px){
.inner13-sidebar{ width:735px; float:none; display:block; margin:0 auto;border: solid 1px #dedede; padding:30px 0 0 0;}
.inner13-content{width: 95%; float:none; display:block; margin:0 auto; padding:47px 0px 30px 0;}	
.quick-links ul	li a{ margin:0 0 0 6%;}
.quick-links ul{ width:100%;}
.inner13-sidebar h4{ padding: 0 0 12px 5%;}
.find-house{ padding:22px 0 18px 6%;}
.quick-links{padding: 0 0 14px 0%;}
.date_1 .gmail_icon1{right: -17px;}

.inner15-sidebar{width:30%; display:table-cell; }

.work-section ul li{margin:0 2% 0 0; width:32%; }
.work-section ul li:nth-last-child(1){width:32%;}
.work-section ul li:nth-child(2){width:32%;}
.browse-head{padding:0 0 35px 0; }
.browse-left{width:70%;}
.swap-section .swap{margin:0 0 45px 0 !important;}
.work-section ul li{width:100% !important; float:none !important; margin:0 0 20px 0 !important;}
.work-section ul li .con{width:100% !important; float:none;}
.work-section ul li img	{float:none; margin:0 0 10px 0; }
.work-section ul li h2{padding:0 0 10px 0; }
.browse-left{width: 63%;}
.gallery-section ul	li a span small{font-size:20px; line-height:20px; }
.features-block ul li a img{height:50px;}
.features-block ul li{margin: 0 20px 0 0;}

.swap-section{padding:20px 0 30px 0;}
.swap-section .box .content{margin:0 !important; }

}
@media only screen and (max-width:991px){
/*New-Inner1*/
.perth_left{width:35%;}
.perth_rght{width:62%;}
.select1 small{float:none; }
.select1_lft{width:100% !important;  float:none; }
.select1_lft .dd .ddChild{top:65px !important;}
.select1_lft .dd .ddTitle .ddTitleText{padding:10px 0 10px 0; }
.perth_rght h2{font-size:28px; line-height:28px; }
.perth_rght .dd .ddTitle .ddTitleText{padding:8px 0 8px 0; }
.displaying_top_lft{width:auto;}
.sort1{width:176px; padding:8px 0 0 8px;}
.widt_1,.releave1{width:100% !important; float:none; }
.sort1 small{float:none;padding:0;}
.sort1 .dd .ddChild{top:56px !important; }
.perth_rght h6{font-size:14px; line-height:18px; padding: 13px 0 13px 10px; }
.view_home_left{width:50%; float:none;}
.view_home_rght{width:100%; float:none; padding:10px 10px 0 10px; margin:0; box-sizing:border-box; }


.inner15{width:98%; margin:0 auto; display:block;}
.home-content p	{padding:0 0 15px 0; }
.inner15-sidebar{display:block; width:100%; }
.refine-section{padding:15px 10px;}
.inner15-content{width:100%; padding:25px 0; float:none; }
.inner15-sidebar .widt_1,.inner15-sidebar .widt_2{width:100% !important; }

.banner .caption .button{min-height:33px; line-height:33px;}
.ribbon{bottom:15px; width:160px; height:160px; background-size:100%; }
.ribbonin{padding:34px 22px 0 22px;}
.ribbon h2{font-size:18px; line-height:18px; }
.ribbon p{font-size:12px; line-height:14px; padding:0 0 5px 0; }

.swap-home3 .box .content ul li:first-child p{padding:0;}
.ribbon{position:static; margin:20px auto; display:block; }
.banner .index-caption .button .arrow{margin:2px 8px 0 0;}
.banner .caption .button.green-but{padding:8px 23px 13px 23px; font-size:24px; }

}

@media only screen and (min-width:768px) and (max-width:960px){
#header .inner .buttons .sign-out2												{ margin:8px 0 0 20px !important; }
#header .administ																{ width:100% !important; }	
.diff-header .logo																{ top:37px !important; }
.diff-header .inner																{ width:96% !important; }		
.logo img																		{ width:85%; height:auto;}
.banner .caption																{ top:35px; left:44px; width:85%;}
.banner .caption h1																{ font-size:22px; line-height:28px; margin:0 0 8px 0;}
.banner .caption .button														{ padding:10px 25px 10px 26px; font-size:23px; width:169px;}
.banner .caption p																{ margin:0 0 11px; font-size:13px;}
.banner img																		{ height:auto;}
.banner .caption .more															{ margin-top:8px;}
#header .inner .buttons .button													{ padding:9px 12px 8px; }
.navigation ul li a																{ margin:0 18px 0 0; }
#header .inner .buttons .sign-in												{ margin:3px 0 0 12px; }
.inn9_rgt																		{ width:69% !important; }
.navigation li:hover ul															{ left:-15px; }

.how-its-work .box																{ margin:0 2.2% 52px 0; width:48.9%;}
.how-its-work .box .title h1													{ font-size:21px; padding:10px 0;}
.how-its-work .box-two .title h1												{ padding:12px 0 18px;}
.box-two .content																{ margin-top:45px;}
.join																			{ background-size: 100% 100%;}
.join .content																	{ padding:80px 0;}
.join .content h1																{ font-size:40px; line-height:40px; margin: 0 0 20px;}
.join .button-group .button														{ padding:15px 29px 17px 31px; width:203px; font-size:23px;}

.how-its-work .content .inner													{ width:90%;}

.how-its-work .box .content ul li .image img									{ width:100%; height:auto;}
.how-its-work .box .content ul li .indicate-right								{ display:none;}
.how-its-work .box .content ul li .indicate-left								{ display:none;}

.how-its-work .box .content ul li												{ margin-bottom:20px;}
.how-its-work .box .content ul li:nth-child(2)									{ margin-bottom:20px;}
.how-its-work .box .content .button-group										{ margin-top:50px;}
.how-its-work .box-two .content .button-group									{ margin-top:15px;}

.how-its-work .box .content .button-group .button								{ width: 41.9%; font-size:16px; padding:10px 0 11px; font-weight:900;}
.how-its-work .box-two .content .button-group .button							{ width:64%;}
.how-its-work .box .content														{ min-height:910px; }


.intro .inner .box																{ width:49%; margin:0 2% 30px 0;}
.intro .inner .box:nth-child(2n+2)												{ margin-right:0px;}

.why-join .inner .box															{ width:49%; margin:35px 2% 35px 0;}
.why-join .inner .box:nth-child(2n+2)											{ margin-right:0px;}
.why-join																		{ padding:40px 0 15px; }
.why-join .inner																{ padding:0; }
#footer h1																		{ font-size:18px;}

#footer .inner .col-one															{ width:24%; margin-right:1.5%;}
#footer .inner .col-two															{ width:24.1%; margin-right:1.5%;}
#footer .inner .col-three														{ width:19.2%; margin-right:1.5%;}
#footer .inner .col-four														{ width:26.6%;}

#footer ul li a span															{ font-size:}
.key-benefit .box																{ width:44%;}
.key-benefit .divider															{ width:11%; }

.key-benefit .box .title h1														{ margin-bottom:30px; font-size:19px;}	
.key-benefit .box-two .title h1													{ margin-bottom:30px; font-size:19px;}
.key-benefit .box .content ul li h1												{ font-size:20px; }
.key-benefit .box .content ul li .image											{ width:25%; }
.key-benefit .box .content ul li												{ margin:0 0 20px !important; }
.key-benefit .box .content														{ padding:0 !important; }
.box-two																		{ float:right !important;}
/*Inner1*/
.listing																		{width:99%; margin:0 auto !important; }
.search-result .box .fav														{right: 100px;}
/*Inner2*/
.listing .left-content .join .button											{ width:83%; margin:0 auto; float:none;  }	
.listing .container																{ padding:50px 2% 25px 2%; margin:0 auto; }															
.listing .content .header-main .right											{ width: 68%;}
.listing .left-content															{ width:55%; margin:0 3% 0 0; }
.listing .right-content															{ width:42%; }
#cboxClose{ right:50px; }	
.search-result .box .detail .msg_bg9											{ bottom:-124px !important; }

/*Inner3*/
.inner3_ban																		{ padding:30px 0 30px 0; }
.inner3_ban_lft																	{ width:100%; margin:0 auto; } 
.inner3_ban_rgt																	{ width:100%; text-align:center; margin:15px auto 0;}
.inner3_ban_lft h2																{ padding:0 0 25px 0; }
.inner3_ban_lft p																{ padding:0 0 15px 0; }
.inner3_main_top																{ padding:30px 0 30px 0; }
.inner3_main_lft																{ width:35%; }
.inner3_main_lft .istoke														{ margin:0; }
.inner3_main_lft .dog_img														{ right:0;}
.inner3_main_lft img															{ width:100%; height:auto; }
.inner3_main_rgt																{ width:65% !important; float:right; }
.inner3_main_rgt ul li .rgt_con													{ width:67%; float:right; }
.inner3_main_rgt ul li h3														{ font-size:16px; }
.inner3_main_rgt ul li .lft_con .indicate-right									{ height:78px; }
.inner3_main_rgt h2																{ font-size:21px; line-height:21px; }
.inner3_main_lft .home_img														{ margin:10px 0 0 0; }
.inner3_main_lft .gen_lady														{ margin:0; }
.inner3_main_lft .gi_dog														{ margin:0; }
.inner3_main .intro																{ padding:35px 0 20px 0; }
.inner3_main_cen .inner3_main_rgt												{ width:65% !important; float:left; }

/*Inner4*/																
.inner4_main																	{ padding:35px 0 10px 0; }
.inner4_main_rgt p																{ font-size:20px; line-height:36px; padding:0 0 25px 0; }		
.inner4_main_rgt h2																{ padding:25px 0 0 0; }
/*Inner10*/
.inner10_main_top																{ padding:0 2% 0px 2%; }
.inner10_main_bot ul li:nth-child(2) h3											{ min-height:70px; }
.inner10_main_bot h5															{ padding:35px 0; min-height:inherit;  }
/*Inner6*/
.inner6_con_block1_rgt a														{ margin:10px 0 0 0; font-size:18px; line-height:18px; padding:12px 1% 12px 1%; }
.inner6_con_block1_lft															{ width:70%; }
.inner6_con_block1_rgt															{ width:28%; }
.inner6_con_block1_lft p														{ padding:0 0 20px 0; }
.inner6_con_block1_lft .carousel												{ margin:0 10% 0 0% !important;}
.inner6_con_block1_lft ul li													{ width:3.3% !important; border:none;	}
.inner6_con_block1_lft ul li img:hover											{ border:none; }
.inner6_con_block1_lft .bx-viewport ul li:hover									{ border:none; }
.inner6_con_block1_lft ul li img:hover											{ transform: scale(1.5);}
.inner6_con_block1_lft ul li a													{ display:inline-block; width:100% !important; }
.inner6_con_block1_rgt ul														{ padding:20px 0 0 0; margin:20px 0 0 3%; }
.inner6_con_block1_lft .bx-wrapper img											{ width:100%; }
.administ h2																	{ padding:14px 5px 0 0; font-size:16px; position:static; }
.administ .navigation ul li a													{ margin:0 10px 0 0; }
.diff-header .resent_sign_out													{ margin:7px 0 0 5px !important; }
.diff-header 																	{ padding:40px 0 0 0 !important; }
/*Inner7*/
.inner7_main																	{ padding:30px 0 0px 0; }
.side-icons																		{ background:#000; width:100%; position:relative; top:0; left:0; padding:10px 0 5px 0; }
.side-icons ul																	{ background:none; display:table; width:100%;  text-align:center; }
.side-icons ul li																{ display:table-cell !important; margin:0; padding:0; vertical-align:middle;  }
.side-icons ul li.active span em												{ width:16px; height:16px;  }
.side-icons ul li:hover a span em												{ width:16px; height:16px; }
.side-icons ul li:nth-child(1) span												{ margin:0; }
.side-icons ul li a span em														{ margin:16px 0 0 0; }
.side-icons ul li:nth-child(1)													{ margin:0; }
.side-icons ul li:nth-child(1) a span em										{ margin:8px 0 0 0; }
.side-icons ul li:nth-child(1) small											{ margin:4px 0 0 0;}
.buttons h3																		{ display:none; }
.header_rgt 																	{ width: 84% !important; }
.inner7_block1																	{ padding:0 0 30px 0; }
.inner7_block1_lft																{ width:13%; }
.inner7_block1_rgt																{ width:84%; margin:0;}
.inner7_block1_rgt ul li .msg													{ min-height:130px; }
.inner7_block1_rgt .nxt															{ margin:30px 0 0 0; }
.inner7_facilities																{ width: 76%; }
.inner7_main_top p																{ padding:0; }
.inner7_cal ul li																{ width: 27%;}
.inner7_cal ul li:nth-child(3)													{ width:30%; }
.inner7_in :nth-child(3).inner7_block1 .inner7_cheacks ul li:nth-child(14)		{ width:37%; }
.inner7_in :nth-child(3) .inner7_cheacks ul li:nth-child(3)						{ width:40%; }
.inner7_in :nth-child(3) .inner7_cheacks ul li									{ width:40%; }
.inner7_uplodes p																{ padding:20px 0 0 0 !important; }
/*Inner8*/
.error_msg																		{ width:75%; margin:0 9.5% 18px 0;  }
.inner7_block1_rgt h2															{ font-size:32px; }




/*Inner11*/
.inner11-leftin																	{ width:100%; }
.inner11-bg .listing .left-content .highlights ul li .detail					{ font-size:12px; line-height:14px; }
.inner11-bg .listing .content .header-main .left								{ width:28%; }
.inner11-bg .listing .content .header-main .right								{ width:72%; }
.inner11_header .logo															{ top:30px !important; }
.inner11_header .right-section													{ width:100% !important; }
.inner11-bg .listing .left-content .nearby-facility ul li						{ font-size:13px; }
.inner11-bg .listing .left-content .more-features ul li							{ font-size:13px; }

/*Inner12*/
.inner12-bg .content .header-main .right										{ width:72% !important; }
.inner12-bg .listing .content .header-main .right .social-icons					{ padding:0 15px 0 15px; }
.inner12-bg .table_con ul li p													{ width: 45%;}
.inner12-bg .listing .left-content .join										{ width:90%; }
} 	

@media only screen and (max-width:980px){
.vbox-inline	{width:100% !important;}
/*ENQUIRY POPUP*/
.enquiry-popup	{width:86%; padding:35px 30px 20px 30px; }
.enquiry-field	{width:250px;}
.optional-block			{width: 340px;}
.dropdown1 .dd			{width: 170px !important;}
.dropdown2 .dd			{width: 200px !important;}
.invited-block .dropdown1 .dd{width: 150px !important;}
.invited-block			{width:100%; box-sizing:border-box; padding:17px 0 0 21px; }
.invited-block .optional-block:nth-child(2){width:320px;}
.features-section		{width:100%;}
.features-section .field	{width:33.33%;}
.mob-none{display:none;}
.why-join.why-align .inner .box:nth-child(2n+2){margin:20px 0 20px 0; }

}
/* -------- Tablet -------- */
@media only screen and (max-width:800px){
.banner .caption p.visible														{ display:none;}
.banner .caption																{  top:62px;}				
}

@media only screen and (max-width:767px){
/*Change*/
.how-its-work																	{ padding:10px 0 0 0; }
#header .inner																	{ width:96%; display:block; }	
.logo img																		{ width:80%; height:auto;}
#header	.logo																	{ display:block; top:20px; display:block;  }
#header .right-section															{ position:relative; width:100%; padding:50px 0 0; }
.click-me																		{ display:block !important; position:absolute; top:0; right:2%; }
.navigation li ul																{ display:block; }
.navigation ul li .arrow														{ display:none; }
.navigation ul li:hover ul														{ display:block !important; }
.navigation ul																	{ display:inline-block; float:none; }
.navigation ul li ul 															{ display:none; width:100%; padding:0; }											
.navigation li:hover ul															{ left:-35px; }
#header .inner .buttons															{ width:79%; }
.listing .content .header-main .right .fav										{ position:static !important;  margin:0 0 0 10px; float:left; }
.navigation 																	{ display:none; position:absolute; left:0; z-index:99999; top:117px; width:100%; background:url(../images/nav_bg.png) repeat;  text-align:center; margin:0; }
.navigation ul li																{ margin:0 15px 0 0;  }
.navigation ul li:hover ul														{ display:none;}
.navigation ul li:hover a,.navigation ul li a.active 														{ color:#fff; }
.navigation ul li a																{ margin:0; }
.banner .caption																{ top:62px; left:44px; width:85%;}
.banner .caption h1																{ font-size:22px; line-height:28px; margin:0 0 8px 0;}
.banner .caption .button														{ padding:10px 25px 10px 26px; font-size:23px; width:169px;}
.banner .index-caption .button .arrow											{ margin:0px 5px 0 0; }
.banner .caption p																{ margin:0 0 11px; font-size:13px;}
.banner .caption p.visible														{ display:none;}
.banner img																		{ height:auto;}

.how-its-work .box																{ margin:0 0 32px 0; width:100%;}
.how-its-work .box .title h1													{ font-size:21px; padding:10px 0;}
.how-its-work .box-two .title h1												{ padding:12px 0 18px;}
.box-two .content																{ margin-top:53px;}
.how-its-work .box .content														{ margin-top:53px;}
.how-its-work .box .title .bottom												{ background-size:100% 100%;}
#header .inner .buttons .button													{ font-size:12px; padding:7px 4% 4px; }
#header .inner .buttons .sign-in												{ margin-left:0;}
.search-result .box .fav														{right: 110px; top:14px; }
.search-result .box .detail .msg_bg9											{ bottom:-130px !important; }
.search-result .box .detail .content {
  width: 100%;
  padding: 0;
  margin: 0 !important;
}
.join																			{ background-size: 100% 100%;}
.join .content																	{ padding:80px 0;}
.join .content h1																{ font-size:40px; line-height:40px; margin: 0 0 20px;}
.join .button-group .button														{ padding:15px 29px 17px 31px; width:203px; font-size:23px;}

.how-its-work .content .inner													{ width:90%;}
.why-join .inner .box:nth-child(2n+2)											{ margin-right:0px;}
.inner4_main_lft ul li.per2														{margin: 12px 0 0 2%;}


#footer h1																		{ font-size:18px;}

#footer .inner .col-one															{ width:48%; margin-right: 2%;}
#footer .inner .col-two															{ width:48%; margin-right:0; }
#footer .inner .col-three														{ width:48%; margin-right:0; }
#footer .inner .col-four														{ width:50%;}
#footer .inner .col-four p span													{ display:block;}
#footer .inner																	{ padding:25px 0 24px !important; }
#footer .inner .end																{ display:block !important; clear:both;}

#footer ul li a span															{ font-size:}
.key-benefit .box																{ width:100%;}
.key-benefit .divider															{ display:none;}

.key-benefit .box .content														{ padding-bottom:30px;}
.key-benefit .content .inner													{ width:96% !important;}
.key-benefit .box .title h1														{ margin-bottom:30px; font-size:22px; margin-left:2%;}	
.key-benefit .box-two .title h1													{ margin-bottom:30px; font-size:22px;}

.key-benefit .box .content ul li h1, .key-benefit .box .content ul li:nth-child(2), .key-benefit .box-two .content ul li, .key-benefit .box-two .content ul li:nth-child(2){ margin-bottom:35px;}
.back-to-top																	{ right:45px; }

/*Inner1*/
#main-container .inner															{ padding:34px 0 0; }
.search-result .box																{ width:100%; margin:0 0 35px 0 !important; padding:0 0 15px 0; }
.search-result .inner .view-list												{ text-align:center; margin:20px 0 40px 0; }
.search-result .inner .view-list .button-group									{ width:320px; display:inline-block; float:none; }
.search-result .inner .view-list .button-group .button							{ margin-left:0; }
.search-result .box .quick-view													{ top:auto; bottom:0; height:100%; }
.search-result .join-us	.inner .content											{ margin:10px 14.3% 0; }
.search-result .join-us	.inner													{ min-height:270px; }
.search-result .box:nth-child(3n+3)												{ min-height:395px; }
.first-area .content															{ margin:0; }
.browse-property .field															{ margin:0 0 10px 0; float:none; }
.first-area .content .field														{ float:none; }	
.browse-property .location-search .input										{ width:92%; float:none; margin-right:0; }
.browse-property .location-search .input										{ padding:5px 4% 6px 4% !important; height:30px; margin:0 0 10px 0; width:92%; display:inline-block; }
.browse-property .location-search .input-two input.two							{ width:80% !important;  margin:0 0 0 0;}
.browse-property .location-search .input input									{ width:80% !important; float:right;}
.browse-property .inner h1														{ font-size:19px; line-height:24px; }
.search-result .inner .sort-section												{ width:100%; display:block; float:none; margin:10px 0 0 0; display:inline-block; }
.search-result .inner .sort-section .tab										{ width:100%; }
.search-result .inner .sort-section .tab a										{ width:33.8%; padding-left:12% !important; padding-right:4% !important;}
.search-result .inner .sort-section .select										{ float:right; margin:14px 0 0 0; }
.search-result .inner .sort-content												{ position:relative; }
.search-result .inner .sort-section .select										{ position:absolute; top:0; right:0; width:33%; margin:0;}
.sbHolder																		{ width:58%; float:right; }
.sbToggle																		{ width:9px; }
.search-result .inner h1														{ font-size:20px; }
.sbSelector:link, .sbSelector:visited, .sbSelector:hover						{ font-size:12px; }
.search-result .inner .sort-section .select .text								{ font-size:12px;}
.listing																{ width:100%; margin:0 auto; }
.inner9_nam_id																	{ width:96%; margin:0 !important; padding-left:2% !important; padding-left:2% !important; }



/*Inner2*/
.listing .container													{ border-radius:10px !important; box-shadow: 0px 0px 15px #5c5c5c !important;   }
.listing .left-content .join .button									{ width:83%; margin:0 auto; float:none;  }	
.listing .container													{ padding:25px 2% 25px 2%; margin:0 2%; }					
.listing .container .header-main										{ float:none; }										
.listing .content .header-main .right									{ width: 100%; display:block; float:none; }
.listing .content .header-main .left									{ float:none; display:inline-block; margin:0 0 10px 0; width:100%; }
.listing .content .header-main .right .status							{ float:none; display:block; margin:0 0 5px 0; }
.listing .left-content													{ width:100%; margin:0 0 15px 0; }
.listing .left-content .image-gallery .bx-wrapper .bx-viewport			{ min-height:206px; }
.listing .right-content												{ width:100%; margin:0 0 10px 0; }
.slide_txt01																	{ padding:5% 0; }
#cboxClose																		{ right:5%; }														
.listing .left-content .requirement ul li								{ float:none; width:100%; margin:0 0 15px 0; text-align:left; }
.listing .left-content .requirement ul li .icon						{ text-align:left; margin:0 0 5px 0; }

/*inner3*/
.inner3_ban																		{ padding:20px 0; }
.inner3_ban_lft																	{ width:100%; text-align:center; }
.inner3_ban_lft p																{ text-align:center; }
.inner3_ban_lft p a																{ display:block; width:87px; margin:0 auto; }
.inner3_ban_rgt																	{ width:100%; text-align:center; }
.inner3_main_lft																{ width:300px; text-align:center; float:none; display:block; margin:0 auto; }
.inner3_main_lft img															{ width:100%; height:auto; }
.inner3_main_rgt ul li															{ width:100%; }
.inner3_main_lft .istoke														{ margin:0; }
.inner3_main_lft .nelson														{ left:0; }
.inner3_main_lft .dog_img														{ right:0; }
.inner3_main_rgt																{ width:100%; float:none; text-align:center; float:none !important; }
.inner3_main_rgt p																{ text-align:center; padding:0 0 24px 0;  }
.inner3_main_grt																{ margin:0 auto; }
.inner3_main_grt .buton {width: 41.9%; font-size: 16px; padding: 10px 50px 11px; font-weight: 900; }
.inner3_main_rgt ul																{padding:0px 0 28px 0; width:100%;	}
.inner3_main_rgt ul li .lft_con .indicate-right									{ display:none; }
.inner3_main_rgt ul li .lft_con .indicate-left									{ display:none; }	
.inner3_main_cen																{ padding:25px 0 25px 0; }
.inner3_main_cen .inner3_main_rgt ul											{ padding:25px 0 25px 0; }
.inner3_main_cen .inner3_main_rgt ul li .rgt_con								{ width:70%; }
.inner3_main_cen .inner3_main_lft												{ width:300px; text-align:center; float:none; display:block; margin:0 auto; float:none; }
.inner3_ban_lft h2																{ padding:0 0 20px; }
.country																		{ width:99.5%; }

/*Inner4*/																
.inner4_main																	{ padding:35px 0 10px 0; }
.inner4_main_rgt p																{ font-size:18px; line-height:28px; padding:0 0 25px 0; }
.inner4_main_lft ul	li input, .inner4_main_lft ul li input.half-field													{ float:none; width:100%; }
.inner4_main_lft ul	li:nth-child(2) input:nth-child(2)							{ float:none; width:100%; margin:12px 0 8px 0; }
.inner4_main_lft ul	li .txt_area												{ min-height:50px; }
.inner4_main_lft ul	li .dd														{ width:100% !important; }
.inner4_main_lft ul	li .dd .ddTitle .ddTitleText								{ padding:15px 0 15px 2.5%; }
.inner4_main_lft ul	li .dd .ddChild li											{ padding:8px 0 8px 2.5%; }
.inner4_main_rgt h2																{ padding:25px 0 0 0; }
.inner4_main_lft																{ width:100%; }
.inner4_main_rgt																{ width:100%; padding:0 0 20px 0;}

/*Inner5*/
.inner3_container																{ width:96%;}
.inner5_main																	{ padding:25px 0; }
.inner5_main_top																{ padding:0 0 20px 0; }
.inner5_main_lft ul li .con														{ padding:0 0 15px 0; }
.inner5_main_lft ul																{ margin:0 0 20px 0 !important; }
.inner5_main_lft																{ width:100%; }
.inner5_main_lft p																{ padding:4px 0 0px 2%; }
#colorbox{width:100% !important; max-width:926px !important; }
/*Inner6*/
.inner6_con_block1_lft															{ width:100%; }
.inner6_con_block1_rgt															{ width:100%; margin:50px 0 0 0; position:relative; z-index:99; }
.inner6_con_block1_lft .carousel												{ margin:0 10% 0 0% !important;}
.inner6_con_block1_lft .bx-wrapper img											{ width:100%; }
.inner6_con_block1_lft ul li													{ width:3.3% !important; border:none;	}
.administ h2																	{ padding:0 0 0 0; font-size:18px; position:absolute; top:65px; }
.resent																			{ width:52% !important; margin:7px 0 0 0; }
.resent_sign_out																{ padding:0 0 0 10px; margin:7px 0 0 0px !important; }
.administ .navigation															{ margin:0;}
.administ .navigation ul li a													{ margin:0; }														
.inner6_con_block1_lft ul li img												{ border:0; }
.inner6_con_block1_lft .bx-viewport ul li:hover									{ border:0; }
.inner6_con_block1_lft ul li img:hover											{ transform:scale(1.5);}
.inner6_con_top_lft																{ width:100%; float:none; }
.inner6_con_top_lft h3															{ float:none; display:block; }
.inner6_con_top .view															{ top:12px; right:3%; position:static; float:none;  }
.inner6_con_top_lft a															{ float:none; display:inline-block; margin:7px 0 5px 0; }
.inner6_con_top_lft h4 em														{ display:block; padding:5px 0 0; }
/*Inner7*/
.inne_butn																		{ padding:16px 0 14px !important; }
.buttons h3																		{ display:none; }
#header .right-section															{ width:100% !important; }

.inner7_main																	{ padding:30px 0 0px 0; }
.side-icons																		{ background:#000; width:100%; position:relative; top:0; left:0; padding:5px 0; }
.side-icons ul																	{ background:none; display:table; width:100%;  text-align:center; }
.side-icons ul li																{ display:table-cell !important; margin:0; padding:0; vertical-align:middle;  }
.side-icons ul li.active span em												{ width:16px; height:16px;  }
.side-icons ul li:hover a span em												{ width:16px; height:16px; }
.side-icons ul li:nth-child(1) span												{ margin:0; }
.side-icons ul li a span em														{ margin:16px 0 0 0; }
.side-icons ul li:nth-child(1)													{ margin:0; }
.side-icons ul li:nth-child(1) a span em										{ margin:8px 0 0 0; }
.side-icons ul li:nth-child(1) small											{ margin:4px 0 0 0;}
.buttons h3																		{ display:none; }
.header_rgt 																	{ width: 83% !important; }
.inner7_block1																	{ padding:0 0 15px 0; }
.inner7_block1_lft																{ display:none; }
.inner7_block1_rgt																{ width:100%; margin:0; padding:0 0 20px 0; }
.inner7_block1_rgt h2															{ font-size:28px; line-height:28px;  }
.inner7_block1_rgt ul li .msg													{ min-height:80px; padding:13px 1.5% 8px 1.5%; width:96%;  }
.inner7_block1_rgt ul li a														{ margin:9px 0 0 0; }
.inner7_block1_rgt .nxt															{ margin:15px 0 0 0; padding:7px 8.5% 7px 8.5%;  }
.inner7_main_top h2																{ font-size:26px; line-height:26px; padding:0 0 15px 0; }
.inner7_main_top p																{ padding:0 0 0 0; }
.inner7_block1_rgt ul li input													{ width:96% !important; margin:0; }
.inner7_block1_rgt ul li:nth-child(3) input										{ margin:0 0 15px 0;}
.inner7_block1_rgt ul li:nth-child(3) input + input								{ margin:0 0 0 0;}
.inner7_block1_rgt .dd															{ width:100% !important; margin:0 0 10px 0; }
.inner7_block1_rgt .dd .ddTitle .ddTitleText									{ padding:7px 0 11px 2.5%; }
.inner7_block1_rgt ul li:nth-last-child(1)										{ margin:0; }
.inner7_block1_rgt ul li .field													{ padding:0; }
.inner7_cheacks ul li															{ float:none; display:inline-block; margin:0 0 5px 0 !important; padding:0; width:100% !important; }
.inner7_cheacks																	{ padding:15px 0 15px 0; }
.inner7_block1_rgt ul li:nth-child(4)											{ margin:0; }
.inner7_cal ul																	{ position:relative; }
.inner7_cal ul li																{ display:inline-block; width:100% !important; float:none; margin:0 0 10px 0 !important; }
.inner7_cal ul li .inner7_cal_block input										{ width:87% !important; }
.inner7_cal ul li:nth-child(2) .inner7_cal_block input							{ width:90% !important; }
.inner7_cal ul li:nth-child(2) .inner7_cal_block								{ width:100% !important; }
.inner7_cal ul li:nth-child(4)													{ position:absolute; top:107px; right:0; width:auto !important; }
.inner7_block1_rgt ul li a														{ float:right !important; display:inline-block; }
.inner7_block1_rgt ul li:nth-child(7)											{ margin:0 0 15px 0; }
.inner7_in :nth-child(3).inner7_block1 .inner7_block1_rgt ul li:nth-child(2) input{margin:0 0 15px 0; }
.inner7_block1_rgt .ddcommon .ddArrow											{ right:2%; }
.inner7_in :nth-child(3).inner7_block1 .inner7_block1_rgt ul li:nth-child(4)	{ margin:0 0 15px 0; }
.inner7_in :nth-child(3).inner7_block1 .inner7_block1_rgt .msg					{ width:96%; }
.inner7_in .property															{ padding:15px 0 0px 0; }
.inner7_in :nth-child(3) .inner7_cheacks										{ padding:15px 0; }
.inner7_rooms																	{ padding:0 0 0px 0; }
.inner7_rooms ul li h6															{ margin:0 0 10px 0; }
.inner7_rooms ul li																{ margin:0 0 15px 0 !important; width:100%; }
.inner7_rooms ul li input														{ padding:9px 1.5%; }
.inner7_in :nth-child(3).inner7_block1 .msg1									{ padding:13px 1.5% 8px 1.5%; width:96% !important; }
.inner7_in .morex																{ margin:9px 0 0 0; }
.inner7_in .property2															{ padding:20px 0 0px 0; }
.inner7_facilities																{ padding:19px 1.5% 11px 1.5%; width:96%; margin:0; }
.inner7_in :nth-child(3) .inner7_block1_rgt .nxt								{ margin:20px 0 20px 0; }
.inner7_in :nth-child(4).inner7_block1 p										{ padding:0 0 15px 0; }
.inner7_block1_rgt .fish														{ padding:10px 10% 11px 8.5%; font-size:19px; line-height:19px; } 
.inner7_block1_rgt .fish i														{ top:10px; }
.inner7_in :nth-child(4).inner7_block1 p										{ padding:10px 0 5px 0; }
.inner7_upl_top																	{ padding:20px 0 20px 0; }
.inner7_uplodes p																{ padding:20px 0 0 0 !important; }
.inne_butn																		{ padding:12px 7% 12px !important; }
.inner7_upl_top_lft																{ float:none; display:block; width:100%; }
.inner7_add																		{ margin:15px 0 0 0; width:100%; }
.inner7_photo																	{ margin:15px 0 0 0; width:100%; }
/*Inner8*/
.inner7_main_top p b															{ display:block; }
.error_msg																		{ margin:0 0 15px 0; width:100%; }
.error_msg p																	{ line-height:18px; margin:4px 0 6px 10px; }
.inner7_block1 .contact_details li:nth-last-child(3)							{ margin:5px 0 0 0 !important; }
.inner7_block1 .contact_details li:nth-last-child(2)							{ margin:10px 0 0 0 !important; }
.inner7_block1 .contact_details li label										{ width:91%; }
.house_site	ul li input															{ margin:0 0 10px 0; }
.house_site	ul li:nth-child(1) {margin:0; }
.house_site	ul li:nth-child(2) input											{ margin:0 0 10px 0; }
.house_site	ul li:nth-child(2) input:nth-child(1)								{ margin:0 0 30px 0;}
.inner7_block1_rgt ul li input													{ float:none; }
.house_site	ul li:nth-child(2) a, .house_site	ul li:nth-child(3) a			{ top:35px; right:0; }
.house_site	ul li:nth-child(3) input:nth-child(1)								{ margin:0 0 50px 0;}
.house_site	ul li:nth-child(3) input:nth-child(2),.house_site	ul li:nth-child(3) input:nth-child(3){ margin:0 0 10px 0;}
.house_site	ul li:nth-child(3) a												{ top:50px;}
.house_site	ul li:nth-child(3) a + a											{ top:50px; right:0;}
.house_site	ul li:nth-child(5) h3												{ padding:15px 0 10px 0; }
.house_site	ul li:nth-child(7) h3,.house_site	ul li:nth-child(9) h3			{ padding:10px 0 10px 0; }
.house_site	ul li .lft_con														{ width:100%; margin:0; }
.house_site	ul li:nth-child(10) .dd 											{ width:100% !important; }
.house_site	ul li:nth-child(6) .msg, .house_site	ul li:nth-child(8) .msg		{ width:97%; }
.house_site	ul li:nth-child(10) .dd .ddTitle .ddTitleText						{ padding:8px 0 10px 2%; }
.house_site	ul li:nth-child(16) h3												{ padding:15px 0 0px 0; }
.house_site	ul li:nth-child(12) p												{ padding:0 0 0px 0 !important; }
.house_site	ul li:nth-child(13) a, .house_site ul li:nth-child(14) a, .house_site	ul li:nth-child(15) a{padding:0; margin:0 0 0 10px;  }
.house_site	ul li:nth-child(15) a + a 											{ margin:21px -54px 0 0;	}
.house_site	ul li:nth-child(16) h3												{ padding:0 0 0 0; }
.house_site	ul li:nth-child(18) .field											{ margin:0 0 5px 0; }
.house_site	ul li:nth-child(19) .inner7_cheacks									{ padding:0 0 0 0; }
.house_site	ul li:nth-child(21) .nxt											{ margin:10px 0 0 0;  width:initial !important; }
.house_site ul li:nth-child(20) input											{ width:90% !important; }
.profile_uplds .inner7_upl_top_lft:nth-child(2)									{ width:100%; margin:20px 0 5px 0;}
.profile_uplds .inner7_upl_top													{ padding:14px 0 0px 0; }
.inner7_block1_rgt ul li:nth-child(4) input										{ margin:0 0 10px 0; }

/*Inner9*/
.inner9_con .avlabe																{ left:2%; }
.inner9_con .box																{ width:45% !important; min-height:464px !important; }
.inner9_con .box:nth-child(odd)													{ margin-right:5% !important;}
.inner9_con .box:nth-child(even)												{ margin-right:0% !important;}
#header .inner .buttons .sign-out2												{ margin:12px -3px 0 0 !important; }
/*Inner10*/
.inner10_main																	{ padding:25px 0 0; }
.inner10_main_top																{ padding:0; }
.inner10_main_top h2															{ font-size:26px; }
.inner10_main_bot h5															{ padding:35px 0; min-height:inherit;  }
.inner10_main_bot ul li															{ margin:0 0 20px 0; width:100%; }
.inner10_main_bot ul li h3														{ padding:20px 0 0; }

/*popups*/
.popup1																			{ width:80%; }
.popup2 .inner4_main_lft ul li input											{ width: 94.5%; margin:0 0 10px 0; }
.popup2 .inner4_main_lft ul li input:nth-child(1)								{ margin:0 0 15px 0;  }
.popup2 .inner4_main_lft .mem													{ margin:0; }

.listing .content .header-main .left											{ width:100% !important;}
.listing .content .header-main .right											{ width:100% !important;}
.listing .left-content .requirement ul li small									{ left:26px; right:auto; }
.table_con ul li label															{ width:100%; display:block; float:none; }
.table_con ul li p																{ width:100%; display:block; float:none; }
.table_con																		{ padding:0; width:90.2%; }
.table_con ul																	{ padding:0 0 10px 0; }
.listing .left-content .section													{ margin-bottom:10px; }
#colorbox																		{top:0 !important;}
.search-result .inner .sort-section .select										{ position:static; width:95%;  margin:15px 0 0px 0; float:left; }
ul.pop123						{padding:0 !important; }
ul.pop123 li input					{margin:0 0 10px 0 !important; }

/*Inner11*/
.inner11-leftin																	{ width:100%; }
.inner11-bg .listing .container													{ box-shadow:none !important; }
.inner11-bg .listing .left-content .requirement1 ul								{  }
.inner11-bg .listing .left-content .requirement ul li							{ width:20%; text-align:center; margin:0; float:left; }
.inner11-bg .listing .left-content .requirement ul li .icon img					{ display:inline-block; text-align:center;  }
.inner11-bg .listing .left-content .requirement ul li .icon						{ text-align:center; }
.inner11_header .logo2 a img													{ height:34px !important;    }
.inner11_header .logo															{ top:20px !important;left:15px !important }		
.inner11_header .inner .buttons													{ width:56%; }
.inner11_header .navigation														{ margin:0 !important; }
.mob_nav .navigation															{ margin:9px 0 0 0 !important; }
.mob_nav1 .navigation															{ margin:9px 0 0 0 !important; }

/*Inner12*/
.inner12-bg .listing .left-content .requirement ul li small						{ left:auto;}
.inner12-bg .table_con ul li label												{ width:100%; }
.inner12-bg .table_con ul li p													{ width:100%; text-align:center; }
.inner12-bg .table_con															{ text-align:center; }
.listing .right-content .availability ul li a small								{ width:100%; }
/*Inner13*/
.inner13-sidebar{ width:100%; border:none;}
.scorll_function{overflow-x: scroll;overflow-y: hidden;}
.message-table{ width:777px;}
.inner13-content{ padding:0px 0px 30px 0;}

.pop_up{ width:95%; padding:25px 0 18px 2%;}
.pop_up ul{ width:95%;}
.pop_up .text_area{ width:93.2%;}
.color_1{ padding:0px 0 12px 0 !important;}
.date_1 .gmail_icon1{right:-5px;}
.scorll_function ul li{ border-right:solid 1px #dedede !important;}

/*ENQUIRY POPUP*/
.enquiry-popup	{width:80%; padding:35px 20px 20px 20px; }
.enquiry-field	{float:none; display:block; }
.enquiry-popup ul li h6	{float:none; display:block; line-height:36px; }
.enquiry-popup ul li .area-field{margin:0 0 5px 0;}

/*Inner14*/
.optional-block			{width:100%; margin:0 0 10px 0; float:none; }
.require-block small	{line-height:24px;}
.optional-block .dd .ddChild{top: 79px !important;}
.dropdown1 .dd			{width: 100% !important;float:none;}
.dropdown2 .dd			{width: 100% !important;float:none;}
.require-block .dd .ddTitle .ddTitleText{padding:5px 0 15px 17px; }
.optional-block h6		{float:none;}
.invited-block .optional-block:nth-child(2){width:100%; float:none;margin:0;}
.require-block			{padding:0 0 13px 0;}
.invited-block .dropdown1 .dd{width: 100% !important;float:none;}
.invited-block			{padding:13px 15px 0 15px;}
.advance-block .first-area .content .field{width:100%;}
.inner1-header .buttons{width:100% !important;}

/*New-Inner1*/
.perth_left{width:100%; float:none; margin:0 0 20px 0;}
.perth_rght{width:100%; float:none;}
.alignment{padding:0 0 0 0;}

/*Inner17*/
.favourite-block ul li .enruiry{width:30%;}
.home-content a.edit{line-height:36px; }


.index-caption .button{width:140px !important;}
.index-bg{padding:0px 0 35px 0;}
.work-section{padding:0 0 0 0; }
.index-bg .button-group{margin:15px 0 0 0;}
.browse-left{width: 100%;}
.browse-section{padding: 20px 0 20px 0;}
/*.gallery-section ul	li{width:48%;}*/
.why-align{padding:0;}
.features-block{padding:0 0 25px 0;}
.features-block ul li{margin: 0 10px 0 0;}
.features-block ul li a img{height: 41px;}
.key-benefit .content:last-child{padding:0 0 30px 0; }
.swap-section .swap{margin:0 0 10px 0 !important; }
.swap-section { text-align:center;}
.browse-head .button{float:left; }
.intro-align{padding:15px 0 0 0; }
.swap-section .box .content ul li .image{float:none; display:inline-block; margin:0;}
.swap-section .box .content ul li h1{text-align:center; }
.swap-section .box .content ul li p{text-align:center; }
.swap-section .box{width:100% !important; }
.key-benefit .box .content ul li .description{width:100% !important; }
.ribbon{right:10px; bottom:10px;}
.index-caption .button{width:150px !important;}
.index-caption .button.green-but{font-size:20px !important; line-height:57px;  min-height:57px; padding-top:0 !important; padding-bottom:0 !important;}

.why-join .inner .box h1{min-height:54px;}
.why-join .inner .box{margin:20px 2.4% 39px 0;}



}


/* -------- Tablet -------- */
@media only screen and (min-width:481px) and (max-width:620px){
#header .logo																	{ top:30px;}
.banner .caption																{ top:37px; left:26px;}
.banner .caption h1																{ font-size:19px; line-height:23px;}
.how-its-work h1																{ font-size:24px; line-height:30px; margin-bottom:20px !important;}
.banner .caption .button														{ padding:8px 20px 9px 21px; width:122px; font-size:19px;}
.banner .caption .more															{ margin:8px 0 0;}
.how-its-work .box .title h1													{ margin-bottom:0px !important;}
#header .inner																	{ margin:18px auto 24px; }
.intro .inner .box																{ width:100%; margin:0 0 30px 0;}
.intro .inner .box .name														{ font-size:21px; margin-bottom:10px;}
.intro .inner .box .place														{ font-size:12px;}
.why-join .inner .box															{ width:100%; margin:35px 0 2px 0;}
.why-join .inner .box .image img												{ margin-bottom:20px !important;}
.navigation																		{ top:117px;}
.key-benefit .box																{ margin-bottom:32px;}
.key-benefit .box .content ul li h1												{ margin-bottom:15px;}
.key-benefit .box .content ul li												{ margin:0 0 23px;}
.key-benefit .box .content ul li:nth-child(2)									{ margin:0 0 23px;}
.key-benefit .box:last-child													{ margin-bottom:20px;}
.inner6_con_top .view															{ position:static; margin:10px 0 0 0; }
.inner6_con_top_lft h3															{ font-size:20px; line-height:20px; }
.inner6_member .dd																{ width:158px !important; }
.inner7_cal ul li:nth-child(2) .inner7_cal_block input							{ padding:5px 3% !important; width:90% !important; }
.inner7_cal ul li .inner7_cal_block input										{ padding:5px 3% !important; width:90% !important; }
.inner7_cal ul li:nth-child(4)													{ top:155px; }
.inner7_upl_top_lft																{ float:none; display:block; width:100%; }
.inner7_add																		{ margin:15px 0; width:100%; }
.inner7_photo																	{ margin:15px 0; width:100%; }
/*Inner9*/
.inner9_con .avlabe																{ left:10px;  }
.inner9_con .box																{ width:100% !important; min-height:450px !important; }
.inner9_con .box:nth-child(odd)													{ margin-right:5% !important;}
.inner9_con .box:nth-child(even)												{ margin-right:0% !important;}
.inner9_con .detail																{ padding:19px 0 37px !important; }
.profile_uplds .inner7_upl_top_lft:nth-child(2)									{ width:100%; margin:20px 0 5px 0;}


.join .content																	{ width:90%; padding:60px 0;}
.join .content h1																{ margin:0 0 12px; font-size:32px;}
#footer .inner .col-one															{ width:100%; margin:0 0 15px 0; padding:0; float:none; display:block; }
#footer .inner .col-two															{ width:100%; margin:0 0 0 0; padding:0; float:none; display:block; }
#footer .inner .col-three														{ width:100%; margin:15px 0 15px 0; padding:0; float:none; display:block; }
#footer .inner .col-four														{ width:100%; margin:15px 0 15px 0; padding:0; float:none; display:inline-block; }

.gallery-section ul li	{ width:100% !important; margin:0; }


}

@media only screen and (max-width:599px){
.side-icons																		{ display:none; }	
.listing .content .header-main .right .contact-status							{ padding:0 8px 0 0; }
.listing .content .header-main .right .social-icons								{ padding:0 10px 0 10px; }
.listing .content .header-main .right .fav										{ position:static !important; margin:0 0 0 7px; float:left;}
.inner9_con .box .detail .msg_bg												{ bottom:-114px; }
/*Inner11*/
.inner11-bg .listing .left-content .highlights ul li							{ float:none; display:block; text-align:center; border:0; width:150px; margin:0 auto 15px;  }
.inner11-bg .listing .left-content .more-features ul.two						{ width:100%;}
.inner11-bg .listing .left-content .more-features ul							{ width:100%;}
.inner11-bg .listing .left-content .nearby-facility ul							{ width:100%; margin-bottom:0; }
.inner11-bg .bx-wrapper .bx-next												{ background-size:cover; width:30px; height:28px; left:33px;  }
.inner11-bg .bx-wrapper .bx-prev												{ background-size:cover; width:30px; height:28px; }
.inner11-bg .bx-wrapper .bx-caption span										{ padding:1px 10px; }
.slidecount																		{ bottom:6px; font-size:13px; }
.inner11-bg .bx-wrapper .bx-caption span										{ font-size:13px; }
.inner11-bg .highlights															{ width:100% !important; }
.inner11-bg .listing .right-content .availability .to{    margin: 0 10px;}
.inner11-bg .listing .left-content .requirement1 ul								{  text-align:center; }
.inner11-bg .listing .left-content .requirement ul li							{ width:180px; text-align:center; margin:0 0 15px 0; min-height:70px;  }
#slide-counter																	{ bottom:6px; left:80px; }
/*Inner12*/
.inner12-bg .listing .left-content .requirement ul li small						{ right:60px; }
.inner7_block1_rgt ul li a														{ display:none !important; }
/*Inner13*/
.inner13{width: 96%;}
.find-house{padding: 22px 0 18px 4%;}
.find-house	ul li{width: 95%;}
.pop_up span{ font-size:13px;}
.pop_up ul li{ font-size:15px;}

/*ENQUIRY POPUP*/
.enquiry-popup{padding:40px 20px 20px 20px; }
.enquiry-popup h2{font-size:24px; line-height:24px; }
.enquiry-field{width: 205px;}
.enquiry-popup ul li .filed-area{height:80px;}
.enquiry-popup ul li h6{line-height:18px; font-size:15px; padding:5px 0 0 0; }


.advance-require .chk-block label { width: 80%;   display: inline-block}
.advance-require .icheckbox_square-red	{margin:5px 0 0 0; }

.refine_search{padding:25px 0 0 0; }
.sort1{width:100%; float:none; box-sizing:border-box; }
.displaying_top_lft ul{ float:none; margin:10px 0 0 0;}
.displaying_top_lft{width:100%;}
.west_aust span{float:none; width:100%; padding:5px 0 5px 0; }
.west_aust_rght{float:none; width:100%; }
.view_home_left{width:100%; margin:0; padding:0;}
.just_listed1_rght{margin:9px 5px 0 0; }
.just_listed1_rght a strong{    left: auto;   right: 0;}
.just_listed1_rght a strong:after{right:3px; left:auto;}

/*Inner15*/
.inner15{}
.unreaded-msg{font-size:20px; }
.inner15-main{margin:0;}
.home-detailes{padding:0 0 10px 0;}
.home-detin	{padding:10px;}
.home-pic{width:200px; float:none; margin:0 0 10px 0; }
.home-content{width:100%; float:none; }
.scroll-div{overflow:hidden; overflow-x:scroll; }
.scroll-div > ul{width:650px;}
.house-destination{width:100%; float:none; margin:0 0 20px 0; }
.house-news{width:100%; float:none; }


.index-caption{position:static !important; background:#71C5D3; padding:15px 10px !important; width:100% !important; box-sizing:border-box; }
.banner .caption.index-caption .button{width:150px !important; } 
.banner .caption.index-caption .button.green-but{text-align:center; }
.features-block ul li{float:none; margin:0 0 10px 0; width:32%;}
.features-block{padding:0;}
.swap-section .swap{font-size:20px; margin:0 !important;  }
.index-bg .content h1{font-size:20px; line-height:20px; }
.index-bg .content p{font-size:16px; line-height:20px; margin:0 0 15px 0; }
.work-section ul li h2{font-size:18px; }
.work-section ul li p{font-size:16px; line-height:20px; }
.index-bg .button-group .button{padding:8px 40px;}
.browse-left h2{font-size:20px; line-height:20px;margin:0 0 12px 0px;}
.browse-left p{font-size:14px; line-height:20px; }
.browse-head .button{padding:8px 40px;font-size:20px; line-height:20px;}
.gallery-section ul	li{width:100%; margin:0 0 10px 0;}
.why-join .inner h1{font-size:20px; line-height:20px;margin:0 0 12px 0px; }
.why-join .inner p{font-size:14px; line-height:20px; }
.features-block ul li{width:45%;}
.key-benefit .content h1{font-size:20px; line-height:20px; }
.features-block ul{padding:0 0 10px 0;}



.none-m{display:none; }
.swap-section h1	{font-size:20px !important;}
.swap-home3 .box .content ul li .image{float:none; width:32% !important;}
.swap-home3 .box .content ul li .description{width:100% !important; }
.swap-home3 .box .content ul li p{font-size:13px; line-height:18px; }
.swap-section .box .content ul li .description{width:100% !important;}
.index-caption .button.green-but{line-height:49px; min-height:49px; }
.key-benefit .box .title{text-align:center;}

.banner .caption.index-caption .button{ margin:0 auto 10px !important; min-height:30px !important; line-height:30px !important; }
.banner .caption.index-caption h1{text-align:center; }
.why-join .inner .box h1{min-height:inherit;}
}

/* -------- Tablet -------- */
@media only screen and (max-width:480px){
#header .inner																	{ margin:15px auto 15px; }
#header .logo																	{ text-align:center; position:static; float:none; }	
.logo a																			{ float:none; }
.logo img																		{ width:100px; height:auto; }
.click-me																		{ top:auto; bottom:0; left:0; }
#header .right-section															{ padding:10px 0 0 0; }
#header .inner .buttons .button													{ float:none; width:90%; margin:0 auto 10px; display:inline-block; }
#header .inner .buttons															{ width:100%; float:none; }
.navigation																		{ top:186px;}
.inner_nav9																		{ top:168px !important;}
.banner .caption h1 br															{ display:none; }
.banner .caption h1 															{ font-size:16px; line-height:22px; }
.banner .caption .button														{ padding:8px 20px 9px 21px !important; width:90px !important; font-size:13px !important; display:block; float:none !important; }
.inner9box_in h3 a{display:block; width:70px; margin:0 auto;  }
.listing .content .header-main .right .fav								{ right:9%; }
.banner																			{ min-height:inherit; padding:0 0 0 0; }
.banner .caption																{ min-height:inherit !important;  width:96%; min-height:inherit !important; padding:0 2% 0 2%; top:15px; left:0; }
.how-its-work h1																{ font-size:24px; line-height:30px; margin-bottom:20px !important;}
.banner .caption .button														{ padding:8px 20px 9px 21px; width:122px; font-size:19px;}
.banner .caption .more															{ margin:8px 0 0;}

.banner .caption p																{ display:none;}
.how-its-work h1																{ font-size:24px; line-height:30px; margin-bottom:20px !important;}
.how-its-work .box .title h1													{ margin-bottom:0px !important;}
.intro .inner .box																{ width:100%; margin:0 0 30px 0;}
.intro .inner .box .name														{ font-size:21px; margin-bottom:10px;}
.intro .inner .box .place														{ font-size:12px;}
.why-join .inner .box															{ width:100%; margin:10px 0 2px 0;}
.why-join .inner .box .image img												{ margin-bottom:20px !important;}
.inner9_nam_id																	{ width:93%; margin:0;}
.browse-property .location-search .input-two input.two							{ width:65% !important;}


.key-benefit .box																{ margin-bottom:32px;}
.key-benefit .box .content ul li h1												{ margin-bottom:15px;}
.key-benefit .box .content ul li												{ margin:0 0 23px;}
.key-benefit .box .content ul li:nth-child(2)									{ margin:0 0 23px;}
.key-benefit .box:last-child													{ margin-bottom:20px;}

.join .content																	{ width:90%; padding:60px 0;}
.join .content h1																{ margin:0 0 12px; font-size:24px;}
.join .content p																{ font-size:14px; margin:0 0 18px;}
.join 																			{ background-size: auto auto;}
/*Inner1*/
.browse-property																{ padding:0 0 39px; }
.first-area																		{ margin:0 0 5px; }
.search-result .inner .view-list .button-group									{ width:90%; }
#main-container .inner															{ padding:20px 0 0;}
.search-result .box .detail .more-detail .msg									{ left:0; }
.search-result .box																{ min-height:420px; }
.search-result .inner .view-list .button-group .button							{ width:100%; padding:10px 0; }
.search-result .inner h1														{ display:block; float:none; margin:0 0 5px 0; }
.search-result .inner a.tag														{ display:inline-block; width:96%; float:none; }
.search-result .inner .sort-section .select										{ position:static; width:92%;  margin:15px 0 0px 0;}
.sbHolder																		{ float:right; }
.search-result .inner .sort-section .tab										{ border:none; float:none; border-radius:0; }
.search-result .inner .sort-section .tab a										{ width:75%; }
.search-result .inner .sort-section .tab a.left									{ padding-left:20% !important; border-radius:25px; }
.search-result .inner .sort-section .tab a.right								{ padding-left:20% !important; border-radius:25px; margin:10px 0 0; }		
.search-result .inner a.tag:last-child											{ margin:0 6px 6px 0; }
.search-result .main															{ margin:20px 0 0; }
.search-result .join-us															{ min-height:100px; }
/*Inner2*/
.listing .content														{ padding:0 0 10px 0; }
.listing .left-content .image-gallery									{ margin:0 0 20px; }
.listing .left-content .requirement									{ padding:10px 0 0; }
.listing .left-content .requirement ul li								{ float:none; width:100%; margin:0 0 10px 0; text-align:left; }
.listing .left-content .highlights ul li								{ float:none; width:100%; margin:0 0 10px 0; text-align:left;  }
.listing .content .header-main .right .status							{ float:none; display:block; margin:0 0 5px 0;  }
.listing .left-content .more-features ul								{ float: none; margin: 0; width: 100%;}
.listing .left-content .more-features ul.two							{ width:100%; }
.listing .left-content .nearby-facility								{ margin-bottom: 10px;}
.listing .left-content .nearby-facility ul								{ width:100%; margin:0; }
.search-result .inner .tags ul li{display:inline-block; float:left; margin:0 0 0 0; width:100%; }

.listing .left-content .section										{ width:96%; margin:0 2%0 18px 2%;  }
.listing .left-content .join .button									{ padding:13px 5% 7px 5px; font-size:16px; }
.listing .right-content .availability .date							{ font-size:15px; }
.listing .right-content .profile-section								{ padding:15px 0 0; }
.listing .left-content .requirement ul li .icon						{ text-align:left; }
.back-to-top																	{ right: 20px; background-size:30px 30px; width:30px; height:30px; bottom:106px; }
.listing .right-content .profile-section .inner form textarea			{ min-height:50px; }
/*Inner3*/
.inner3_ban_lft h2																{ font-size:24px; line-height:24px; padding:0 0 15px; }
.inner3_ban_lft p																{ padding:0 0 15px; }
.inner3_main_top																{ padding:20px 0; }
.inner3_main_lft																{ margin:0 auto -50px; }
.inner3_main_rgt h2																{ font-size:24px; line-height:24px; padding:11px 0 15px; }	
.inner3_main_rgt ul li .lft_con { width: 100%; float:none; }
.inner3_main_rgt ul li															{ margin:0 0 15px 0; }
.inner3_main_grt .buton															{ width:100%; padding:10px 0 11px; }
.inner3_main_rgt																{ width:94%; display:block; margin:0 auto; float:none !important; }
.inner3_main_rgt ul li .rgt_con													{ width:100%; float:none; display:block; text-align:center; margin:0 0 10px 0; }
.inner3_main_rgt ul li h3														{ text-align:center; }
.inner3_main_rgt ul li p														{ text-align:center; }
.inner3_main_cen .inner3_main_rgt ul li .rgt_con								{ width:94%; display:block; margin:0 auto; float:none !important; }
.inner3_main_lft .home_img														{ margin:25px 0 0 0; }
.inner3_main_lft .gen_lady														{ margin:0 0 0 0; padding:0; }
.inner3_main_lft .gi_dog														{ margin:0 0 0 0; }
.inner3_main_cen .inner3_main_lft												{ margin:0 auto -50px; }
.inner3_main .intro																{ padding:30px 0; }
.inner3_ban_rgt img																{ width:80%; }
.inner5_main_lft h4 em															{ width:94%; }
/*Inner6*/
.inner6_con_top .view															{ top: 43px}
.inne_butn																		{ padding:12px 0% !important; margin:10px 0 6px 10px !important; }
.resent																			{ width:100% !important; }
.administ h2																	{ padding:0; left:0; width:100%; text-align:center; top:5px; }
.button-green_ad																{ margin:12px 7px 0 0 !important; }
.resent_message	h2																{ padding:20px 0 20px 0; font-size:25px; line-height:25px; }
.inner6_con_top .view															{ position:static; float:none; }
.inner6_con_top_lft a															{ margin:8px 0 7px 0; }
.inner6_con_top_lft h4 a														{ float:none; }
.inner6_con_top_lft h3 em														{ padding:10px 0 0 0; display:block; float:none;  }
.inner6_con_top_lft h4 em														{ padding:10px 0 0 0; display:block; float:none; }	
.inner6_con_block1_rgt a														{ padding:10px 0% 10px; margin:0; }
.inner6_con_block1_rgt ul li .button											{ padding:5px 0; }
.inner6_con_block1																{ padding:0 0 5px 0; }
.inner6_member label															{ float:none; display:block; text-align:left; }
.inner6_con_top_lft a															{ float:none; }
.inner6_member .dd																{ float:none; display:block; margin:18px 6px 10px 0; }
.inner6_member .update															{ float:none; display:block; margin:0 0 10px; }	
.inner6_con_top .tog_icon														{ right:0; }
.inner6_con_top_lft h3															{ float:none; display:block; }
.inner6_con_top_lft																{ float:none; display:block; }
.inner6_member																	{ display:block; margin:10px 0 0; }
/*Inner7*/
.inner7_main_top h2																{ font-size:24px; line-height:24px; }
.inner7_main_top																{ padding:0 0 20px; }
.inner7_cal ul li .inner7_cal_block span										{ padding:3px 0 0 3%; }
.inner7_cal ul li:nth-child(2) .inner7_cal_block input							{ padding:5px 3% !important; width:90% !important; }
.inner7_cal ul li .inner7_cal_block input										{ padding:5px 3% !important; width:90% !important; }
.inner7_cal ul li:nth-child(4)													{ top:155px; }
.inner7_block1_rgt .nxt															{ padding:5px 8.5% 5px; font-size:16px; margin:10px 0 0; }
.inner7_facilities label														{ width:90% !important; }
.inner7_upl_top_lft																{ float:none; display:block; width:100%; }
.inner7_add																		{ margin:15px 0; width:100%; }
.inner7_photo																	{ margin:15px 0; width:100%; }
.administ .navigation															{ top:109px; }
.administ .navigation ul li														{ float:none; display:block; text-align:center; margin:0; padding:0; }
.administ .navigation ul														{ padding:5px 0;}
.administ .navigation ul li	a													{ padding:5px 0; margin:0; }
/*Inner9*/
.inner9_con .avlabe																{ top:-20px; left:2%; width:110px !important; background-size:100% 100% !important;}
.inner9_con .box																{ width:100% !important; min-height:450px !important; }
.inner9_con .box:nth-child(odd)													{ margin-right:5% !important;}
.inner9_con .box:nth-child(even)												{ margin-right:0% !important;}
.inner9_con .detail																{ padding:10px 0 13px !important; }
.inner9_con .content_con														{ margin:15px 0 -12px 5px !important; }
.profile_uplds .inner7_upl_top_lft:nth-child(2)									{ width:100%; margin:20px 0 5px 0;}
.inner9_con .box .detail .msg_bg												{ bottom:-130px; }
.search-result .box .detail .msg_bg9											{ bottom:-123px !important; }
.browse-property .location-search .input input									{ font-size:16px; width:65% !important;}

.popup2 .inner4_main_lft ul li label{width:80%; padding:5px 0 0 8px; }
/*Footer*/
#footer .inner .col-one															{ width:100%; margin:0 0 15px 0; padding:0; float:none; display:inline-block;  }
#footer .inner .col-two															{ width:100%; margin:0 0 0 0; padding:0; float:none; display:inline-block;  }
#footer .inner .col-three														{ width:100%; margin:15px 0 15px 0; padding:0; float:none; display:inline-block;  }
#footer .inner .col-four														{ width:100%; margin:15px 0 15px 0; padding:0; float:none; display:inline-block; }
#footer .copyright .credit														{ text-align:center; display:block; }
#footer .copyright																{ text-align:center; }
#footer .copyright p															{ float:none; padding:0; }
#footer .polacys																{ float:none; width:100%; }
#footer .polacys a																{ display:block; float:none; margin:0 0 5px 0; }
#footer .copyright .divider														{ display:none; }

.search-result .box .detail .more-detail .msg small{position:absolute; top:0px; right:70px; color:#fff; font-size:18px; padding:5px; cursor:pointer; z-index:9999;  }
.mob_nav .navigation															{ margin:19px 0 0 0 !important; }
.mob_nav .navigation															{ margin:19px 0 0 0 !important; }
.mob_nav1 .navigation															{ margin:9px 0 0 0 !important; }

.display-adjust																	{ right:2px;  }
.inner7_block1_rgt ul li label.q-mark											{ width: 80% !important; }
.inner7_block1_rgt ul li a														{ display:none !important; }

.bx-viewport li	{ height:160px; }
.bx-viewport li img	{ height:160px; }

/*Inner-15*/
.unreaded-msg{font-size:15px; line-height:32px; background-size:25px auto; padding:0 0 0 40px; background-position:8px center; }
.inner11_header .navigation{padding:0 0 0 10px;}

.swap-section h1	{font-size: 17px !important;}
}


@media only screen and (max-width:320px){
.banner																			{ min-height:auto;}
.banner .caption																{ top:10px; left:0;}
.how-its-work h1																{ font-size:24px; line-height:30px; margin-bottom:20px !important;}
.banner .caption .button														{ padding:8px 20px 9px 21px; width:90px; font-size:13px;}
.banner .caption .more															{ margin:0px 0 0;}
.banner .caption p																{ display:none;}
.how-its-work h1																{ font-size:24px; line-height:30px; margin-bottom:20px !important;}
.how-its-work .box .title h1													{ margin-bottom:0px !important; font-size:20px;}
.how-its-work .box .content ul li h1											{ font-size:18px;}
.how-its-work .box-two .title h1												{ font-size:18px;}
.intro .inner .box																{ width:100%; margin:0 0 30px 0;}
.intro .inner .box .name														{ font-size:21px; margin-bottom:10px;}
.intro .inner .box .place														{ font-size:12px;}
.why-join .inner .box															{ width:100%; margin:35px 0 2px 0;}
.why-join .inner .box .image img												{ margin-bottom:20px !important;}

.key-benefit .box .title h1														{ font-size:19px;}
.key-benefit .box																{ margin-bottom:32px;}
.key-benefit .box .content ul li h1												{ margin-bottom:15px; font-size:18px;}
.key-benefit .box .content ul li												{ margin:0 0 23px;}
.key-benefit .box .content ul li:nth-child(2)									{ margin:0 0 23px;}
.key-benefit .box:last-child													{ margin-bottom:20px;}
.join .content																	{ width:90%; padding:60px 0;}
.join .content h1																{ margin:0 0 12px; font-size:24px;}
.join .content p																{ font-size:14px; margin:0 0 18px;}

#footer .inner, #footer .content												{ width:90%;}


#footer .inner .col-one															{ width:100%; display:inline-block; }
#footer .inner .col-two															{ width:100%;display:inline-block; }
#footer .inner .col-three														{ width:100%;display:inline-block; }
#footer .inner .col-four														{ width:100%;display:inline-block; }
.inner9_con .box .detail .msg_bg												{ bottom:-133px; }



}

@media only screen and (max-width:960px){
.stikky{position:fixed; top:0px; }	
}
@media only screen and (max-width:479px){
.navigation																		{ top:158px;}
.inner11-bg .listing .left-content .requirement1 ul								{ width:100%; margin:15px auto 0; float:none; display:block;  }
.inner11-bg .listing .left-content .requirement1 ul li							{ float:none; display:block; margin:0 auto; }

.error-required																	{ font-size:9px; }
/*Inner13*/
.inner13-content h2{font-size: 21px;}
.pad_1{padding: 0 0 40px 0 !important;}
.pop_up{width: 90%;padding: 25px 3% 18px 3%;}
.scorll_function ul li{border-right: solid 1px #dedede !important;}
.inner1-header .navigation{top:111px;}

.banner .caption.index-caption .button{ margin:0 auto 10px !important; min-height:30px !important; line-height:30px !important; }
.banner .caption.index-caption h1{text-align:center; }
 }
@media only screen and (max-width:1200px){
.thumbs #bxslider-pager li{width:56px !important;}
.thumbs{width:60px !important;}
.thumbs #bxslider-pager li{padding:2px;}
.thumbs li.active img {outline: solid 2px #71c5d3 !important;}
.thumbs li img{width:100%; }
.inner12-bg.new-profile .header-main .right{width:43% !important;}
.orlence{width:80%;}
.oeleans-features ul li span{width:86%;}
 }
@media only screen and (max-width:992px){
.sliders{width:80%;}
.thumbs #bxslider-pager li{  padding:0 !important; }	
.thumbs #bxslider-pager li img{height:35px !important;}	
.thumbs .bx-wrapper .bx-prev{width:25px; height:25px; background-size:25px auto; left:13px;    top: 15px !important;}
.thumbs .bx-wrapper .bx-next{width:25px; height:25px; background-size:25px auto; bottom:-30px !important; left:13px; }
.bath-icons ul li{padding: 0 8px 0 8px;}
.bath-icons ul li img{width:auto; height:20px;}
.orlence{width: 78%;}
.oeleans-features ul li span{width:80%;}
.oeleans-features ul li{width:100%;}
.but-block ul li a{width:200px; font-size:20px; line-height:20px; padding:20px 0; }
.listing .right-content .section h1{padding:15px 10px; box-sizing:border-box; }
.oeleans-nav ul	li a{font-size:16px; }
 }
@media only screen and (max-width:767px){
.sliders{width:83%; }
.inner12-bg.new-profile .header-main .right{width:100% !important;}
.email-icon{float:left; margin:3px 0 0 10px;}
.property-details ul li{padding:14px 0 14px 16px; }
.introduction-section{padding:0;}
.oeleans-section h4{padding:0 0 10px 0; }
.introduction-section{padding:0 0 15px 0;}
.oeleans-features{padding:15px 0; }
.our-intro p{padding:0 0 15px 0; }
.oeleans-section{padding:20px 15px 5px 15px; }
.oeleans-benefits .oeleans-features ul li{margin:0 0 20px 0; }


.layer										{width:100%; height:100%; background:rgba(229, 102, 51, 0.46); position:fixed; right:-100%; top:0;transition:all ease-in-out .5s; -moz-transition:all ease-in-out .5s; -ms-transition:all ease-in-out .5s; -o-transition:all ease-in-out .5s; -webkit-transition:all ease-in-out .5s; z-index:9;}
.open-menu .layer							{right:0;transition:all ease-in-out .5s; -moz-transition:all ease-in-out .5s; -ms-transition:all ease-in-out .5s; -o-transition:all ease-in-out .5s; -webkit-transition:all ease-in-out .5s;}
 }
@media only screen and (max-width:599px){
.orlence	{width:100%; }
.orlence-icon{float:none; margin:10px 0 0 0;}
.inner12-bg.new-profile .header-main .right{margin:0 !important;}
.listing .container{padding:20px 0 0 0;}
.thumbs{display:none;}
.sliders{width:100%;}
.email-icon{margin:3px 0 0 0;}
.but-block ul li a{padding:15px 0; font-size:18px; }

}

