@CHARSET "UTF-8";
.sbHolder{
	background-color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	position: relative;
	width: 135px;
	float:left;
}
.sbHolder:focus .sbSelector{
	
}
.sbSelector{
	display: block;
	left: 0;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
	width: 170px;
	color:#000000;
	font-size:14px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
	color: #000000;
	outline: none;
	text-decoration: none;font-size:14px; line-height:23px;
	width:auto;
	top:-3px;
}
.sbToggle{
	background: url(../images/arrow_down.png) 100% 6px no-repeat;
	display: block;
	height: 30px;
	outline: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}
.sbToggle:hover{
	background: url(../images/arrow_down.png) 100% 6px no-repeat;
}
.sbToggleOpen{
	background: url(../images/arrow_down.png) 100% 6px no-repeat;
}
.sbToggleOpen:hover{
	background: url(../images/arrow_down.png) 100% 6px no-repeat;
}
.sbHolderDisabled{
	background-color: #3C3C3C;
	border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{
	
}
.sbHolderDisabled .sbToggle{
	
}
.sbOptions{
	background-color: #ffffff;
	list-style: none;
	right: -11px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 28px !important;
	width: 219px;
	color:#000000;
	font-size:14px;
	z-index: 1;
	overflow-y: auto;
}
.sbOptions li{
	padding: 0 7px;
}
.sbOptions a{
	border-bottom: dotted 1px #dbdbdb;
	display: block;
	outline: none;
	padding: 15px 0 15px 3px;
	text-align:center;
}
.sbOptions a:link, .sbOptions a:visited{
	color: #5c5c5c;
	text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
	color: #EBB52D;
}
.sbOptions li.last a{
	border-bottom: none;
}
.sbOptions .sbDisabled{
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
	border-bottom: dotted 1px #515151;
	color: #EBB52D;
	display: block;
	font-weight: bold;
	padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
	padding-left: 17px;
}