.error-required{
	display:none;
    background: url("../images/error_msg.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #fff;
    float: left;
    height: 22px;
    line-height: 11px;
    padding: 10px 10px 0px 10px;
	margin-bottom: 1px;
	cursor:pointer;
	clear:right;
	position:absolute; top:-29px; left:0; z-index:99999; 
} 

.error-email{
	display:none;
    background: url("../images/error_msg.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    color: #fff;
    float: left;
    height: 22px;
    line-height: 11px;
    padding: 10px 10px 0px 10px;
	margin-bottom: 1px;
	cursor:pointer;
	clear:right;
	position:absolute; top:-29px; left:0; z-index:99999; 
} 








