@font-face {
  font-family:'Novecentosanswide-Normal-webfont';
  src: url('Novecentosanswide-Normal-webfont.woff') format('woff'),
       url('Novecentosanswide-Normal-webfont.ttf')  format('truetype'),
       url('Novecentosanswide-Normal-webfont.eot?#iefix') format('embedded-opentype'),
       url('Novecentosanswide-Normal-webfont.svg#Novecentosanswide-Normal-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'Bebas';
  src: url('Bebas.woff') format('woff'),
       url('Bebas.ttf')  format('truetype'),
       url('Bebas.eot?#iefix') format('embedded-opentype'),
       url('Bebas.svg#Bebas') format('svg');
  font-weight: normal;
  font-style: normal;
}