﻿.btmjoin_form ul li {
    margin-bottom: 6px;
}

/*#signInForm ul li {
    position: relative;
}
#signInForm label {
    bottom: 49px;
}*/

.modal-body form ul li:first-child label.error {
    left: 30px;
}

.modal-body span.form-error {
    color: red;
    font-size: 16px;
    text-align: left;
    margin-bottom: 6px;
}

.tipsy-inner {
    font-size: 12px;
    padding: 10px;
    line-height: 14px;
}

#footer p {
    text-align: left;
}

.no-border { border:none !important;}

#signInForm ul li {
    position: relative;
}

#signInForm ul li label.error {
    top: -62%;
    left: 0;
}

.topmbmbrshp_sec p {
    font-size: 20px;
}

.mbmbrshplisted_sec ul li p {
    width: 95%;
}

.latstlist_block:before {
    background: none;
}

.searchbar {
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align:center;
    z-index: 999;
    font-family: Roboto, "sans-serif";
}

    .searchbar h1 {
        font-size: 45px;
        line-height: 60px;
        color: #fff;
        font-weight: 600;
    }

.searchbar form {
    display: inline-block;
    width: auto;
    margin: 20px auto 60px;
}

.searchbar form input[type=text] {
    padding: 0 15px;
    width: 500px;
    height: 56px;
    line-height: 56px;
    font-size: 15px;
    color: #000;
    float: left;
    border: none;
    font-weight: 400 !important;
}

.searchbar form input[type=submit] {
    padding: 0;
    width: 165px;
    height: 56px;
    line-height: 56px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    float: left;
    border: none;
    background: #ff6326;
}

@media screen and (max-width: 767px) {
    .searchbar {
        max-width: 600px;
    }
    .searchbar form input[type=text] {
        width: 435px;
    }
}

@media screen and (max-width: 599px) {
    .searchbar h1 {
        line-height: 45px;
    }
    .searchbar {
        max-width: 480px;
    }
    .searchbar form input[type=text] {
        width: 315px;
    }
}

@media screen and (max-width: 479px){
    .searchbar h1 {
        font-size: 30px;
    }
    .searchbar {
        max-width: 360px;
    }
    .searchbar form input[type=text] {
        width: 250px;
    }
    .searchbar form input[type=submit] {
        width: 90px;
        letter-spacing: 0;
    }
}

@media screen and (max-width: 359px){
    .searchbar h1 {
        font-size: 26px;
        line-height: 36px;
    }
    .searchbar {
        max-width: 300px;
    }
    .searchbar form input[type=text] {
        width: 190px;
    }
}