@charset "utf-8";
/* CSS Document */

@media ( max-width:1722px){
.bnnr_inn       { width: 95%;}
.hdrbtm_inn     { width: 95%;}    
}

@media ( max-width:1485px){
.bnr_leftsec    { width: 40%; padding: 20px; bottom: 100px;}
.bnr_leftsec h1    { font-size: 40px; line-height: 45px;}
}

@media ( max-width:1485px){
.bnr_leftsec    { width: 50%; padding: 20px; bottom: 100px;}    
}
    
@media ( max-width:1354px){
.container					{ padding:0 2%; box-sizing:border-box;  -moz-box-sizing:border-box; -webkit-box-sizing:border-box; width:96%;}
.work_block                 { width: 370px; height: 370px;}  
.feature_sec ul li          { margin: 0 30px 30px 0;}
.choose_sec ul li .chs_listcrclesec { width: 380px; height: 380px;} 
.topmbmbrshp_sec h1          { font-size: 50px; line-height: 55px;}    
.activatembmbr_inn           { width: 80%;}  
.mbmbrshplisted_sec ul li p     { padding: 0 0 0 10px; width: 90%;}   
.mbmbrshplisted_sec ul li p br  { display: none;} 
.lefthdrbtm_logo a img          { width: 350px;}    
}

@media ( max-width:1140px){
.bnr_leftsec                    { width: 70%; left: 20px;} 
.bnrright_tag a img             { height: auto;}
.work_block                     { width: 310px; height: 310px;}    
.wrk_inn .img_sec::before       { font-size: 120px !important; line-height: 120px !imortant; left: 40px !important; } 
.wrk_inn p                      { padding: 0 30px;} 
.righthdrbtm_nav .navbar-nav li {margin-right: 10px;}   
.join_sec a                     { width: 150px; padding: 10px 0; font-size: 14px;}    
.join_sec a em                  { font-size: 12px;}    
.righthdrbtm_nav .navbar        { margin: 20px 10px 0 0;}   
.para_sec p                     { padding: 0 50px 50px 50px; }  
.right_cmnty p                  { font-size: 50px; line-height: 60px; }
.right_cmnty .learnmore a       { width: 200px;}
.choose_sec ul li .chs_listcrclesec { width: 320px; height: 320px; } 
.latstlist_block .ltstlist_btm      { padding: 18px 13px;}  
.latstlist_block .ltstlist_btm h3   { font-size: 20px; line-height: 25px; }
.choose_sec ul li .chs_sec .chs_cntnt   {width: 80%;}
.backtop_arrow                          { bottom: 10px;  top: inherit;} 
.bnr_leftsec h1                         { padding-bottom: 8px;} 
.bnr_leftsec p                          { padding-bottom: 20px;}    
.lefthdrbtm_logo a img			{ width:320px;}
.bnr_leftsec					{ bottom:65px;}
}

@media ( max-width:950px){
.wrk_inn                        { width: 100%;} 
.work_block                     { width: 210px; height: 210px;}   
.wrk_inn .img_sec               { margin-bottom: 10px;} 
.wrk_inn p                      { font-size: 14px; line-height: 20px;} 
.wrk_inn .img_sec img           { width: 50px;}
.wrk_inn span                   { padding-bottom: 10px;}  
.wrk_inn .img_sec::before       { font-size: 60px !important; line-height: 60px !important; top: 0px !important; left: 45px !important;}
.howwork_cntnt h2               { font-size: 40px; line-height: 45px; padding-bottom: 20px;}  
.howwork_cntnt p                { font-size: 18px;}    
.howwork_cntnt                  { padding: 40px 0;}  
.howwork_cntnt p                { padding-bottom: 30px;}  
.right_cmnty p                  { font-size: 35px; line-height: 40px;}
.lefthdrbtm_logo a img          { width: 195px;}
.stickyhdrbtm_logo a img        { width: 195px;}
.righthdrbtm_nav .navbar-nav li a   { font-size: 15px;}   
.righthdrbtm_nav .navbar-nav li     { margin-right: 8px;} 
.right_cmnty .learnmore a           { width: 150px;}  
.choose_sec ul li .chs_listcrclesec { width: 250px; height: 250px;} 
.rcmnd_right p                      { font-size: 30px; line-height: 40px;} 
.rcmnd_right em                     { padding-bottom: 40px;}  
.choose_sec ul li p                 { font-size: 15px; line-height: 20px;}    
.choose_sec ul li .chs_sec .chs_cntnt   { width: 75%;}
.rcmnd_right .learnmore a              { width: 200px;} 
.learnmore a                            { width: 200px;}  
.choose_sec ul li .chooseimg_sec        { margin-bottom: 10px;}  
.choose_sec ul li span                  { padding-bottom: 10px;} 
.ftr_social ul li                       { margin-right: 10px;} 
.wrk_inn p                              { padding: 0 20px; font-size: 15px; line-height: 18px;}  
.holiday_blockcntnt h2                  { font-size: 40px; line-height: 50px; padding-bottom: 15px;} 
.holiday_blockcntnt p                   { padding-bottom: 20px; font-size: 18px; line-height: 25px;}   
.holiday_blockcntnt .learnmore a        { width: 200px;} 
.navbar-nav                             { margin: 0;} 
.navbar-default .navbar-collapse, .navbar-default .navbar-form  { border: 0 !important; position: relative; z-index: 2;}  
.righthdrbtm_nav .navbar                { margin: 10 10px 0 0;}   
.join_sec a                             { padding: 6px 0;}
.righthdrbtm_nav .navbar-nav li:last-child a    { padding-right: 10px;}
.righthdrbtm_nav .navbar-nav li:last-child a .fa    { padding-right: 8px;} 
.community_sec .container                           { padding: 120px 0;}  
.joinform_sec                                   { width: 100%;}
.topjoin_form ul li                             { margin: 0 15px 15px 0; width: 48.4%;}  
.btmjoin_form ul li:nth-child(3)                { width: 48.9%; margin-right: 15px;}  
.banner_wrpr img                                { height: 500px;}
.bnrright_tag                                   { width: 150px; height: 150px; background-size: 100%;} 
.latstlist_block .ltstlist_btm p 	            { padding-bottom: 80px; margin-bottom:30px;}
.bnr_leftsec h1					                { font-size:38px;}
.bnrright_taginn h2                             { font-size: 18px; line-height: 18px; padding-bottom: 2px;} 
.bnrright_taginn p                              { font-size: 10px; line-height: 14px; padding-bottom: 2px;}   
.topmbmbrshp_sec h1                             { font-size: 40px; line-height: 45px;}    
.activatembmbr_inn                              { width: 90%;}
.modal-dialog                                   { width: 85%;}
.lefthdrbtm_logo                                { margin: 8px 0 0;}    

} 

@media ( max-width:767px){  
.work_block                             { width: 400px; height: 380px; }  
.righthdrbtm_nav .navbar-right          { width: 100%;}
.work_block                             { margin: 0 auto 20px;}  
.wrk_inn .img_sec::before               { font-size: 100px !important; line-height: 100px !important; top: -10px !important; left: 75px !important;}    
.holiday_sec                            { min-height: 600px;}   
.holiday_blockcntnt                     { margin: 100px 0 0}  
.left_cmnty                             { margin-bottom: 20px;}
.community_sec .container               { padding: 100px 0;}   
.para_sec .container                    { padding: 80px 0;} 
.choose_sec ul li                       { display: block; margin: 0 auto 20px; width: 400px; height:380px;}
.choose_sec ul li .chs_listcrclesec     { width: 400px; height:380px;}    
.latstlist_block .ltstlist_btm          { height: auto !important;} 
.footer_block                           { margin-bottom: 20px;}  
.ftr_social ul                          { padding: 0 0 10px 0;}
.latest_listsec .container              { padding: 50px 0;}
.latest_listsec h2                      { padding-bottom: 10px;}
.latest_listsec p                       { padding-bottom: 50px;} 
.holiday_blockcntnt                     { width: 100%;} 
.feature_sec h2                         { font-size: 40px; line-height: 40px;} 
.choose_sec h2                          { font-size: 40px; line-height: 40px;}
.latest_listsec h2                       { font-size: 40px; line-height: 40px;}
.rcmnd_left                             { margin-bottom: 20px;}    
.bnr_leftsec form input[type="text"]        { font-size: 18px;}
.learnmore                               { width: 100%;}  
.para_sec .learnmore                    { width: 100%;}  
.navbar-default .navbar-collapse, .navbar-default .navbar-form  { border: 0 !important; background-color: #ffffff; position: relative; z-index: 2;} 
.righthdrbtm_nav .navbar-nav li a       { color: #000 !important; padding: 8px;}   
.righthdrbtm_nav .navbar-nav li         { margin: 0;} 
.topjoin_form ul li                     { width: 47.4%;}
.topjoin_form ul li:nth-child(3)        { width: 98%;}    
.topjoin_form ul li:nth-child(4)        { width: 98%;}    
.topjoin_form ul li:nth-child(5)        { width: 98%;} 
.btmjoin_form ul li                     { width: 98%;} 
.btmjoin_form ul li:nth-child(3)        { width: 46.9%;}  
.righthdrbtm_nav .navbar                { margin: 0 10px 0 0;}    
.righthdrbtm_nav .navhder_btm li:last-child a	{ color: #000000 !important;}
.righthdrbtm_nav .navhder_btm li:last-child	{ color: #000000 !important;}
.righthdrbtm_nav .navbar-nav li:last-child  	{ border-right: 0;}
.bnrleft_inn                                				{ width: 75%;}
.bnrleft_inn                                				{ bottom:30px;}
.bnr_leftsec h1								{ font-size:30px;}
.bnr_leftsec p								{ padding-bottom:10px;}
.featurecrsl_sec h2                         { font-size: 40px; line-height: 40px; padding-bottom: 30px;} 
.leftftr_sec                                { margin-bottom: 20px;}
.right_ftrsec p                             { padding-bottom: 50px;} 
.right_ftrsec h2                            { font-size: 40px; line-height: 40px; padding-bottom: 10px; }
.right_ftrsec h3                            { font-size: 25px; line-height: 25px; padding-bottom: 10px; }   
.right_ftrsec h4                             { font-size: 20px; line-height: 20px; padding-bottom: 10px; }
.right_ftrsec p                              { font-size: 17px; line-height: 22px; padding-bottom: 50px; } 
.lefthdrbtm_logo a img	                     { width:220px;} 
.topmbmbrshp_sec h1                          { font-size: 35px; line-height: 35px;} 
.topmbmbrshp_sec p                           { font-size: 25px; line-height: 30px; padding-bottom: 80px;}  
.mbmbrshplisted_sec h2                      { font-size: 25px; line-height: 25px;}    
}

@media ( max-width:640px){
.join_sec a                             { width: 120px; padding: 7px 0; font-size: 13px;}  
.join_sec a em                          { font-size: 12px; line-height: 12px;}
.navbar-toggle                          { margin-top: 8px;}  
.stickyhdrbtm_logo a img                { width: 200px;} 
.howwork_cntnt h2                       { padding-bottom: 10px; font-size: 30px; line-height: 30px;} 
.howwork_cntnt p                        { font-size: 15px; line-height: 20px;} 
.howwork_cntnt .row                     { margin-bottom: 20px;}  
.learnmore a                            { font-size: 15px;}    
.learnmore a em                         { font-size: 12px;} 
.learnmore a                            { height: 55px; padding: 10px 0;}
.learnmore a:last-child                 { padding: 16px 0;} 
.holiday_blockcntnt h2                  { font-size: 30px; line-height: 40px; padding-bottom: 10px}  
.holiday_blockcntnt p                   { padding-bottom: 10px; font-size: 15px; line-height: 20px;}    
.holiday_blockcntnt                     { margin: 50px 0 0; padding: 35px;}   
.holiday_blockcntnt .learnmore a        { font-size: 15px; height: 55px; padding: 10px 0;}    
.holiday_blockcntnt .learnmore a  em               { font-size: 12px;} 
.holiday_blockcntnt .learnmore a:last-child        { padding: 16px 0;}
.holiday_sec                                { min-height: 400px;}  
.feature_sec h2                             { font-size: 35px; line-height: 35px;} 
.right_cmnty p                              { font-size: 30px; line-height: 35px;}  
.feature_sec h2                             { padding-bottom: 20px;} 
.feature_sec .container                     { padding: 40px 0;} 
.para_sec p                                 { padding: 0 0 30px 0; font-size: 30px; line-height: 40px;} 
.para_sec .container                        { padding: 50px 0;} 
.choose_sec h2                               { font-size: 35px; line-height: 35px; padding-bottom: 15px;}
.choose_sec p br                            { display: none;} 
.choose_sec p                               { font-size: 15px; line-height: 20px; padding-bottom: 30px;}
.choose_sec .container                      { padding: 50px 0;} 
.latest_listsec h2                          { font-size: 35px; line-height: 35px;}  
.latest_listsec p                           { font-size: 15px; line-height: 20px; padding-bottom: 20px;} 
.latstlist_block .ltstlist_btm h3           { padding-bottom: 10px;}    
.latstlist_block .ltstlist_btm a            { width: 100px; font-size: 13px;} 
.rcmnd_right                                { margin: 0;}  
.rcmnd_right p                              { font-size: 20px; line-height: 25px; padding-bottom: 20px;}   
.rcmnd_right em                             { font-size: 20px; line-height: 20px; padding-bottom: 20px;}  
.rcmnd_right .learnmore a                   { font-size: 15px; height: 55px; padding: 10px 0;}    
.rcmnd_right .learnmore a  em               { font-size: 12px;} 
.rcmnd_right .learnmore a:last-child        { padding: 16px 0;}  
.leftft_btm                                 { float: none; display: block; width: 100%; margin:0 auto 10px; text-align: center}  
.rightft_btm                                { float: none; display: block; width: 100%; margin: 0 auto 0; text-align: center;} 
.hdr_top span                               { font-size: 14px;}   
.bnr_leftsec h1                             { font-size: 20px; line-height: 35px;} 
.bnr_leftsec p                              { font-size: 13px; line-height: 20px; padding-bottom: 15px;} 
.bnr_leftsec form input[type="text"]        { font-size: 15px;} 
.para_sec .learnmore a                      { width: 170px;}
.holiday_blockcntnt .learnmore a            { width: 170px;}
.right_cmnty .learnmore a                   { font-size: 15px;} 
.right_cmnty .learnmore a em                { font-size: 12px;}
.backtop_arrow                              { right: 20px;} 
.topjoin_form ul li                         { width: 46.4%;}
.topjoin_form ul li:nth-child(3)            { width: 97%;}    
.topjoin_form ul li:nth-child(4)            { width: 97%;}    
.topjoin_form ul li:nth-child(5)            { width: 97%;} 
.btmjoin_form ul li                         { width: 97%;} 
.btmjoin_form ul li:nth-child(3)            { width: 45.9%;}
.bnrright_tag a img                         { width: 100px;} 
.bnrleft_inn				                { width:70%;} 
.jointoday_sec h1			                { font-size:40px; line-height:45px;}
.jointoday_sec p				            { font-size:15px; line-height:20px;}
.featurecrsl_sec .container                 { padding: 50px 0;}   
.right_ftrsec a                             { font-size: 16px; width: 150px; line-height: 18px;}
.bnrright_tag                               { width: 140px; height: 140px;}
.browser_sec ul li a                        { font-size: 13px;} 
.bnr_leftsec                                { width: 60%;}
.activate_mbmbrshpsec                       { margin: 200px 0 100px;} 
.activatembmbr_inn                          { width: 95%;}
.modal-body form h2                         { font-size: 18px;}
.modal-body form ul li .signin_btn          { width: 40%; font-size: 15px; line-height: 15px; height: 40px;}    
}

@media ( max-width:480px){
.howwork_cntnt p br                         { display: none;}
.work_block                                 { width: 250px; height: 230px;} 
.wrk_inn span                               { font-size: 18px; line-height: 18px;}
.wrk_inn .img_sec::before                   { font-size: 80px !important; line-height: 80px !important; top: 0 !important; left: 45px !important;}    
.howwork_cntnt p                            { font-size: 14px;} 
.learnmore a                                { width: 150px; font-size: 14px;} 
.learnmore a em                             { font-size: 11px;}
.holiday_blockcntnt h2                      { font-size: 25px; line-height: 30px;} 
.holiday_blockcntnt .learnmore a            { width: 150px; margin-right: 8px; font-size: 14px;} 
.holiday_blockcntnt .learnmore a em         { font-size: 11px;}
.right_cmnty p                              { font-size: 20px; line-height: 25px; padding-bottom: 20px;} 
.right_cmnty .learnmore a em                { font-size: 12px;} 
.right_cmnty .learnmore a                   { height: 55px; padding: 10px 0; font-size: 14px;}
.right_cmnty .learnmore a:last-child        { padding: 16px 0;} 
.para_sec p                                 { font-size: 20px; line-height: 25px;}  
.para_sec .learnmore a em                   { font-size: 12px;} 
.para_sec .learnmore a                      { height: 55px; padding: 10px 0; font-size: 14px;}
.para_sec .learnmore a:last-child           { padding: 16px 0;} 
.choose_sec h2                              { font-size: 30px; line-height: 35px; padding-bottom: 10px;}
.choose_sec ul li                           { width: 250px; height: 230px;}
.choose_sec ul li .chs_listcrclesec         { width: 250px; height: 230px;}  
.choose_sec ul li span                      { font-size: 18px;} 
.choose_sec ul li p                         { font-size: 14px;}
.righthdrbtm_nav .navbar                    { margin: 10px 0 0 0;}
.hdr_top span                               { font-size: 11px;} 
.footer_block h4                            { font-size: 18px; padding-bottom: 10px; line-height: 18px;}  
.footer_block p                             { padding-right: 0;}
.footer_block h4                            { font-size: 15px;}  
.rcmnd_right .learnmore a                   { width: 150px;}
.lefthdrbtm_logo                            { float: none; text-align: center; margin: 0 auto 15px; }
.stickyhdrbtm_logo                          { float: none; text-align: center; margin: 0 auto 15px; }  
.righthdrbtm_nav                            { float: none; display: block; text-align: left; margin: 0 auto 0; } 
.lefthdrbtm_logo a img                      { margin: 0 auto;}
.navbar-toggle                              { float: none;}    
.righthdrbtm_nav .navbar                    { float: none; display: inline-block;} 
.rightft_btm ul li a                        { margin-right: 8px;} 
.rightft_btm ul li                          { margin-right: 8px;} 
.bnr_leftsec                                { width: 90%; left: 0; right:0; margin:0 auto;} 
.browser_sec ul li a			{ font-size:15px;}
.learnmore a                                { display: block; margin: 0 auto 10px 0; width: 100%;}
.holiday_blockcntnt .learnmore a            { display: block; margin: 0 auto 10px 0; width: 100%;} 
.right_cmnty .learnmore a                   { display: block; margin: 0 auto 10px 0; width: 100%;} 
.para_sec .learnmore a                      { display: block; margin: 0 auto 10px 0; width: 100%;}  
.rcmnd_right .learnmore a                   { display: block; margin: 0 auto 10px 0; width: 100%;} 
.holiday_blockcntnt                         { margin: 30px 0 0; padding: 20px;}
.community_sec .container                   { padding: 50px 0;} 
.feature_sec ul li                          { margin:0 20px 20px 0;}
.bnr_leftsec h1                             { font-size: 20px; line-height: 20px; padding-bottom:5px;}  
.bnr_leftsec form input[type="text"]        { padding: 10px 50px 10px 20px; font-size: 13px;}
.bnrright_tag a img                         { height: auto; width: 100px; object-fit: inherit; object-position: inherit;} 
.bnrright_tag                               { bottom: 0;}    
.bnr_leftsec p                              { font-size: 14px; line-height: 18px; padding-bottom:8px;}  
.bnr_leftsec form                           { padding-bottom: 10px;}  
.browser_sec ul li                          { font-size: 13px;} 
.topjoin_form ul li                         { width: 100% !important;} 
.btmjoin_form ul li                          { width: 100% !important;}  
.topjoin_form ul li .form-control           { font-size: 13px;}
.btmjoin_form ul li .form-control           { font-size: 13px;}
.checkbx_block .radio label, .checkbox label    { font-size: 13px;} 
.getstarted_btn .btn                            { font-size: 15px; line-height: 18px; width: 150px;} 
.bnrright_tag                                   { display: none;} 
.banner_wrpr img                                { height: 380px;}  
.banner_wrpr                                    { padding: 0; }    
.jointoday_sec                                  { margin: 135px 0 0 0;}
  .banner_wrprsec                                 { padding: 0 0 0;}
.banner_wrprsec img                             { height: 440px;}
.bnrleft_inn                                    { bottom: 35px;}
.hdrbtm_inn                                     { padding: 8px 0;} 
.bnr_leftsec				                    { padding:15px;}
.navbar-toggle				                    { margin-top: 0;}
.jointoday_sec .container	                    {padding: 85px 0 55px; }
 .jointoday_sec h1			                    { padding-bottom:15px; font-size:28px; line-height:35px;} 
.gizle                                          { top: -180px; } 
.bnr_leftsec                                    { bottom: 40px;}
.featurecrsl_sec h2                             { font-size: 30px; line-height: 30px; padding-bottom: 15px;}
.ftr_carousal .slick-dots li                    { width: 10px; height: 15px; margin: 0 7px;} 
.slick-dots li button                           { width: 15px; height: 15px;}    
.right_ftrsec a                                 { padding: 15px 0; font-size: 14px; line-height: 16px;} 
.right_ftrsec h2                                { font-size: 35px; line-height: 40px; padding-bottom: 10px; }
.right_ftrsec h3                                { font-size: 20px; line-height: 25px; padding-bottom: 10px; }   
.right_ftrsec h4                                { font-size: 18px; line-height: 20px; padding-bottom: 10px; }
.right_ftrsec p                                 { font-size: 15px; line-height: 22px; padding-bottom: 50px; } 
.topmbmbrshp_sec                                { width: 95%; padding: 40px 0 0;}
.topmbmbrshp_sec h1                             { font-size: 25px; line-height: 28px; padding-bottom: 15px;} 
.topmbmbrshp_sec p                              { font-size: 15px; line-height: 20px; padding-bottom: 30px;} 
.mbmbrshplisted_sec h2                          { font-size: 20px; line-height: 20px; padding-bottom: 20px;}  
.mbmbrshplisted_sec ul li p                     { font-size: 15px; line-height: 20px; font-size: 14px; width: 80%;}
.mbmbrshplisted_sec                             { padding: 0 0 10px 0;}
.paypalsec                                      { padding: 30px 0 0 0;}
.paypalsec p                                    { font-size: 13px; line-height: 18px; padding-bottom: 30px;}
.topmbmbrshp_sec em                             { font-size: 15px; line-height: 15px; padding-bottom: 15px;} 
.paypalsec a                                    { width: 100%; padding: 8px 0; top: 2px; height: 58px;} 
.paypalsec a strong                             { font-size: 25px; line-height: 31px; padding: 0 0 0 5px; top: 3px;}
.paypalsec p br                                 { display: none; }  
.activate_mbmbrshpsec                           { margin: 200px 0 50px;}  
.mbmbrshplisted_sec ul li em                    { font-size: 16px; line-height: 20px;}    
}


@media ( max-width:380px){ 
.bnr_leftsec                                    { bottom: 25px;}
.topmbmbrshp_sec h1                             { font-size: 19px; line-height: 22px; padding-bottom: 10px;}
.topmbmbrshp_sec p                              { font-size: 14px; padding-bottom: 20px;}    

}
