﻿@charset "utf-8";
/* CSS Document */
/***************************** CSS Reset - Start ****************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear{clear:both; line-height:1px; font-size:1px;}


@font-face {
  font-family:'Bebas';
  src: url('../fonts/Bebas.woff') format('woff'),
       url('../fonts/Bebas.ttf')  format('truetype'),
       url('../fonts/Bebas.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Bebas.svg#Bebas') format('svg');
  font-weight: normal;
  font-style: normal;
}


/***************************** CSS Reset - Find ****************************************/

body											        { font-size:12px; margin: 0; padding: 0; background-color: #fafafa;}
#wrapper 										        { width:100%; height:auto; margin:0 auto; padding:0;}
.container                                              { width: 100%; max-width: 1355px; margin:0 auto;}
.row                                                    { margin-left: 0; margin-right: 0;}
/***************************** header start here ****************************************/
#header                                                 { width: 100%; margin: 0; padding: 0; }
.yapiskan                                               { text-align:center; position: fixed; left:0; top:0; width:100%; transition: top .5s; -moz-transition: top .5s; -webkit-transition: top .5s; -o-transition: top .5s; -ms-transition: top .5s;  z-index: 999;}
.gizle                                                  { top: -154px; }
.sabit                                                  { top:0; z-index: 5; }
#header.gizle .hdr_bttm                                 { position: absolute;}
#header.sabit .hdr_bttm                                 { position: relative;}

.hdr_top                                                { width: 100%; margin: 0; padding:8px 0; background-color: #ff6326;}
.hdr_top span                                           { display: block; font-size: 17px; line-height: 20px; color:#ffffff; margin: 0; padding: 0; text-align: center; 
    font-family: 'Roboto', sans-serif;}
.hdr_top span a                                         { text-decoration: none; color: #ffffff;}
.hdr_bttm                                               { width: 100%; margin: 0; padding: 0; position: absolute; }
.hdrbtm_inn                                             { width: 100%; max-width: 1524px; margin: 0 auto; padding: 23px 0;}
.lefthdrbtm_logo                                        { float: left; margin: 0; padding: 0;}
.lefthdrbtm_logo a img                                  { display: block; height: auto; width: 400px;}
.righthdrbtm_nav                                        { float: right; margin: 0; padding: 0;}
.righthdrbtm_nav .navbar-default                        { background: none; border: 0;}
.righthdrbtm_nav .navbar-right                          { margin-right: 0;}
.righthdrbtm_nav .navbar-nav li                         { margin-right: 30px;}
.righthdrbtm_nav .navbar-nav li a                       { margin: 0; padding: 0; font-size: 17px; line-height: 20px; color: #3a3a3a !important; 
    font-family: 'Roboto', sans-serif;  text-decoration: none;}
.righthdrbtm_nav .navbar-nav li a:hover                 { color:#ff9a00 !important;}
.righthdrbtm_nav .navbar-nav li:last-child              { border-right: 2px solid #e8e8e8;}
.righthdrbtm_nav .navbar-nav li:last-child a            { padding-right: 13px; color: #3c8fe2 !important; outline: none;}
.righthdrbtm_nav .navbar-nav li:last-child a .fa        { padding-right: 13px;}
.righthdrbtm_nav .navbar                                { border-radius: 0; min-height: auto; margin: 20px 0 0 0; float: left;}  
.righthdrbtm_nav .navbar-collapse                       { padding: 0;}
.join_sec                                               { float: right; margin: 0; padding: 0;}
.join_sec a                                             { width: 200px; margin: 0; padding:14px 0; display: block; text-align: center; font-size: 18px; line-height: 20px; color: #ffffff; text-decoration: none; font-family: 'Roboto', sans-serif; font-weight: 700; background-color: #ff9a00;}
.join_sec a:hover                                       { background-color:#ff6326; color: #ffffff;}
.join_sec a em                                          { display: block; text-align: center; font-weight: 300; font-family: 'Roboto', sans-serif; font-size: 14px; 
    line-height: 14px; }
.hdr_bttm                                               { position: inherit;  background: #ffffff; background:url('../imagesv2/hdrbg.jpg') no-repeat bottom #fff;}

/***************************** header end here ****************************************/
/***************************** start container here ****************************************/
.banner_wrpr                                            { width: 100%; margin:100px 0 0; padding: 0;}
.banner_wrpr img                                        { width: 100%; height: auto; display: block;}
.bnnr_inn                                               { width: 1524px; margin: 0 auto; position: relative;}
.bnr_leftsec                                            { position: absolute; bottom: 215px; left: 300px; margin:0; padding: 40px; width: 572px; background-color:#3c8fe2; z-index:2;}
.bnr_leftsec h1                                         { font-size: 59px; line-height: 65px; color: #ffffff; margin: 0; padding-bottom: 18px; font-family: 'Raleway', sans-serif;
    font-weight: 800;}
.bnr_leftsec p                                          { font-size: 20px; line-height: 30px; color: #ffffff; margin: 0; padding-bottom: 30px; font-family: 'Roboto', sans-serif;}
.bnr_leftsec form                                       { width: 100%; margin: 0; padding-bottom: 23px;}
.bnr_leftsec form input[type="text"]                    { width: 100%; padding: 20px 50px 20px 20px; font-size: 20px; line-height: 25px; color: #3b3b3b; font-family: 'Roboto', sans-serif; border: 0;}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */  color: #3b3b3b;}
::-moz-placeholder { /* Firefox 19+ */  color: #3b3b3b;}
:-ms-input-placeholder { /* IE 10+ */  color: #3b3b3b;}
:-moz-placeholder { /* Firefox 18- */  color: #3b3b3b;}

.browser_sec                                           { margin: 0; padding: 0;}
.browser_sec ul                                        { list-style: none; margin: 0; padding: 0;}
.browser_sec ul li                                     { position: relative; margin: 0 40px 0 0; display: inline-block; padding: 0;}
.browser_sec ul li a                                   { font-size: 17px; line-height: 20px; color: #ffffff; font-family: 'Roboto', sans-serif; text-decoration: none; }
.browser_sec ul li .fa                                 { padding-right: 10px;}
.browser_sec ul li a:hover                             { color: #ff9a00;}
.browser_sec ul li:last-child                          { margin-right: 0;}
.browser_sec ul li:after                               { content:''; position: absolute; right: -20px; top: 3px; width: 2px; height: 15px; background-color:#ffffff; }
.browser_sec ul li:last-child:after                    { content: none; display: none;}
.bnrright_tag                                          { position: absolute; right: 0; bottom: 43px; background:url('../imagesv2/bolnuslabel_bgtag.png') no-repeat; width:200px; height: 200px;}
.bnrright_taginn                                       { margin: 0; padding:35px 0; text-align: center;}
.bnrright_taginn h2                                    { font-size: 25px; line-height: 28px; color: #ffffff; text-align: center; font-family: 'Lato', sans-serif; font-weight: 700; text-transform: uppercase; padding-bottom: 10px;}
.bnrright_taginn p                                     { font-size: 13px; line-height: 18px; color: #ffffff; text-align: center; font-family: 'Lato', sans-serif; font-weight: 700; text-align: center; margin: 0; padding-bottom: 10px;}
.bnrright_taginn a                                     { display: block; font-size: 12px; line-height: 12px; color: #ffffff; text-decoration: underline; text-align: center; 
    font-family:'Novecentosanswide-Normal-webfont';}

.howitwork_sec                                         { width: 100%; margin: 0; padding: 0; background-color: #fff;}
.howwork_cntnt                                         { margin: 0; padding: 90px 0 100px;}
.howwork_cntnt h2                                      { font-size: 59px; line-height: 59px; color: #3c8fe2; margin: 0; padding-bottom: 40px; text-align: center; font-family: 'Raleway', sans-serif; font-weight: 800;}
.howwork_cntnt p                                       { font-size: 20px; line-height: 30px; color: #3a3a3a; text-align: center; margin: 0; padding-bottom: 90px; font-family: 'Roboto', sans-serif; }
.work_block                                             { width: 418px; height: 418px; background-color: #f77e2e; border-radius: 100%; display: table;}
.workblock_cntn                                         { display: table-cell; vertical-align: middle; margin: 0 auto; text-align: center;}
.wrk_inn                                                { width: 312px; margin: 0 auto;}
.wrk_inn .img_sec                                { margin-bottom: 30px; padding: 0; position: relative;}
.wrk_inn .img_sec:before                         { content: '1'; position: absolute; left: 0; top:-55px; font-family: 'Roboto', sans-serif; font-size: 201px; line-height: 201px; color: #ec711f;}
.scnd_block .wrk_inn .img_sec:before            { content: '2'; position: absolute; left: 0; top:-55px; font-family: 'Roboto', sans-serif; font-size: 201px; line-height: 201px; color: #79b569;}
.thrd_block .wrk_inn .img_sec:before            { content: '3'; position: absolute; left: 0; top:-55px; font-family: 'Roboto', sans-serif; font-size: 201px; line-height: 201px; color: #ecbb31;}
.wrk_inn .img_sec img                            { display: block; width: auto; max-width: 100%; height: auto; text-align: center; margin: 0 auto;}
.wrk_inn span                                    { display: block; text-align: center; font-size: 21px; line-height: 21px; color: #ffffff; margin:0; padding-bottom: 25px; 
    font-family: 'Roboto', sans-serif;}
.wrk_inn p                                       { font-size: 18px; line-height: 25px; color: #ffffff; margin: 0; padding: 0; text-align: center; 
    font-family: 'Roboto', sans-serif;}
.scnd_block                                     { background-color: #85c075;}
.thrd_block                                     { background-color: #f5c53d;}
.learnmore                                      { margin: 0 auto; padding: 0; text-align: center; width: 500px;}
.learnmore a                                    { width: 240px; text-align: center; font-size:18px; line-height: 20px; color:#3c8fe2; margin-right: 14px; padding: 17px 0; 
    font-family: 'Roboto', sans-serif; font-weight: 700; text-decoration: none; text-transform: uppercase; border: 2px solid #3c8fe2; display: inline-block; height: 65px; vertical-align: top;}
.learnmore a:hover                              { background-color: #ff9a00 !important; color: #fff !important; border:2px solid #ff9a00 !important;}
.learnmore a em                                 { font-size: 14px; line-height: 14px; text-align: center; display: block; font-family: 'Roboto', sans-serif; font-weight:300;}
.learnmore a:last-child                         { padding: 22px 0; background: none; border: 2px solid #3c8fe2; color: #3c8fe2; margin-right: 0;}
.howwork_cntnt .row                             { margin-bottom: 75px;}
.holiday_sec                                    { background-size: cover; background-position: center top; background-repeat: no-repeat; min-height: 815px;}
.holiday_blockcntnt                             { width: 640px; background-color:#3c8fe2; margin:200px 0 0; padding: 58px 85px 70px 42px;}
.holiday_blockcntnt h2                          { font-size: 59px; line-height: 70px; color: #ffffff; margin: 0; padding-bottom: 24px; font-family: 'Raleway', sans-serif; font-weight: 800;}
.holiday_blockcntnt p                            { font-size: 20px; line-height: 30px; color: #ffffff; margin: 0; padding-bottom: 35px; font-family: 'Roboto', sans-serif; }
.holiday_blockcntnt .learnmore a                 { width: 240px; text-align: center; font-size:18px; line-height: 20px; color: #ffffff; margin-right: 14px; padding: 17px 0; 
    font-family: 'Roboto', sans-serif; font-weight: 700; text-decoration: none; text-transform: uppercase;  border: 2px solid #ffffff;  display: inline-block; height: 65px; vertical-align: top;}
.holiday_blockcntnt .learnmore                  { width: auto; text-align: left; margin: 0;}
.holiday_blockcntnt .learnmore a em             { font-size: 14px; line-height: 14px; text-align: center; display: block; font-family: 'Roboto', sans-serif; font-weight:300;}
.holiday_blockcntnt .learnmore a:last-child     { padding: 22px 0; background: none; border: 2px solid #ffffff; color: #ffffff; margin-right: 0;}
.community_sec                                  { width: 100%; margin: 0; padding: 0; background-color: #3c8fe2;}
.community_sec .container                       { padding: 170px 0;}
.left_cmnty                                     { margin: 0; padding: 0;}
.left_cmnty img                                 { display: block; width: auto; max-width: 100%;}
.right_cmnty                                    { margin: 0; padding: 0; }
.right_cmnty p                                  { font-size: 59px; line-height: 65px; color: #ffffff; margin: 0; padding-bottom: 44px; font-family: 'Raleway', sans-serif; 
    font-weight: 800;}
.right_cmnty .learnmore                         { width: auto; text-align: left; margin: 0;}
.right_cmnty .learnmore a                       { width: 240px; text-align: center; font-size:18px; line-height: 20px; color: #ffffff; margin-right: 14px; padding: 17px 0; 
    font-family: 'Roboto', sans-serif; font-weight: 700; text-decoration: none; text-transform: uppercase; border: 2px solid #ffffff; display: inline-block; height: 65px; vertical-align: top;}
.right_cmnty .learnmore a em                    { font-size: 14px; line-height: 14px; text-align: center; display: block; font-family: 'Roboto', sans-serif; font-weight:300;}
.right_cmnty .learnmore a:last-child            { padding: 22px 0; background: none; border: 2px solid #ffffff; color: #ffffff; margin-right: 0;}
.feature_sec                                    { width: 100%; margin: 0; padding: 0; background-color: #fff;}
.feature_sec .container                         { padding: 75px 0;}
.feature_sec h2                                 { font-size: 59px; line-height: 70px; color: #3c8fe2; margin: 0; padding-bottom: 50px; font-family: 'Raleway', sans-serif; font-weight: 800; text-align: center;}
.feature_sec ul                                 { list-style: none; margin: 0; padding: 0; text-align: center;}
.feature_sec ul li                              { display: inline-block; margin: 0 80px 30px 0; padding: 0; vertical-align: middle;}
.feature_sec ul li a img                        { display: block; width: auto; max-width: 100%; height: auto;}
.feature_sec ul li:last-child                   { margin-right: 0;}
.para_sec                                       { width: 100%; margin:0; padding: 0; background-color: #85c075;}
.para_sec .container                            { padding: 110px 0 100px;}
.para_sec p                                     { font-size: 36px; line-height: 45px; color: #ffffff; margin: 0; padding:0 130px 80px 130px; font-family: 'Raleway', sans-serif; 
    font-weight: 800; text-align: center;}
.para_sec .learnmore                            { margin: 0 auto; padding: 0; text-align: center; width: 500px;}
.para_sec .learnmore a                          { width: 240px; text-align: center; font-size: 18px; line-height: 20px; color: #ffffff; margin-right: 14px; padding: 17px 0;
    font-family: 'Roboto', sans-serif; font-weight: 700; text-decoration: none; text-transform: uppercase;  border: 2px solid #ffffff;  display: inline-block;
    height: 65px; vertical-align: top;}
.para_sec .learnmore a em                       { font-size: 14px; line-height: 14px; text-align: center; display: block; font-family: 'Roboto', sans-serif; font-weight: 300;}
.para_sec .learnmore a:last-child               { padding: 22px 0; background: none; border: 2px solid #ffffff; color: #ffffff; margin-right: 0;}
.choose_sec                                     { width: 100%; margin: 0; padding: 0; background-color: #fff;}
.choose_sec .container                          { padding: 95px 0 100px;}
.choose_sec h2                                  { font-size: 59px; line-height: 70px; color: #3c8fe2; margin: 0; padding-bottom:30px; font-family: 'Raleway', sans-serif; font-weight: 800; text-align: center;}
.choose_sec p                                   { font-size: 20px; line-height: 30px; color: #3a3a3a; margin: 0; padding-bottom:70px; font-family: 'Roboto', sans-serif; 
                                                text-align: center;}
.choose_sec ul                                  { list-style: none; margin: 0; padding: 0 0 60px 0; text-align: center;}
.choose_sec ul li                               { display: inline-block; vertical-align: top; margin: 0 0 0 -45px; padding: 0; background-color:#f77e2e; vertical-align: top; border-radius: 100%;} 
.choose_sec ul li .chs_listcrclesec             { display: table; width: 418px; height: 418px;}
.choose_sec ul li:nth-child(2)                  { background-color: #85c075;}
.choose_sec ul li:last-child                    { background-color: #f5c53d;}
.choose_sec ul li .chs_sec                      { display: table-cell; vertical-align: middle;}
.choose_sec ul li .chs_sec .chs_cntnt           { width: 275px; margin: 0 auto; text-align: center;}
.choose_sec ul li .chooseimg_sec                { margin-bottom: 25px; min-height:72px;}
.choose_sec ul li span                          { font-size: 21px; line-height: 21px; color: #ffffff; text-align: center; display: block; font-family: 'Roboto', sans-serif; margin: 0; padding-bottom: 25px;}
.choose_sec ul li p                             { font-size: 18px; line-height: 25px; color: #ffffff; margin: 0; padding: 0; text-align: center; font-family: 'Roboto', sans-serif;}
.choose_sec ul li:last-child .chooseimg_sec     { margin-bottom: 12px;} 
.choose_sec ul li:nth-child(2)                  { position: relative; z-index: 1;}
.latest_listsec                                 { width: 100%; background-color:#fafafa; border-top: 1px solid #eeeeee;}
.latest_listsec .container                      { padding: 100px 0 125px;}
.latest_listsec h2                              { font-size: 59px; line-height: 70px; color: #3c8fe2; margin: 0; padding-bottom:40px; font-family: 'Raleway', sans-serif; font-weight: 800; text-align: center;}
.latest_listsec p                               { font-size: 20px; line-height: 30px; color: #3a3a3a; margin: 0; padding-bottom:90px; font-family: 'Roboto', sans-serif; 
                                                text-align: center;}
.latstlist_block                                { margin-bottom: 30px; padding: 0; position: relative;}
.latstlist_block .listimg_sec                   { margin: 0; padding: 0; border-top: 5px solid #3c8fe2;}
.latstlist_block .listimg_sec img               { display: block; width: 100%; height: auto;}
.latstlist_block .ltstlist_btm                  { width: 100%; margin: 0; padding:25px 17px 50px 17px; background-color: #ffffff; box-shadow: 2px 2px 12px #efefef; position: relative;}
.latstlist_block .ltstlist_btm h3               { font-size: 22px; line-height: 30px; color: #3c8fe2; margin: 0; padding-bottom: 20px; font-family: 'Raleway', sans-serif; font-weight: 800;}
.latstlist_block .ltstlist_btm p                { font-size: 15px; line-height: 20px; color:#757575; margin: 0; padding-bottom:70px; font-family: 'Roboto', sans-serif; text-align: left;}
.latstlist_block .ltstlist_btm a                { display: block; width: 125px; font-size: 14px; line-height: 16px; color: #fff; text-align: center; text-decoration: none; text-transform: uppercase; margin: 0; padding: 14px 0; background-color: #ff9a00; font-family: 'Roboto', sans-serif; font-weight: 700; position: absolute; bottom: 25px;}
.latstlist_block .ltstlist_btm a:hover          { background-color: #ff6326; color: #ffffff;}
.latest_listsec .row                            { margin-bottom:  35px;}
.latstlist_block:before                         { content: ''; position: absolute; left: 0; top: 0; background:url('../imagesv2/new_taglabel.png') no-repeat left top; width: 58px; height: 58px;}
.recommend_sec                                  { margin: 0; padding: 0; background-color: #85c075;}
.recommend_sec .container                       { padding: 90px 0 73px;}
.recommend_sec p                                { font-size: 36px; line-height: 50px; color: #ffffff; margin: 0; padding-bottom: 40px; font-family: 'Raleway', sans-serif; font-weight: 800;}
.recommend_sec em                               { font-size: 26px; line-height: 30px; color: #ffffff; margin: 0; padding-bottom: 75px; font-family: 'Raleway', sans-serif; display: block; font-style: normal;}
.recommend_sec .learnmore                       { margin:0; padding: 0; text-align: left; width: auto;}
.recommend_sec .learnmore a                     { width: 240px; text-align: center; font-size: 18px; line-height: 20px; color: #ffffff; margin-right: 14px; padding: 17px 0;
    font-family: 'Roboto', sans-serif; font-weight: 700; text-decoration: none; text-transform: uppercase;  background-color: #ff9a00;  display: inline-block;
    height: 65px; vertical-align: top;}
.recommend_sec .learnmore a em                  { font-size: 14px; line-height: 14px; text-align: center; display: block; font-family: 'Roboto', sans-serif; font-weight: 300;}
    .recommend_sec .learnmore a:last-child          { padding: 22px 0; background: none; border: 2px solid #ffffff; color: #ffffff; margin-right: 0;}
.rcmnd_left                                     { margin: 0; padding: 0;}
.rcmnd_left img                                 { display: block; border-radius: 100%; border: 8px solid #ffffff; width: 100%; height: auto;}
.rcmnd_right                                    { margin: 0 0 0 35px; padding: 0;}
.rcmnd_right p                                  { font-size: 36px; line-height: 50px; color: #ffffff; margin: 0; padding-bottom: 40px; font-family: 'Raleway', sans-serif;
                                                font-weight: 800;}
.rcmnd_right em                                 { font-size: 26px; line-height: 30px; color: #ffffff; margin: 0; padding-bottom: 75px;  font-family: 'Raleway', sans-serif;
                                                display: block; font-style: normal;}
.rcmnd_right .learnmore                         { margin: 0; padding: 0; text-align: left; width: auto;}
.rcmnd_right .learnmore a                       { width: 240px; text-align: center; font-size: 18px; line-height: 20px; color: #ffffff; margin-right: 14px; padding: 17px 0;
    font-family: 'Roboto', sans-serif; font-weight: 700; text-decoration: none; text-transform: uppercase; background: none;  border: 2px solid #ffffff;   display: inline-block; height: 65px;
    vertical-align: top;}
.rcmnd_right .learnmore a:last-child            { padding: 22px 0; background: none; border: 2px solid #ffffff; color: #ffffff; margin-right: 0;}
.nav-up                                         { top: -40px;}

.orngscnd_block                                 { border-top: 5px solid #f5c53d !important;}
.grnthrd_block                                  { border-top: 5px solid #85c075 !important;}
.ornglst_block                                  { border-top: 5px solid #f77e2e !important;}
.listbtm_block:before                           { content: none !important; display: none !important;}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus    { background-color: #ff9a00; color: #ffffff;}

/***************************** inner1 start here ****************************************/
.homedetail_sec                                 { width: 100%; margin:190px 0 0; padding: 0;}
.homedetail_sec .container                      { padding: 55px 0 80px;}
.homedetail_sec h1                              { font-size: 59px; line-height: 70px; color: #3c8fe2; margin: 0; padding-bottom:30px; font-family: 'Raleway', sans-serif; font-weight: 800; text-align: center;}
.homedetail_sec p                               { font-size: 20px; line-height: 30px; color: #3a3a3a; margin: 0; padding-bottom:90px; font-family: 'Roboto', sans-serif; 
                                                text-align: center;}

.hdrbtm_inner .stickyhdrbtm_logo                 { display: block;}
.rightnav_inner .navbar-nav li a                { color: #3a3a3a !important;}
.rightnav_inner .navbar-nav li:last-child       { border-right: 2px solid #e8e8e8; }
.rightnav_inner .navbar-nav li:last-child a     { color: #3c8fe2 !important;}
.homedetail_form                                { width: 100%; margin: 0; padding: 0;}
.homedetail_form .container                     { background-color: #fff;}
.homedetailform_inn                             { margin: 0 auto; padding:75px 0; width: 852px; }
.homedetailform_inn h2                          { font-size: 39px; line-height: 39px; color:#ff9a00; margin: 0; padding-bottom: 40px; font-family: 'Raleway', sans-serif; font-weight: 800;}
.homedetailform_inn form                        { margin: 0; padding: 0; width: 100%;}
.homedetail_sec1                                { margin: 0 auto;}
.homedetail_sec1 ul                             { list-style: none; margin: 0; padding: 0;}
.homedetail_sec1 ul li                          { margin: 0 30px 30px 0; padding: 0; display: inline-block; width: 48%;}
.homedetail_sec1 ul li .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)    { width: 100%;}
.homedetail_sec1 ul li .bootstrap-select.btn-group .dropdown-toggle .filter-option  { font-size: 17px; line-height: 20px; color: #3a3a3a; font-family: 'Roboto', sans-serif;}
.dropdown-menu li                               { width: 100% !important;}
.homedetail_sec1 ul li .form-control            { font-size: 17px; line-height: 20px; color: #3a3a3a; font-family: 'Roboto', sans-serif; padding: 20px 20px; border-radius: 0; border: 2px solid #e0e0e0;} 
.homedetail_sec1 ul li:nth-child(2)             { margin-right: 0;} 
.homedetail_sec1 ul li:nth-child(4)             { margin-right: 0;} 
.homedetail_sec1 ul li:nth-child(5)             { width: 100%;}
.homedetail_sec1 ul li:nth-child(6)             { width: 100%;}
.homedetail_sec1 ul li:nth-child(8)             { margin-right: 0;}
.homedetail_sec1 ul li:nth-child(10)             { margin-right: 0;}
.homedetail_sec1 ul li:nth-child(12)             { margin-right: 0;}
.homedetail_sec1 ul li:nth-child(14)             { margin-right: 0;}
.homedetail_sec1 ul li label                    { font-size: 17px; line-height: 20px; color: #3a3a3a; font-family: 'Roboto', sans-serif; margin: 0; padding-bottom: 17px; font-weight: 400;}

.homedetail_sec1 ul li .btn   { border-radius: 0;     padding: 15px 20px;}
.bootstrap-select.btn-group .dropdown-toggle .caret { background:url('../imagesv2/down_arrow.png') no-repeat right; width: 12px; height: 8px; border: 0;}
.homedetail_sec1 ul li .btn-default                 { border: 2px solid #e0e0e0;}
.homedetail_sec2                                    { margin-bottom: 50px; padding: 0;}
.homedetail_sec2 h2                                 { font-size: 39px; line-height: 39px; color:#ff9a00; margin: 0; padding-bottom: 40px; font-family: 'Raleway', sans-serif; font-weight: 800;}
.homedetail_sec2 p                                  { font-size: 17px; line-height: 25px; color: #3b3b3b; margin: 0; padding-bottom: 25px; font-family: 'Roboto', sans-serif; }
.error_msg textarea                                 { width: 100%; margin-bottom: 16px; padding:20px; font-size: 14px; line-height: 20px; color: #9f9f9f; font-family: 'Roboto', sans-serif; resize: none; border: 2px solid #e0e0e0; height: 145px;}
.error_msg span                                     { font-size: 14px; line-height: 20px; color: #888888; margin: 0; padding-bottom: 35px; font-family: 'Roboto', sans-serif;}


.error_msg::-webkit-textarea-placeholder { /* Chrome/Opera/Safari */  color: #9f9f9f;  font-size: 14px; line-height: 20px; font-family: 'Roboto', sans-serif;}
.error_msg::-moz-placeholder { /* Firefox 19+ */  color: #9f9f9f;  font-size: 14px; line-height: 20px; font-family: 'Roboto', sans-serif;}
.error_msg:-ms-textarea-placeholder { /* IE 10+ */  color: #9f9f9f;  font-size: 14px; line-height: 20px; font-family: 'Roboto', sans-serif;}
.error_msg:-moz-placeholder { /* Firefox 18- */  color: #9f9f9f;  font-size: 14px; line-height: 20px; font-family: 'Roboto', sans-serif;}


.homedetail_sec3                                { margin-bottom: 40px; padding-bottom: 50px; border-bottom: 1px solid #e0e0e0;}
.checkbox_sec h2                                { font-size: 39px; line-height: 39px; color:#ff9a00; margin: 0; padding-bottom: 25px; font-family: 'Raleway', sans-serif; font-weight: 800;}
.checkbox_sec p                                 { font-size: 17px; line-height: 25px; color: #3b3b3b; margin: 0; padding-bottom: 35px; font-family: 'Roboto', sans-serif; }

.checkbx_block                                  { margin: 0; padding: 0; float: left; width: 270px;}
.checkbx_block .checkbox                        { padding-bottom: 18px;}
.checkbx_block .checkbox label:after, 
.checkbx_block .radio label:after {  content: '';  display: table;  clear: both;}

.checkbx_block .checkbox .cr,
.radio .cr {  position: relative; display: inline-block; border: 2px solid #3c8fe2;  border-radius:0; width:24px; height:24px;
    float: left; margin-right: .5em; top: -2px;}
.greychkbx_sec .checkbox .cr, .radio .cr    { border: 2px solid #e0e0e0;}

.checkbx_block .radio .cr { border-radius: 50%;}

.checkbx_block .checkbox .cr .cr-icon,
.radio .cr .cr-icon { position: absolute; font-size: .8em; line-height: 0; top: 50%; left: 20%;}

.checkbx_block .radio .cr .cr-icon {  margin-left: 0.04em;}

.checkbx_block .checkbox label input[type="checkbox"], .radio label input[type="radio"] {  display: none;}

.checkbx_block .checkbox label input[type="checkbox"] + .cr > .cr-icon, 
.radio label input[type="radio"] + .cr > .cr-icon { transform: scale(3) rotateZ(-20deg);  opacity: 0; transition: all .3s ease-in;}

.checkbx_block .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {  transform: scale(1) rotateZ(0deg); opacity: 1;}

.checkbx_block .checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {  opacity: .5;}

.checkbx_block .fa-check:before            { font-size: 15px; color: #3c8fe2;}
.checkbx_block .radio label, .checkbox label   { font-size: 17px; line-height: 20px; color: #3b3b3b; margin: 0; padding: 0; font-family: 'Roboto', sans-serif;}
.checkbx_block .checkbox .cr_blue, .radio .cr_blue { border: 2px solid #3c8fe2;}
.continue_btn                                   { text-align: center;}
.continue_btn .btn                              { width: 227px; background-color: #ff9a00; font-size: 20px; line-height: 22px; color: #fff; text-align: center; padding: 20px 0; text-transform: uppercase; font-family: 'Roboto', sans-serif; font-weight: bold; border: 0; border-radius: 0; margin: 0 auto 0; outline: none;}
/***************************** inner1 end here *** *************************************/

/***************************** inner2 start here *** *************************************/
.jointoday_sec                                       { margin: 110px 0 0 0; padding: 0; width: 100%;}
.jointoday_sec .container                            { padding: 106px 0 55px;}
.jointoday_sec h1                                   { font-size: 59px; line-height: 59px; color:#3c8fe2; margin: 0; padding-bottom: 25px; font-family: 'Raleway', sans-serif; font-weight: 800; text-align: center;}
.jointoday_sec p                                    { font-size: 17px; line-height: 25px; color: #3b3b3b; margin: 0; padding-bottom: 25px; font-family: 'Roboto', sans-serif; text-align: center;}
.joinform_sec                                        { width: 680px; margin: 0 auto 30px; background-color: #fff;}
.joinform_inn                                       { margin: 0 auto; padding: 35px 0; width: 90%;}
.joinform_inn form                                  { width: 100%; margin: 0; padding: 0;}
.topjoin_form h3                                        { font-size: 17px; line-height: 17px; color: #888888; margin: 0; padding-bottom: 25px; font-family: 'Roboto', sans-serif;}
.topjoin_form ul                                        { list-style: none; margin: 0; padding: 0;}
.topjoin_form ul li                                     { display: inline-block; width: 47.5%; margin: 0 27px 27px 0; padding: 0;}
.topjoin_form ul li:nth-child(2)                        { margin-right: 0;}
.topjoin_form ul li .form-control                       { width: 100%; border: 2px solid #e0e0e0; margin: 0; padding:0 20px; border-radius: 0; font-size: 17px; line-height: 20px; color: #3b3b3b; font-family: 'Roboto', sans-serif; height: 50px;}
.topjoin_form ul li:nth-child(3)                        { width: 100%; margin-right: 0;}
.topjoin_form ul li:nth-child(4)                        { width: 100%; margin-right: 0;}
.topjoin_form ul li:nth-child(5)                        { width: 100%; margin-right: 0;}

.btmjoin_form h3                                         { font-size: 17px; line-height: 17px; color: #888888; margin: 0; padding-bottom: 25px; font-family: 'Roboto', sans-serif;}
.btmjoin_form ul                                        { list-style: none; margin: 0; padding: 0;}
.btmjoin_form ul li                                     { display: inline-block; width: 100%; margin: 0 0 27px 0; padding: 0;}
.btmjoin_form ul li:nth-child(2)                        { margin-right: 0;}
.btmjoin_form ul li .form-control                       { width: 100%; border: 2px solid #e0e0e0; margin: 0; padding:0 20px; border-radius: 0; font-size: 17px; line-height: 20px; color: #3b3b3b; font-family: 'Roboto', sans-serif; height: 50px;}
.btmjoin_form ul li:nth-child(4)                        { width: 47.5%; margin-right: 0;}

.btmjoin_form ul li .checkbox label:after, 
.btmjoin_form ul li .radio label:after {  content: '';  display: table;  clear: both;}

.btmjoin_form ul li .checkbox .cr,
.radio .cr {  position: relative; display: inline-block; border: 2px solid #e0e0e0;  border-radius:0; width:24px; height:24px;
    float: left; margin-right: .5em; top: -2px;}

.btmjoin_form ul li .radio .cr { border-radius: 50%;}

.btmjoin_form ul li .checkbox .cr .cr-icon,
.radio .cr .cr-icon { position: absolute; font-size: .8em; line-height: 0; top: 50%; left: 20%;}

.btmjoin_form ul li .radio .cr .cr-icon {  margin-left: 0.04em;}

.btmjoin_form ul li .checkbox label input[type="checkbox"], .radio label input[type="radio"] {  display: none;}

.btmjoin_form ul li .checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon { transform: scale(3) rotateZ(-20deg);  opacity: 0; transition: all .3s ease-in;}

.btmjoin_form ul li .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {  transform: scale(1) rotateZ(0deg); opacity: 1;}

.btmjoin_form ul li .checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {  opacity: .5;}
.btmjoin_form ul li:nth-child(6)                { margin-bottom: 0;}
.btmjoin_form ul li:last-child                  { margin-bottom: 0;}
.btmjoin_form                                   { margin-bottom: 40px; padding-bottom: 40px; border-bottom: 1px solid #e0e0e0;}
.getstarted_btn                                 { text-align: center;}
.getstarted_btn .btn                           { width: 227px; background-color: #ff9a00; margin: 0 auto; padding: 20px 0; text-align: center; font-size: 20px; line-height: 20px; color: #fff; font-family: 'Roboto', sans-serif; font-weight: 700; text-transform: uppercase; border-radius: 0; border: 0;}
.login-form                                    { text-align: center;}
.login-form span                               { display: block; font-size: 17px; line-height: 18px; color:#999999; margin: 0; padding: 0; font-family: 'Roboto', sans-serif;}
.login-form span a                              { text-decoration: none; color: #3c8fe2; font-family: 'Roboto', sans-serif;}

/***************************** inner2 end here *** *************************************/

/***************************** inner3 start here *** *************************************/
.activate_mbmbrshpsec                           { margin:200px 0 100px ; padding: 0;}
.activatembmbr_inn                              { width: 75%; margin: 0 auto; padding: 0; background-color: #ffffff;}
.topmbmbrshp_sec                                { margin: 0 auto; padding:65px 0 0; width: 90%;}
.topmbmbrshp_sec h1                             { font-size: 59px; line-height: 59px; color: #3c8fe2; margin: 0; padding-bottom: 28px; font-family: 'Raleway', sans-serif; font-weight: 800;
    text-align: center;}
.topmbmbrshp_sec em                             { font-size: 17px; line-height: 25px; color: #3b3b3b; margin: 0; padding-bottom: 25px; font-family: 'Roboto', sans-serif; text-align: center; font-style: normal; display: block;}
.topmbmbrshp_sec p                              { font-size: 31px; line-height: 40px; color: #3a3a3a; font-family: 'Raleway', sans-serif; font-weight: 400; margin: 0; padding-bottom: 50px; text-align: center;}
.mbmbrshplisted_sec                             { margin: 0 auto; padding:0 0 20px 0; width: 90%;}
.mbmbrshplisted_sec h2                          { font-size:30px; line-height: 30px; color: #3c8fe2; margin: 0; padding-bottom: 28px; font-family: 'Raleway', sans-serif; font-weight:500; }
.mbmbrshplisted_sec ul                          { list-style: none; margin: 0; padding: 0;}
.mbmbrshplisted_sec ul li                       { margin-bottom: 24px; padding: 0;}
.mbmbrshplisted_sec ul li em                    { font-size: 22px; line-height: 22px; color: #ffffff; text-align: center; display: inline-block; vertical-align: middle; font-style: normal; width: 34px; height: 34px; background-color: #85c075; border-radius: 100%; font-family:'Bebas'; padding: 4px 0;}
.mbmbrshplisted_sec ul li p                     { font-size: 20px; line-height: 25px; color: #3a3a3a; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; display: inline-block;
    vertical-align: top; padding: 0 0 0 17px;}
.mbmbrshplisted_sec ul li:nth-child(2) em          { background-color: #f5c53d;}
.mbmbrshplisted_sec ul li:last-child em            { background-color: #71c5d3;}
.paypalsec                                          { margin: 0; padding:40px 0 0 0; width: 100%; border-top:1px solid #f1f1f1;}
.paypalsec a                                        { width: 340px; height:70px; background-color:#ff9a00; font-size: 18px; line-height: 18px; text-transform: uppercase; 
    font-family: 'Roboto', sans-serif; font-weight: bold; padding:17px 0; text-align: center; display: block; margin: 0 auto 25px; color: #ffffff; text-decoration: none;}
.paypalsec a strong                                 { font-size: 31px; line-height: 31px; font-style: italic; position: relative; top: 5px; padding: 0 0 0 10px;}
.paypalsec a .fa                                    { padding: 0 0 0 8px;}
.brandlogo_sec                                      { margin-bottom: 33px; padding: 0;}
.brandlogo_sec ul                                   { list-style: none; margin: 0; padding: 0; text-align: center;}
.brandlogo_sec ul li                                { display: inline-block; vertical-align: middle; margin: 0 6px 0 0; }
.brandlogo_sec ul li a                              { background: none; display: block;  width: auto; padding: 0; height: auto; margin: 0;}
.paypalsec p                                        { font-size: 16px; line-height: 20px; color: #3a3a3a; margin: 0; padding-bottom: 70px; text-align: center; font-family: 'Roboto', sans-serif;}
/***************************** inner3 start here *** *************************************/
/***************************** start container here ****************************************/

/***************************** start footer here ****************************************/
#footer                                         { width: 100%; margin: 0; padding: 0;}
.footer_top                                     { width: 100%; margin: 0; padding: 0; background-color: #3c8fe2; position: relative;}
.footer_top .container                          { padding: 53px 0 63px;}
.footer_block                                   { margin: 0; padding: 0;}
.footer_block h4                                { font-size: 22px; line-height: 22px; color: #fff; margin: 0; padding-bottom: 17px; font-family: 'Roboto', sans-serif; font-weight: 700;}
.footer_block p                                 { font-size: 13px; line-height: 20px; color: #ffffff; margin: 0; padding-right: 40px; font-family: 'Roboto', sans-serif; font-weight: 700;}
.ftr_social                                     { margin: 0; padding: 0;}
.footer_block ul                                { list-style: none; margin: 0; padding: 0;}
.footer_block ul li                             { margin: 0; padding: 0;}
.footer_block ul li a                           { font-size: 13px; line-height: 20px; color: #ffffff; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; font-weight: 700; text-decoration: none;}
.footer_block ul li a .fa                       { padding-right: 5px;}
.footer_block ul li a:hover                     {color: #ff9a00;}
.ftr_social                                     { margin: 0; padding: 0;}
.ftr_social ul                                  { list-style: none; margin: 0; padding: 0 0 30px 0;}
.ftr_social ul li                               { display: inline-block; margin-right: 18px; padding: 0;}
.ftr_social ul li a                             { font-size: 25px; line-height: 25px; color: #9ec7f1; margin: 0; padding: 0; text-decoration: none;}
.ftr_social ul li a:hover                       { color: #ff9a00;}
.ftr_social ul li:last-child                    { margin-right: 0;}
.ftr_social p                                   { font-size: 13px; line-height: 20px; color: #ffffff; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; font-weight: 700;}
.ftr_social p a                                 { color: #fff; text-decoration: none;}
.ftr_social p a:hover                           { text-decoration: underline;}
.footer_btm                                     { width: 100%; margin: 0; padding: 17px 0 12px; background-color: #2b80d6;}
.leftft_btm                                     { float: left; margin: 0; padding: 0;}
.leftft_btm p                                   { font-size: 13px; line-height: 20px; color: #ffffff; margin: 0; padding: 0; font-family: 'Roboto', sans-serif; font-weight: 700;}
.rightft_btm                                    { float: right; margin: 0; padding: 0;}
.rightft_btm ul                                 { list-style: none; margin: 0; padding: 0;}
.rightft_btm ul li                              { display: inline-block; margin-right: 14px; padding: 0; font-size: 13px; line-height: 20px; color: #ffffff;}
.rightft_btm ul li a                            { font-size: 13px; line-height: 20px; color: #ffffff; margin-right: 14px; padding: 0; font-family: 'Roboto', sans-serif; font-weight: 700; }
.backtop_arrow                                  { position: absolute; top:70px; right: 60px;}
.backtop_arrow a                                { display: block; width: 54px; height: 51px; background-color: #ffffff; color: #2b80d6; text-align: center; font-size: 30px; line-height: 30px; padding: 10px 0;}
/***************************** end footer here ****************************************/

    label.error{  
  background: #d93814 !important;
  padding: 10px !important;
  border-radius: 0 !important;
  position: relative; 
  display: inline-block ;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: -66px;
  position:absolute; left:0; z-index:3;
  color:#ffffff;
}
input.error{
    border: 2px solid #d93814 !important; 
}
label.error:before{ 
  content: ''; 
  width: 0; 
  height: 0; 
  /*border-left: 10px solid transparent;*/
  border-right: 10px solid transparent;
  border-top: 10px solid #d93814;
  position: absolute; 
  bottom: -10px; 
  left:0;
}
label.error:after{
  color: #c51244 !important;
}
.topjoin_form ul li	{ position:relative;}



.btmjoin_form ul li .checkbox label input[type="checkbox"], .radio label input[type="radio"]	{  visibility: hidden; display:block;}
.btmjoin_form ul li .checkbox label input[type="checkbox"].error + label + span i	{ visibility:hidden;}
.btmjoin_form ul li .checkbox label input[type="checkbox"].valid + label + span i	{ visibility:visible;}



.hdr_innr                                               	{ position: fixed; left: 0; right: 0; z-index: 9999; top: 0;}
.hdr_innr .hdr_bttm                                     { position: inherit;  background: #ffffff; background:url('../imagesv2/hdrbg.jpg') no-repeat bottom #fff; background-size: 100%; }
.stickyhdrbtm_logo                                      { display: none; float: left; margin: 0; padding: 0;}
.hdr_innsec                                             	{ background:url('../imagesv2/hdrbg.jpg') no-repeat bottom #fff; background-size: 100%;}

.bttm_header                                            { background: none !important; position: absolute; z-index: 9999;}
.bttmheader_sec                                         { position: inherit !important; left: inherit !important; right: inherit !important; top: inherit !important;}
.banner_wrprsec                                         { margin: 0 !important;}                                     
.righthdrbtm_nav .navhder_btm li a                      { color: #ffffff !important;}
.righthdrbtm_nav .navhder_btm li:last-child a           { color: #ffffff !important;}
.righthdrbtm_nav .navhder_btm li:last-child a:hover	{ color: #ff9a00 !important;}

.featurecrsl_sec                                        { width: 100%; margin: 0; padding: 0; background-color: #3c8fe2;}
.featurecrsl_sec .container                             { padding: 100px 0;}
.featurecrsl_sec h2                                     { font-size: 59px; line-height: 70px; color: #ffffff; margin: 0; padding-bottom: 70px; font-family: 'Raleway', sans-serif;
                                                        font-weight: 800; text-align: center;}
.leftftr_sec                                            { margin: 0; padding: 0;}
.leftftr_sec img                                        { display: block; width: 100%; height: auto; display: block;}
.right_ftrsec                                           { margin: 0; padding-left: 20px;}
.right_ftrsec h2                                        { font-size: 59px; line-height: 59px; text-align: left; color: #ffffff; margin: 0; padding-bottom: 20px; 
                                                        font-family: 'Raleway', sans-serif;
                                                        font-weight: 800;}
.right_ftrsec h3                                        { font-size: 40px; line-height: 40px; color: #ffffff; margin: 0; padding-bottom: 20px; font-family: 'Raleway', sans-serif;
                                                        font-weight: 700;}
.right_ftrsec h4                                        { font-size: 30px; line-height: 30px; color: #ffffff; margin: 0; padding-bottom: 20px; font-family: 'Raleway', sans-serif;
                                                        font-weight: 700;}
.right_ftrsec p                                         { font-size: 20px; line-height: 30px; color: #ffffff; margin: 0; padding-bottom: 100px;  font-family: 'Raleway', sans-serif; font-weight: 600;}
.right_ftrsec a                                         { width: 200px; display: block; border: 2px solid #ffffff; margin: 0; padding:20px 0; text-decoration: none; font-size: 18px; line-height: 20px; text-align: center; text-transform: uppercase; color: #ffffff; font-family: 'Roboto', sans-serif;}
.right_ftrsec a:hover                                   { background-color: #ff9a00; color: #ffffff; border: 2px solid #ff9a00;}
.ftr_carousal .slick-dots li                            { width: 22px; height: 25px;}
.ftr_carousal .slick-dots li button                     { background-color: #ffffff; border-radius: 100%;} 
.ftr_carousal .slick-dots li button:before              { display: none;}
.ftr_carousal .slick-dots li button:hover:before        { color:#ff9a00; }
.ftr_carousal .slick-dots li button:hover, .slick-dots li button:focus, .slick-dots li.slick-active button{ background-color: #ff9a00; color: #ff9a00; }
.slick-dots li button:slick-active                      { background-color: #ff9a00; color:#ff9a00;}
.ftr_carousal .slick-dots li button:before:slick-active     { color:#ff9a00;}
.ftr_carousal .slick-dots                               { margin: 10px 0 0; position: relative;}

.ui-menu a.ui-menu-item-wrapper                         { display: block; padding: 15px 20px !important; border-bottom: 1px solid #b4b4b4; }
.ui-menu a.ui-menu-item-wrapper span                    { font-size: 15px !important; line-height: 15px !important; color: #3b3b3b !important;   font-family: 'Roboto', sans-serif !important;  display: inline-block;}

/**.header_inn.top                                         { position: fixed; left: 0; top: 0; z-index: 9999;}**/
/**.header_inn.top .bttm_header                            { background: url(../imagesv2/hdrbg.jpg) no-repeat bottom #ffffff !important;}**/
/**.header_inn.top .bttm_header .navhder_btm li a          { color: #000000 !important;}**/ 
.header_inn.top .bttm_header .navhder_btm li a:hover    { color: #ff6326 !important;}
.header_inn.top .bttm_header .navhder_btm li:last-child a { color: #3c8fe2 !important;}

ul.ui-menu li.ui-menu-item a.ui-menu-item-wrapper:first-letter{ font-weight:bold !important; }
.pac-container.pac-logo .pac-item .pac-icon	{ display:none;}
.sabit .bttm_header                                         { background: url(../imagesv2/hdrbg.jpg) no-repeat bottom #ffffff !important;}
/**.sabit .bttm_header .navhder_btm li a                       { color: #000000 !important;} **/

.hdr_bttm.bttm_header.fixed-header                          {background-color: transparent!important; background-image: none!important; transition: .5s;
    -moz-transition: .5s;  -webkit-transition:.5s; -o-transition:.5s;  -ms-transition:.5s;}
.navhder_btm li a        								{ color: #ffffff !important;}

.sabit .fixed-header .hdrbtm_inn .righthdrbtm_nav	.navbar .navhder_btm li a:hover	{color: #ff9a00 !important;}

#header.top  .righthdrbtm_nav .navhder_btm li a 	{ color:#000000 !important;}
#header.top  .righthdrbtm_nav .navhder_btm li:last-child a	{ color: #3c8fe2 !important;}
#header.top  .righthdrbtm_nav .navhder_btm li:last-child a:hover	{ color: #3c8fe2 !important;}
#header.top  .righthdrbtm_nav .navhder_btm li a:hover 	{ color:#ff9a00 !important;}


.homebanr_wrpr								                { position:relative;}
.modal                                                      { z-index: 9999;}
.modal-dialog                                               {  width: 600px; margin: 225px auto}
.modal-header                                               { border-bottom: 0;}
.modal-body form                                            { width:95%; margin: 0 auto; padding: 0;}
.modal-body form h2                                         { padding: 0 0 20px 0; margin: 0; display: block; font-family: 'Raleway', sans-serif; font-size: 22px; line-height: 22px;
                                                            color: #000000;font-weight: bold;}
.modal-body form ul                                         { list-style: none; margin: 0; padding: 0;}
.modal-body form ul li                                      { margin-bottom: 20px; padding: 0;}
.modal-body form ul li input                                { width:100%; font-size: 14px; line-height: 14px; height: 50px; padding: 8px;  font-family: 'Roboto', sans-serif;}
.modal-body form ul li:nth-child(2)                         { position: relative;}
.modal-body form ul li:nth-child(2) a                       { position: absolute; right:10px; z-index: 5; top:16px;}
.modal-content                                              { box-shadow: none; border: 0; font-family: 'Roboto', sans-serif; border-radius: 20px;}
.modal-body form ul li .signin_btn                          {background: #85c075; font-size: 18px; line-height: 18px; color: #ffffff; border-radius: 20px; cursor: pointer; 
    font-family: 'Roboto', sans-serif; border: 0; box-shadow: none; width: 32%;}
.modal-body form ul li:last-child                           { width: auto; margin-bottom: 40px;}
.modal-body span                                            { display: block; text-align: center; font-size: 14px; color: #000000; margin: 0; padding: 0; font-family: 'Roboto', sans-serif;}
.modal-body span a                                          { color: #f77e2e; padding: 0; margin: 0 0 0 5px; text-decoration: none;}
.modal-body span a .fa                                       { color: #000000;}
.modal-body span a:hover                                    { text-decoration: underline;}

.modal-body form ul li label.error					{ margin-top: 0;}  
.modal-body form ul li:first-child label.error		{ left: 30px;} 
.forgot_scndpopup label.error						{ left: 28px;}

.forgot_scndpopup h3								{ padding: 0 0 20px 0; margin: 0; display: block; font-family: 'Roboto', sans-serif;  font-size: 22px;  line-height: 22px; color: #000000; font-weight: bold;}
.forgot_scndpopup p								{ padding: 0 0 20px 0; margin: 0; display: block; font-family: 'Roboto', sans-serif;  font-size: 14px;  line-height: 20px; color: #000000;}
.forgot_scndpopup input							{ padding: 12px 2.5% 12px 2.5%; margin: 0; font-family: 'Lato', sans-serif; font-size: 14px; line-height: 18px; color: #b4b4b4; font-weight: normal; width: 43.5%; display:block; border:1px solid #dedede;}
.forgot_scndpopup  .submitbtn					{ padding: 13px 8% 13px 8%; margin: 11px 0 0 0; font-family: 'Lato', sans-serif; font-size: 18px; line-height: 18px; color: #ffffff; font-weight: bold;
												border: none; background: #f5c53d; width: initial; display: inline-block; border-radius: 20px; cursor: pointer;}
												
/**.bnr_leftsec form input[type="text"]:hover, .bnr_leftsec form input[type="text"]:hover:focus, .bnr_leftsec form input[type="text"]:active { background: url(../imagesv2/hoversrch_icon.png) no-repeat 95% #ffffff !important;}**/
.modal-header									{ padding: 15px 15px 0 15px;}
.modal-body										{ padding: 0 15px 15px 15px;}

.srchfld_sec 									{ position:relative;}
.bnrsrch_icon									{ position:absolute; right:20px; top:20px; z-index:999;}
.bnrsrch_icon a									{ display:block; font-size:23px; line-height:23px; color:#d6d6d6; text-decoration:none;}
.bnrsrch_icon a:hover							{ color:#ff9a00;}




/**.bnrsrch_icon a.icon2							{ display:none; margin-top: -23px; z-index:999; transition: all 0.5s ease; }
.bnrsrch_icon a.icon1:hover + a.icon2			{ display:block;}**/
body									{ padding-right:0 !important;} 


