﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Impersonate.aspx.cs" Inherits="HouseSwapHolidays.Impersonate" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <ul>
            
        </ul>
    </div>
    </form>
</body>
</html>
