﻿@model IPublishedContent
<ul class="admin-bcrumb">
    @foreach (var ancestor in Model.Ancestors().Where(w => w.IsVisible() && w.DocumentTypeAlias != "Website").OrderBy("Level"))
    {
        <li><a href="@ancestor.Url">@ancestor.Name »</a></li>
    }
    <li>@Model.Name</li>
</ul>