﻿@model HouseSwapHolidays.Core.Models.ViewModels.Base.BaseViewModel
@using HouseSwapHolidays.Core.Utilities;
@{
    var umbHelper = CurrentRequest.GetUmbracoHelper();
    var ctx = umbHelper.UmbracoContext.HttpContext;
    var activateTransparentHeader = Model.TransparentHeader && Model.Content.DocumentTypeAlias == "PageHomeV2";
    
}

<header id="header" class="@(activateTransparentHeader ? "header_inn" : "") yapiskan">
    @if (Model.PromotionalAreas != null)
    {
        if (Model.PromotionalAreas.ShowPromoStripForInter && ctx.Session.IsMemberInternational())
        {
            <div class="hdr_top">
                <span>@Html.Raw(Model.PromotionalAreas.PromoStripInterContent)</span>
            </div>
        }

        if (Model.PromotionalAreas.ShowPromoStripForLocal && !ctx.Session.IsMemberInternational())
        {
            <div class="hdr_top">
                <span>@Html.Raw(Model.PromotionalAreas.PromoStripLocalContent)</span>
            </div>
        }
    }
    <div class="hdr_bttm @(activateTransparentHeader ? "bttm_header" : "")">
        <div class="hdrbtm_inn">
            <div class="lefthdrbtm_logo">
                <a href="/"><img src="@(activateTransparentHeader ? Model.LogoUrlTransparent : Model.LogoUrl)" alt="holidaylogo_highimg" width="400" height="72"></a>
            </div>
            <div class="righthdrbtm_nav">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right @(activateTransparentHeader ? "navhder_btm" : "")">
                            @foreach (var menu in Model.TopMenu)
                            {
                                <li>
                                    <a href="@menu.Url">
                                        @menu.Name
                                        @if (menu.Id == Model.CurrentPageId)
                                        {
                                            <span class="sr-only">(current)</span>
                                        }
                                    </a>
                                </li>
                            }
                            @if (Model.IsLoggedIn)
                            {
                                <li><a href="@umbHelper.Url(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.MyProfile)">My Details</a></li>
                                <li class="@(Model.IsLoggedIn ? "no-border" : "")"><a href="" id="sign-out">Log Out</a></li>
                            }
                            else
                            {
                                <li><a href="#!" id="logIn" data-toggle="modal" data-target="#myModal"><i class="fa fa-lock" aria-hidden="true"></i>Log in </a></li>
                            }
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                    <!-- /.container-fluid -->
                </nav>
                @if (Model.JoinButton != null & !Model.IsLoggedIn)
                {
                    <div class="join_sec">
                        <a href="@Model.JoinButton.Link" target="@Model.JoinButton.Target">@Html.Raw(Model.JoinButton.Title)</a>
                    </div>
                }
                else
                {
                    
                }
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</header>