﻿@model HouseSwapHolidays.Core.Models.ViewModels.PageJoinUsViewModel

@using (Html.BeginUmbracoForm("Register", "RegistrationForm", FormMethod.Post, new { id = "newsletters_form" }))
{
    <div class="topjoin_form">
        @if (!string.IsNullOrEmpty(Model.FormTitle)) {
            <h3>@Model.FormTitle</h3>
        }
        <ul>
            <li>
                <input type="text" class="form-control" placeholder="First Name" name="firstname" id="firstname">
            </li>
            <li><input type="text" class="form-control" placeholder="Last Name" name="lastname" id="lastname"></li>
            <li>
                <input type="email" class="form-control" placeholder="Email Address" name="emailaddress" id="emailaddress">
            </li>
            <li><input type="password" class="form-control" placeholder="Password" name="password" id="password"></li>
            <li><input type="password" class="form-control" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword"></li>
        </ul>
    </div>
    <div class="btmjoin_form">
        <ul>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked name="acceptnewsletter" id="acceptnewsletter">
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        Yes please send me your newsletter
                    </label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" checked name="multichannel" id="multichannel">
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        Yes, I would like a bonus free membership to other house swap websites by Itchyfoot Pty Ltd <span class="tipsyme" title="We operate a network of home exchange websites. By selecting this option, you can become a member for free on our sister websites (e.g. YourHomeForMine.com). Please note the same Terms of Use apply to all home exchange websites operated by us."><a href="#!">(what is this?)</a></span></label>
                </div>
            </li>
            <li>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="accepttermsandcondition" id="accepttermsandcondition">
                        <span class="cr"><i class="cr-icon fa fa-check"></i></span>
                        I accept the <a href="/terms-of-use/" target="_blank">Terms and Conditions</a> of use
                    </label>
                </div>
            </li>
        </ul>
    </div>
    <div id="ajaxcall" style="color: green; font-size: 15px; text-align: center; margin-bottom: 10px;"></div>
    <div class="getstarted_btn">
        <!-- <button type="button" class="btn btn-default ">GET STARTED</button> -->
        <input type="submit" name="newsletters" id="newsletters" value="GET STARTED" class="btn btn-default">
    </div>
}