﻿@model HouseSwapHolidays.Core.Models.Items.QuickLinks
<!--div class="quick-links">
    <h4>Quick Links</h4>
    <ul>
        <li class="no-border">
            <a href="#">My messages</a>
            <ul>
                <li>
                    <a href="/my-profile/inbox">
                        Inbox
                        <span>@Model.UnreadMessage</span>
                    </a>
                </li>
                <li><a href="#">Sent items</a></li>
            </ul>
        </li>
        <li>
            <a href="#">My profile(s)</a>
            <ul>
                <li><a href="#">Home Sitter</a></li>
                <li><a href="#">Home Owner</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Contact Details</a>
        </li>
        <li>
            <a href="#">FAQs</a>
        </li>
    </ul>
</div-->