﻿@inherits UmbracoViewPage
@{
    
    //// TODO: Hardcoded below, must be inside controller
    //System.Text.StringBuilder locationList = new System.Text.StringBuilder();

    //locationList.Append("<select name='l' class='dropdown' id='search-country' style=\"width:135px;\" >");
    //locationList.Append("<option value='-1'>Any</option>");
    //locationList.Append("<optgroup label='Search by continent'>");
    //Common.ContinentCollection continentCollection = Common.ContinentDAL.Instance.GetAll();
    //foreach (Common.Continent continent in continentCollection)
    //{
    //    locationList.Append(string.Format("<option value='{0}' data-type='{1}'>{2}</option>", continent.ID.ToString(), "cn", continent.Name));
    //}
    //locationList.Append("</optgroup>");
    //locationList.Append("<optgroup label='Search by country'>");

    //Common.CountryCollection countryCollection = Common.CountryDAL.Instance.GetAllByDefault(1);
    //foreach (Common.Country country in countryCollection)
    //{
    //    locationList.Append(string.Format("<option value='{0}' data-type='{1}'>{2}</option>", country.Code, "c", country.Name));
    //}

    //locationList.Append("</optgroup>");
    //locationList.Append("</select>");
    
}

<div class="refine-section">
    <div class="perth_left">
        <h4>Refine Search</h4>
        <div class="location1">
            <div class="select1">
                <small>LOCATION :</small>
                <div class="select1_lft">
                    @*@Html.Raw(locationList.ToString())*@
                    <select name="l" id="search-country">
                        <option value='-1' data-type="c">Any</option>
                        <option value='AU' data-type="c">Australia</option>
                        <option value='NZ' data-type="c">New Zealand</option>
                        <option value='OS' data-type="c">International</option>
                        <optgroup label='Australia by Region'>
                            <option value='CT' data-type="r">Australian Capital Territory</option>
                            <option value='NS' data-type="r">New South Wales</option>
                            <option value='NT' data-type="r">Northern Territory</option>
                            <option value='QL' data-type="r">Queensland</option>
                            <option value='SA' data-type="r">South Australia</option>
                            <option value='TS' data-type="r">Tasmania</option>
                            <option value='VI' data-type="r">Victoria</option>
                            <option value='WA' data-type="r">Western Australia</option>
                        </optgroup>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <div class="select1">
                <small>FROM :</small>
                <div class="select1_lft widt_1">
                    <select class="dropdown" id="search-from">
                        <option value="-1">Any</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <div class="select1">
                <small>TO:</small>
                <div class="select1_lft widt_2">
                    <select class="dropdown" id="search-to">
                        <option value="-1">Any</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                </div>
                <div class="clear"></div>
            </div>
            <input type="text" class="txt_fld1 location-autocomplete" id="search-text" placeholder="CITY, TOWN, SUBURB, OR ID:">
            <div class="holiday-chk">
                <input hidden="hidden" name="r1" id="search-opentolastmin" type="checkbox" value=""><label for="r1">Display properties open to last minute  holiday swaps first</label>
                <div class="clear"></div>
            </div>
        </div>
        <input class="search_icn" name="" type="button" id="search-btn" value="SEARCH PROPERTIES">
        <ul>
            <li><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.AdvanceSearch)">Advanced search</a></li>
            <li class="no_bg"><a href="@Umbraco.NiceUrl(HouseSwapHolidays.Core.Models.Utilities.Constants.NodeId.MyProfile)">Clear search</a></li>
        </ul>
    </div>
</div>
