﻿<div id="popup-sendenquiry" style="display: none;">
    <div class="pop_up">
        <!--<a class="close2 close"><img src="images/close_arw2.png" width="13" height="13" alt="close_arw2"></a>-->
        <h6>House Sitter Inquiry</h6>
        <p>
            To : item.ToName <br>From : item.FromName <a href="#">(view property)</a>
        </p>
        <span>You have received the following house sitter enquiry from item.FromName:</span>
        <ul>
            <li>item.Message</li>
        </ul>
        <a href="#" class="histry1">View message history</a>
        <span>To Reply to item.FromName, complete the response below and ‘select message’</span>
        <textarea name="" cols="1" rows="1" id="click3" class="text_area" onclick=" if (this.value == '') {this.value = ''} " onblur=" if (this.value == '') {this.value = ''} "></textarea>
        <input class="send_1" name="" type="button" value="Send reply">
    </div>
</div>